    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> 
   <!-- cover -->
<style>
  
</style>
    <header>
        <div class="container" style="max-width: 90%;">
            <div class="content">
                <p class="title">Providing 1 stop solution for all the Startup & Legal Compliances</p>
                <p class="subtitle">
                    Savetaxs provides you all kind of solution starting from company registration, GST Resitration, Tax Filling, Trademark, Registration and much more..
                </p>
                <form action="#">
                    <div class="group">
                        <input type="text" placeholder="Search anything...">
                        <button>Search</button>
                    </div>
                </form>
            </div>
            <img src="/dashboard/admin/images/home-img.png" alt="svg">
        </div>
    </header>

    <!-- services -->
    <section class="service">
        <p class="title">Our Services</p>
      <div id="demo" class="carousel slide" data-ride="carousel" data-interval="false" style="width: 100vw;">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active" style="margin-bottom: 80px;">
      <div class="cards">
           <div class="card">
              <p class="head">Private Limited company Registration</p>
              <p class="price">&#x20b9 2999</p>
              <p class="more">Know More</p>
           </div>

           <div class="card">
              <p class="head">Private Limited company Registration</p>
              <p class="price">&#x20b9 2999</p>
              <p class="more">Know More</p>
           </div>

           <div class="card">
              <p class="head">Private Limited company Registration</p>
              <p class="price">&#x20b9 2999</p>
              <p class="more">Know More</p>
           </div>
       </div>
    </div>
    <div class="carousel-item" style="margin-bottom: 80px;">
      <div class="cards">
           <div class="card">
              <p class="head">Private Limited company Registration</p>
              <p class="price">&#x20b9 2999</p>
              <p class="more">Know More</p>
           </div>

           <div class="card">
              <p class="head">Private Limited company Registration</p>
              <p class="price">&#x20b9 2979</p>
              <p class="more">Know More</p>
           </div>

           <div class="card">
              <p class="head">Private Limited company Registration</p>
              <p class="price">&#x20b9 2sd9</p>
              <p class="more">Know More</p>
           </div>
       </div>
    </div>
    <div class="carousel-item" style="margin-bottom: 80px;">
      <div class="cards">
           <div class="card">
              <p class="head">Private Limited company Registration</p>
              <p class="price">&#x20b9 sd99</p>
              <p class="more">Know More</p>
           </div>

           <div class="card">
              <p class="head">Private Limited company Registration</p>
              <p class="price">&#x20b9 2999</p>
              <p class="more">Know More</p>
           </div>

           <div class="card">
              <p class="head">Private Limited company Registration</p>
              <p class="price">&#x20b9 2999</p>
              <p class="more">Know More</p>
           </div>
       </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>

 </section>
    <!-- consult -->
    <section class="consult">
        <form action="">
            <input type="text" placeholder="Full Name">
            <input type="text" placeholder="Phone Number">
            <input type="text" placeholder="Email">
            <input type="text" placeholder="City">
            <button>Submit</button>
        </form>
        <div class="side">
            <p class="title">Get Free Consultation</p>
            <p>Get a call from our expert and get a free Consultation on any of your requirements</p>
        </div>
    </section>

    <section class="business">
        <p class="title">Business Serverd</p>
        <div class="badges">
            <div class="badge">
                <div class="badgeimg one"></div>
                <p class="count">4,000+</p>
                <p class="sub">Clients Served</p>
            </div>
            <div class="badge">
                <div class="badgeimg two"></div>
                <p class="count">150+</p>
                <p class="sub">Partners</p>
            </div>
            <div class="badge">
                <div class="badgeimg three"></div>
                <p class="count">7000+</p>
                <p class="sub">Happy Customers</p>
            </div>
        </div>
    </section>

    <section class="choose">
        <div class="content">
            <p class="title">Why choose <i><b>savetaxs</b></i>?</p>
            <ul>
                <li>India's <b>best startup's legal service provider</b> company.</li>
                <li><b>Lowest pricing</b> through autmation and technology.</li>
                <li><b>Startup friendly team</b> which gives you service beyond satisfaction</li>
                <li><b>Superb packages</b> which you cant find anywhere.</li>
                <li>After service <b>Lifetime support policy</b> as premium client</li>
                <li><b>Confidential documents policy</b> during the process</li>
                <li><b>Highest credibilty partners</b> from the induastry.</li>
            </ul>
        </div>
    </section>

    <section class="trust">
        <div class="content">
            <p class="title">Trusted by the best</p>

        </div>
    </section>


    <section class="contact">
        <div class="content">
            <p class="title">Contact us</p>
            <div class="group">
                <p class="head">Call us</p>
                <p class="sub">+91-7515795165, +91-8624562452</p>
            </div>
            <div class="group">
                <p class="head">Email us</p>
                <p class="sub">support@savetaxs.com</p>
            </div>
            <div class="group">
                <p class="head">Connect with us</p>
                <ul class="social">
                    <li><img src="images/Contact/fb.png" alt="" srcset=""></li>
                    <li><img src="images/Contact/in.png" alt=""></li>
                    <li><img src="images/Contact/insta.png" alt="" srcset=""></li>
                    <li><img src="images/Contact/tweet.png" alt="" srcset=""></li>
                    <li><img src="images/Contact/you.png" alt="" srcset=""></li>
                </ul>
            </div>
        </div>
    </section>

   
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>