    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> 
    <head>
      <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-165577552-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-165577552-1');
</script>

<script>
              
                // Replace with your client ID from the developer console.
                var CLIENT_ID = 'Ga-savetaxs';
              
                // Set authorized scope.
                var SCOPES = ['https://www.googleapis.com/auth/analytics.readonly'];
              
              
                function authorize(event) {
                  // Handles the authorization flow.
                  // `immediate` should be false when invoked from the button click.
                  var useImmdiate = event ? false : true;
                  var authData = {
                    client_id: CLIENT_ID,
                    scope: SCOPES,
                    immediate: useImmdiate
                  };
              
                  gapi.auth.authorize(authData, function(response) {
                    var authButton = document.getElementById('auth-button');
                    if (response.error) {
                      authButton.hidden = false;
                    }
                    else {
                      authButton.hidden = true;
                      queryAccounts();
                    }
                  });
                }
              
              
              function queryAccounts() {
                // Load the Google Analytics client library.
                gapi.client.load('analytics', 'v3').then(function() {
              
                  // Get a list of all Google Analytics accounts for this user
                  gapi.client.analytics.management.accounts.list().then(handleAccounts);
                });
              }
              
              
              function handleAccounts(response) {
                // Handles the response from the accounts list method.
                if (response.result.items && response.result.items.length) {
                  // Get the first Google Analytics account.
                  var firstAccountId = response.result.items[0].id;
              
                  // Query for properties.
                  queryProperties(firstAccountId);
                } else {
                  console.log('No accounts found for this user.');
                }
              }
              
              
              function queryProperties(accountId) {
                // Get a list of all the properties for the account.
                gapi.client.analytics.management.webproperties.list(
                    {'accountId': accountId})
                  .then(handleProperties)
                  .then(null, function(err) {
                    // Log any errors.
                    console.log(err);
                });
              }
              
              
              function handleProperties(response) {
                // Handles the response from the webproperties list method.
                if (response.result.items && response.result.items.length) {
              
                  // Get the first Google Analytics account
                  var firstAccountId = response.result.items[0].accountId;
              
                  // Get the first property ID
                  var firstPropertyId = response.result.items[0].id;
              
                  // Query for Views (Profiles).
                  queryProfiles(firstAccountId, firstPropertyId);
                } else {
                  console.log('No properties found for this user.');
                }
              }
              
              
              function queryProfiles(accountId, propertyId) {
                // Get a list of all Views (Profiles) for the first property
                // of the first Account.
                gapi.client.analytics.management.profiles.list({
                    'accountId': accountId,
                    'webPropertyId': propertyId
                })
                .then(handleProfiles)
                .then(null, function(err) {
                    // Log any errors.
                    console.log(err);
                });
              }
              
              
              function handleProfiles(response) {
                // Handles the response from the profiles list method.
                if (response.result.items && response.result.items.length) {
                  // Get the first View (Profile) ID.
                  var firstProfileId = response.result.items[0].id;
              
                  // Query the Core Reporting API.
                  queryCoreReportingApi(firstProfileId);
                } else {
                  console.log('No views (profiles) found for this user.');
                }
              }
              
              
              function queryCoreReportingApi(profileId) {
                // Query the Core Reporting API for the number sessions for
                // the past seven days.
                gapi.client.analytics.data.ga.get({
                  'ids': 'ga:' + profileId,
                  'start-date': '7daysAgo',
                  'end-date': 'today',
                  'metrics': 'ga:sessions'
                })
                .then(function(response) {
                  var formattedJson = JSON.stringify(response.result, null, 2);
                  document.getElementById('query-output').value = formattedJson;
                })
                .then(null, function(err) {
                    // Log any errors.
                    console.log(err);
                });
              }
              
                // Add an event listener to the 'auth-button'.
                document.getElementById('auth-button').addEventListener('click', authorize);
              </script>
              
              <script src="https://apis.google.com/js/client.js?onload=authorize"></script>
              
    </head>
   <!-- cover -->

    <div class="main">
        <div class="container">
          <div class="row">
          <div class="col-lg-6">
            <div class="content">
                <p class="title">Providing 1 stop solution for all the Startup & Legal Compliances</p>
                <p class="subtitle">
                    Savetaxs provides you all kind of solution starting from company registration, GST Resitration, Tax Filling, Trademark, Registration and much more..
                </p>
                
                <!--for search -->
                    <div class="group">
                        <input type="text" id="myInput" onkeyup="mySearch()" placeholder="Search anything..." onfocus=" return myDisplay();">
                         <button type="submit" onclick="clickSearch()"><i class="fa fa-search" aria-hidden="true"></i></button>
                     </div>    
                          <ul id="myUL" style="display:none;">
                              <li><a href="/privatelimcom">Private Limited Company</a></li>
                              <li><a href="/llp">Limited Liability Partnership</a></li>
                               <li><a href="/oneperson">One Person Company</a></li>
                              <li><a href="/nidhicom">Nidhi Company</a></li>
                              <li><a href="/producercom">Producer Company</a></li>
                              <li><a href="/partnership">Partnership Firm</a></li>
                              <li><a href="/propertoship">Sole Proprietorship</a></li>
                              <li><a href="/Shop-And-Establishment">Shop & Establishment Registration</a></li>
                              <li><a href="/IMPORTERCODE">IEC(Import/Export Code)</a></li>
                              <li><a href="/SSI-MSME">MSME/SSI Registration</a></li>
                              <li><a href="/ISO">ISO Certification</a>
                              <li><a href="/Trade_License">Trade License</a></li>
                              <li><a href="/tax"> Goods & Services Tax Registration (GST)</a></li>
                              <li><a href="/GSTReturn">GST Return Filing</a></li>
                              <li><a href="/professnaltax">Professional Tax Registration</a></li>
                              <li><a href="/tds">TDS Return</a></li>
                              <li><a href="/pf">EPF Registration</a></li>
                              <li><a href="/esi">ESI Registration</a></li>
                              <li><a href="/itr">Income Tax Return</a></li>
                              <li><a href="/Web-and-App"> Terms of Service and Privacy Policy, Disclaimer</a></li>
                              <li><a href="/Trademark">Trademark Registration</a></li>
                              <li><a href="/fssai">FSSAI(Food License)</a>  </li>
                              <li><a href="/digisignatur">Digital Signature Certificate</a></li>
                              <li><a href="/otherservice">OSP License</a>  </li>
                              <li><a href="/Copyright">Copyright Registration</a></li>
                              <li><a href="/businessplan"> Business Plan</a></li>
                              <li> <a href="/businessloan">Businessloan</a></li>
                              <li><a href="/businessfund"> Fundraising</a></li>
                              <li><a href="/patent"> Patent</a></li>
                              <li><a href="/PropertyVerify"> Property Title Verification</a></li>
                              <li><a href="/PropertyRegistration">Property Registration</a></li>
                              <li><a href="/Succession">Succession Certificate</a></li>
                              <li><a href="/Legal_Heir">Legal Heir Certificate</a></li>
                              <li><a href="/residential">Residential </a></li>
                              <li><a href="/Relinquish">Relinquishment </a></li>
                              <li><a href="/legalnotic"> legalnotice</a></li>
                              <li><a href="/NGO"> NGO</a></li>
                              <li><a href="/Accounts">Accounts</a></li>
                              <li><a href="/Caste"> Caste Certificate </a></li>
                              <li><a href="/Public">Public Interest Litigation </a></li>
                              <li><a href="/CaveatPetition">Caveat Petition</a></li>
                              <li><a href="/MoneyRecovery">Money Recovery</a></li>
                              <li><a href="/Complaints">Consumer Complaint </a></li>
                              <li><a href="/Conjugal">Conjugal </a></li>
                              <li> <a href="/NameChange">Name Change</a></li>
                              <li><a href="/GenderChange">Gender Change</a></li>
                              <li><a href="/will">Will Probate</a></li>
                          </ul>

            </div>
            </div>
            <div class="col-lg-6">
            <img id="img1" src="/dashboard/admin/images/home-img.png" alt="svg">
            </div>
        </div>

      </div>  
    </div>

 <script>
   function myDisplay(){
      document.getElementById("myUL").style.display = "block";
      return false;
   }
function mySearch(env) {
    
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}

function clickSearch(){
       var input = document.getElementById("myInput").value;
        ul = document.getElementById("myUL");
        li = ul.getElementsByTagName("li").childNodes;
        
         a = li.getElementsByTagName("a")[0];
         if(input == a.textContent){
          var path = location.pathname;
          document.getElementById("myUL").style.display = path;
         }

}
</script>

  
    <!-- services -->
    <section class="service">
        <p class="title">Our Services</p>
      <div id="demo" class="carousel slide" data-ride="carousel" data-interval="false" style="width: 100vw;">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active" style="margin-bottom: 80px;">
      <div class="cards">
           <div class="card">
              <p class="head">Private Limited company Registration</p>
              <p class="price">&#x20b9 2999</p>
              <p class="more">Know More</p>
           </div>

           <div class="card">
              <p class="head">Private Limited company Registration</p>
              <p class="price">&#x20b9 2999</p>
              <p class="more">Know More</p>
           </div>

           <div class="card">
              <p class="head">Private Limited company Registration</p>
              <p class="price">&#x20b9 2999</p>
              <p class="more">Know More</p>
           </div>
       </div>
    </div>
    <div class="carousel-item" style="margin-bottom: 80px;">
      <div class="cards">
           <div class="card">
              <p class="head">Private Limited company Registration</p>
              <p class="price">&#x20b9 2999</p>
              <p class="more">Know More</p>
           </div>

           <div class="card">
              <p class="head">Private Limited company Registration</p>
              <p class="price">&#x20b9 2979</p>
              <p class="more">Know More</p>
           </div>

           <div class="card">
              <p class="head">Private Limited company Registration</p>
              <p class="price">&#x20b9 2sd9</p>
              <p class="more">Know More</p>
           </div>
       </div>
    </div>
    <div class="carousel-item" style="margin-bottom: 80px;">
      <div class="cards">
           <div class="card">
              <p class="head">Private Limited company Registration</p>
              <p class="price">&#x20b9 sd99</p>
              <p class="more">Know More</p>
           </div>

           <div class="card">
              <p class="head">Private Limited company Registration</p>
              <p class="price">&#x20b9 2999</p>
              <p class="more">Know More</p>
           </div>

           <div class="card">
              <p class="head">Private Limited company Registration</p>
              <p class="price">&#x20b9 2999</p>
              <p class="more">Know More</p>
           </div>
       </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>

 </section>
    <!-- consult -->
    <section class="consult">
        <form action="">
            <input type="text" placeholder="Full Name">
            <input type="text" placeholder="Phone Number">
            <input type="text" placeholder="Email">
            <input type="text" placeholder="City">
            <button>Submit</button>
        </form>
        <div class="side">
            <p class="title">Get Free Consultation</p>
            <p>Get a call from our expert and get a free Consultation on any of your requirements</p>
        </div>
    </section>

    <section class="business">
        <p class="title">Business Serverd</p>
        <div class="badges">
            <div class="badge">
                <div class="badgeimg one"></div>
                <p class="count">4,000+</p>
                <p class="sub">Clients Served</p>
            </div>
            <div class="badge">
                <div class="badgeimg two"></div>
                <p class="count">150+</p>
                <p class="sub">Happy Customers</p>
            </div>
            <div class="badge">
                <div class="badgeimg three"></div>
                <p class="count">7,000+</p>
                <p class="sub">Partners</p>
            </div>
        </div>
    </section>

    <section class="choose">
        <div class="content">
            <p class="title">Why choose <i><b>savetaxs</b></i>?</p>
            <ul list-style-type="disc">
                <li>India's <b>best startup's legal service provider</b> company.</li>
                <li><b>Lowest pricing</b> through autmation and technology.</li>
                <li><b>Startup friendly team</b> which gives you service beyond satisfaction</li>
                <li><b>Superb packages</b> which you cant find anywhere.</li>
                <li>After service <b>Lifetime support policy</b> as premium client</li>
                <li><b>Confidential documents policy</b> during the process</li>
                <li><b>Highest credibilty partners</b> from the induastry.</li>
            </ul>
        </div>
    </section>

    <section class="trust">
        <div class="content1">
            <p class="title">Trusted by the best</p> 
        </div>
  
    <div class="container-fluid my-4">

    <!--Carousel Wrapper-->
    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel" data-interval="false">

     
      <!--Indicators-->
      <ol class="carousel-indicators">
        <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
        <li data-target="#multi-item-example" data-slide-to="1"></li>
        <li data-target="#multi-item-example" data-slide-to="2"></li>
      </ol>
      <!--/.Indicators-->

      <!--Slides-->
      <div class="carousel-inner" role="listbox">

        <!--First slide-->
        <div class="carousel-item active">

          <div class="row">
            <div class="col-md-4">
              <div class="card1">
                <img class="card-img-top" src="/dashboard/admin/images/ola.png"
                  alt="Card image cap">
                
              </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card1">
                <img class="card-img-top" src="/dashboard/admin/images/fresh-menu-png-logo.png"
                  alt="Card image cap">
               
              </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card1">
                <img class="card-img-top" src="/dashboard/admin/images/paytm.png"
                  alt="Card image cap">
                
              </div>
            </div>
          </div>

        </div>
        <!--/.First slide-->

        <!--Second slide-->
        <div class="carousel-item">

          <div class="row">
            <div class="col-md-4">
              <div class="card1">
                <img class="card-img-top" src="/dashboard/admin/images/paytm.png"
                  alt="Card image cap">
                
              </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card1">
                <img class="card-img-top" src="/dashboard/admin/images/paytm.png"
                  alt="Card image cap">
                
              </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card1">
                <img class="card-img-top" src="/dashboard/admin/images/paytm.png"
                  alt="Card image cap">
                
              </div>
            </div>
          </div>

        </div>
        <!--/.Second slide-->

        <!--Third slide-->
        <div class="carousel-item">

          <div class="row">
            <div class="col-md-4">
              <div class="card1">
                <img class="card-img-top" src="/dashboard/admin/images/paytm.png"
                  alt="Card image cap">
                
              </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card1 mb-2">
                <img class="card-img-top" src="/dashboard/admin/images/paytm.png"
                  alt="Card image cap">
                
              </div>
            </div>

            <div class="col-md-4 clearfix d-none d-md-block">
              <div class="card1 mb-2">
                <img class="card-img-top" src="/dashboard/admin/images/paytm.png"
                  alt="Card image cap">
                
            </div>
          </div>

        </div>
        <!--/.Third slide-->
       
      </div>
      <!--/.Slides-->

    </div>
    <!--/.Carousel Wrapper-->

     <!--Controls-->
      <div class="controls-down">
        <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
        <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
      </div>
      <!--/.Controls-->
  </div>
    </section>

  

    <section class="contact">
        <div class="content">
            <p class="title">Contact us</p>
            <div class="group">
                <p class="head">Call us</p>
                <p class="sub">+91-7515795165, +91-8624562452</p>
            </div>
            <div class="group">
                <p class="head">Email us</p>
                <p class="sub">support@savetaxs.com</p>
            </div>
            <div class="group">
                <p class="head">Connect with us</p>
                <ul class="social">
                    <li><img src="images/Contact/fb.png" alt="" srcset=""></li>
                    <li><img src="images/Contact/in.png" alt=""></li>
                    <li><img src="images/Contact/insta.png" alt="" srcset=""></li>
                    <li><img src="images/Contact/tweet.png" alt="" srcset=""></li>
                    <li><img src="images/Contact/you.png" alt="" srcset=""></li>
                </ul>
            </div>
        </div>
    </section>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  
  
  