<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    html{
      margin: 0;
      padding: 0;
    }
  
</style>

</head>

<body>
    <!-- Navbar -->

 <div class="brand">
            <i>savetaxs</i>
</div>

    <nav>
      <div id="menuToggle">
             <input type="checkbox" />

             <span></span>
             <span></span>
             <span></span>



  <div class="wrapper">
        <ul class="links">
            <li class="dropdown">
              <a href="javascript:void(0)" class="dropbtn" >STARTUP</a>
                <div class="dropdown-content">
                  <div class="internal" style="width: 200px;">
                    <p class="head1">Business Registration</p>
                    
                        <a href="/privatelimcom">Private Limited Company</a>
                        <a href="/llp">Limited Liability Partnership</a>
                        <a href="/oneperson">One Person Company</a>
                        <a href="/nidhicom">Nidhi Company</a>
                        <a href="/producercom">Producer Company</a>
                        <a href="/partnership">Partnership Firm</a>
                        <a href="/propertoship">Sole Proprietorship</a>
                    </div>
                     

                  <div class="internal1" style="width: 200px;">
                    <p class="head1">Licenses</p>
                    
                         <a href="/fssai">FSSAI(Food License)</a>
                         <a href="/IMPORTERCODE">IEC(Import/Export Code)</a>
                         <a href="/SSI-MSME">MSME/SSI Registration</a>
                          <a href="/ISO">ISO Certification</a>
                         <a href="/digisignatur">Digital Signature Certificate</a>
                         <a href="/otherservice">OSP License</a>
                         <a href="/Trade_License">Trade License</a>
                  </div>

            

                   
                  
              </div>
           </li>

            <li class="dropdown">
              <a href="javascript:void(0)" class="dropbtn">TAXS & Compliances</a>
                  <div class="dropdown-content">
                                          
                     <div class="internal" style="width: 200px;">
                       <p class="head1">Tax Registration</p>
                     
                         <a href="/tax"> Goods & Services Tax Registration (GST)</a>
                         <a href="#">GST Return Filing</a>
                         <a href="/professnaltax">Professional Tax Registration</a>
                         <a href="/tds">TDS Return</a>
                         <a href="/pf">EPF Registration</a>
                         <a href="/esi">ESI Registration</a>
                         <a href="/itr">Income Tax Return</a>
                         </div>
                         
                    
                   <div class="internal1" style="width: 200px;">
                    <p class="head1">Website Policies</p>
                    <a href="/Web-and-App"> Terms of Service and Privacy Policy, Disclaimer</a>
                     </div>
                     </div>

               
             </li>




            <li class="dropdown">
              <a href="javascript:void(0)" class="dropbtn" >Trademark and IP</a>
                    <div class="dropdown-content">
                         <div class="internal" style="width: 200px;">
                       <p class="head1">Trademark</p>
                        <a href="/Trademark">Trademark Registration</a>
                        
                                             
                    </div>

                    <div class="internal1" style="width:200px;">
                      <p class="head1">Copyright</p>
                      <a href="/Copyright">Copyright Registration</a>
                    </div>

                   </div>
              </li>

            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">FUNDRAISING</a>
                  <div class="dropdown-content">
                    <div class="internal" style="width: 200px;">
                    <p class="head1">Busssiness Funding</p>
                    <a href="/businessplan"> Business Plan</a>
                    <a href="/businessloan">Businessloan</a>
                   <a href="/businessfund"> Fundraising</a>
                    </div>

                    
                    <div class="internal1" style="width: 200px;">
                    <p class="head1">Patent</p>
                    
                    <a href="/patent"> Patent</a>
                    </div>




            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">Property Matters</a>
                  <div class="dropdown-content">
                   
                    

                     <div class="internal2" style="width: 200px;">
                        <p class="head1">Property</p>
                    <a href="/PropertyVerify"> Property Title Verification</a>
                    <a href="/PropertyRegistration">Property Registration</a>
                    <a href="/Succession">Succession Certificate</a>
                    <a href="/Legal_Heir">Legal Heir Certificate</a>
                    <a href="/residential">Residential </a>
                     <a href="/Relinquish">Relinquishment </a>
                    </div>

                    
                    <div class="internal1" style="width: 200px;">
                    <p class="head1">Legal</p>
                    
                    <a href="/legalnotic"> legalnotice</a>
                    </div>


                  </div>
            </li>


            <li class="dropdown">
              <a href="javascript:void(0)" class="dropbtn">NGO</a>
              <div class="dropdown-content">
                    <div class="internal" style="width: 200px;">
                    <p class="head1">Registration</p>
                    <a href="/NGO"> NGO</a>
                    <ul>
                    <li>Section 8</li>
                    <li>Trust Registration</li>
                    <li>Society Registration</li>
                    </ul>
                    </div>

                   <div class="internal1" style="width: 200px;">
                    <p class="head1">Maintain</p>
                     <a href="/Accounts">Accounts</a>

                   </div>
              </div>


              </li>
             <li class="dropdown">
              <a href="javascript:void(0)" class="dropbtn"> Personal</a>
              <div class="dropdown-content">
                    <div class="internal" style="width: 200px;">
                    <p class="head1">Personal</p>
                    <a href="/Caste"> Caste Certificate </a>
                    <a href="/Public">Public Interest Litigation </a>
                    <a href="/CaveatPetition">Caveat Petition</a>
                    <a href="/MoneyRecovery">Money Recovery</a>
                    <a href="/Complaints">Consumer Complaint </a>
                    <a href="/Conjugal">Conjugal </a>
                    </div>

                   <div class="internal1" style="width: 200px;">
                    <p class="head1">Name Change and Other Corrections</p>
                    
                     <a href="/NameChange">Name Change</a>
                     
                     <a href="/GenderChange">Gender Change</a>
                     <a href="/will">Will Probate</a>

                   </div>
                   
              </li>
              <li class="registration"><a href="/registration" style="color:white;">Sign up</a></li>
            <li class="login"><a href="/login" style="color:white;">Sign in</a></li>
        </ul>
    </nav>

</div>


</div>

{{{body}}}

 <footer style="display:inline-flex;">
        <ul>
            <li class="h">Popular Services</li>
            <li>Private limited Company Registration</li>
            <li>One Person Company Registration</li>
            <li>Limited Labiality Partnership Registration</li>
            <li>Partnership Frim</li>
            <li>Sole Proprietorship Firm Registration</li>
        </ul>
        <ul>
            <li class="h">Company</li>
            <li><a href="/about" class="foota">About Us</a></li>
            <li><a href="/blog" class="foota" >Blog</a></li>
            <li><a class="foota" >Partner with us</a></li>
            <li><a href="/contact" class="foota" >Contact Us</a></li>

            <li><a class="foota">Sitemap</a></li>
        </ul>
        <ul>
            <li class="h">Terms and Ploicies</li>
            <li>Privacy Policy</li>
            <li>Satisfaction Gauarantees</li>
        </ul>

    </footer>
    <div class="copy">
        Copyright 2020 savetaxs.com
    </div>

    <link rel="stylesheet" href="/dashboard/admin/dist/css/main.css">

    </body>

</html>
