<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    html{
      margin: 0;
      padding: 0;
    }
    .head1{
        font-weight: bold;
        margin-left:20px;
    }
    ul {
  list-style-type: none;
  overflow: hidden;

}

.links li {
  float: left;
}

li a, .dropbtn {
  display: block;

  text-align: center;

  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  color:rgb(73, 68, 68);
  font-weight: bold;
  text-decoration: none;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 300px;

  max-height:650px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: +3;

}

.dropdown-content a {
  color: black;
  padding: 12px 18px;
  text-decoration: none;
  display:block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {

  width: fit-content;
    display: -webkit-inline-box;
    top: 60px;


}

</style>

</head>

<body>
    <!-- Navbar -->

 <div class="brand">
            <i>savetaxs</i>
</div>

    <nav>
      <div id="menuToggle">
             <input type="checkbox" />

             <span></span>
             <span></span>
             <span></span>



  <div class="wrapper">
        <ul class="links">
            <li><a href="#" class="dropbtn" >STARTUP</a>
                  <ul class="dropdown-content">
                    <li>
                    <a href="#" class="head1">Business Registration</a>
                    <ul class="dropdown-content">
                        <a href="#">Private Limited Company</a>
                        <a href="#">Limited Liability Partnership</a>
                        <a href="#">One Person Company</a>
                        <a href="#">Nidhi Company</a>
                        <a href="#">Producer Company</a>
                        <a href="#">Partnership Firm</a>
                        <a href="#">Sole Proprietorship</a>
                     </ul>
                   </li>

                   <li>
                    <a href="" class="head1">Licenses</a>
                    <ul class="dropdown-content">
                         <a href="#">FSSAI(Food License)</a>
                         <a href="#">IEC(Import/Export Code)</a>
                         <a href="#">APEDA-RCMC Registration</a>
                         <a href="#">MSME/SSI Registration</a>
                          <a href="#">ISO Certification</a>
                         <a href="#">Digital Signature Certificate</a>
                           <a href="#">PSARA License</a>
                         <a href="#">OSP License</a>
                         <a href="#">Trade License</a>
                   </ul>
                  </li>

                    <li>
                    <a href="" class="head1">Company Name Search and Logo</a>
                    <ul class="dropdown-content">
                    <a href="#">Company Name Search</a>
                    <a href="#">Logo Design</a>
                    </ul>
                   </li>

                   <li>
                      <a href="" class="head1">International Business Setup</a>
                    <ul class="dropdown-content">
                    <a href="#">US Incorporation</a>
                    <a href="#">Signature Incorporation</a>
                    <a href="#">UK Incorporation</a>
                    <a href="#">Netherlands Incorporation</a>
                    <a href="#">Hong kong Incorporation</a>
                    <a href="#">Malaysia Incorporation</a>
                    <a href="#">China Incorporation</a>
                    <a href="#">Dubai Incorporation</a>
                    <a href="#">Australia Incorporation</a>
                    </ul>
                   </li>

                  </ul>
           </li>

            <li class="dropdown">
              <a href="javascript:void(0)" class="dropbtn">TAXS & Compliances</a>
                 <ul class="dropdown-content">

                  <li>
                       <a href="#" class="head1">MANDATORY ANNUAL FILINGS</a>
                    <ul  class="dropdown-content">
                      <a href="#"> Private Limited Company/OPC</a>
                      <a href="#">Limited Liability Company</a>
                    </ul>

                  </li>

                    <li>
                      <a href="#" class="head1">Changes In Pvt Ltd Company</a>
                      <ul class="dropdown-content">
                    <a href="#"> Add a Director</a>
                    <a href="#">Remove a Director</a>
                    <a href="#">Increase Authorized Capital</a>
                    <a href="#">Close the Pvt Ltd Company</a>
                    <a href="#">Change Objective/Activity</a>
                    <a href="#">Change Address</a>
                    <a href="#">Change Company Name</a>
                    </ul>
                    </li>

                    <li>
                    <a href="#" class="head1">Changes In Limited Liability Partnership</a>
                    <ul class="dropdown-content">
                    <a href="#">Add Designated Partner</a>
                    <a href="#">Changes to LLP Agreement</a>
                    <a href="#">Close the LLP</a>
                    </ul>
                    </li>

                    <li>
                    <a href="#" class="head1">Convert Your Business</a>
                    <ul class="dropdown-content">
                    <a href="#"> Proprietorship to Pvt Ltd Company</a>
                    <a href="#">Partnership to LLP</a>
                    <a href="#">Private to Public Limited Company</a>
                    <a href="#">Private to One Person Company</a>
                    <a href="#">Compliance Check-Secretarial Audit</a>
                    <a href="#">Due Diligence</a>
                    <a href="#">RBI Compliance</a>
                    </ul>
                    </li>

                   <li>
                    <a href="#" class="head1">Changes In Limited Liability Partnership</a>
                    <ul class="dropdown-content">
                    <a href="#">Add Designated Partner</a>
                    <a href="#">Changes to LLP Agreement</a>
                    <a href="#">Close the LLP</a>
                    </ul>
                    </li>
             </ul>
             </li>




            <li class="dropdown">
              <a href="javascript:void(0)" class="dropbtn" >Trademark and IP</a>
                    <div class="dropdown-content">
                         <div class="internal" style="width: 200px;">
                       <p class="head1">Trademark</p>
                        <a href="#">Trademark Registration</a>
                        <a href="#">Search for Trademark</a>
                        <a href="#">Respond to TM Objection</a>
                        <a href="#">Trademarkm Watch</a>
                        <a href="#">Trademark Renewal</a>
                        <a href="#">Trademark Assignment</a>
                        <a href="#">USA Trademark</a>
                       <a href="#">Logo Design</a>
                    </div>

                    <div class="internal1" style="width:200px;">
                      <p class="head1">Copyright</p>
                      <a href="#">copyright Registration</a>
                    </div>
                   </div>
              </li>

            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">FUNDRAISING</a>
                  <div class="dropdown-content">
                    <div class="internal" style="width: 200px;">
                    <p class="head1">Fundraising</p>
                    <a href="#"> Fundraising</a>
                    <a href="#">Pitch Deck</a>
                    </div>

                    <div class="internal1" style="width: 200px;">
                    <p class="head1">Legal</p>
                    <a href="#"> Share Purchase Agreement</a>
                    <a href="#"> Shareholders' Agreement</a>
                    <a href="#"> Term Sheet Review</a>
                    <a href="#"> Founders Agreement</a>
                    </div>


            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">CONTRACT</a>
                  <div class="dropdown-content">
                    <div class="internal" style="width: 200px;">
                    <p class="head1">Hiring Documents</p>
                    <a href="#"> Employment Contract</a>
                    <a href="#">Consultancy Agreement</a>
                    <a href="#">Freelancer Agreement</a>
                    </div>

                    <div class="internal1" style="width: 200px;">
                    <p class="head1">Website Policies</p>
                    <a href="#"> Terms of Service and Privacy Policy</a>
                    <a href="#"> Disclaimer</a>
                    <a href="#"> Joint Venture Agreement</a>
                    <a href="#"> General Data Protection Regulation [GDPR]</a>
                    <a href="#"> Non Disclosure Agreement </a>
                    </div>

                     <div class="internal2" style="width: 200px;">
                    <p class="head1">Business Contracts</p>
                    <a href="#"> Memorandum of Understanding</a>
                    <a href="#"> Franchise Agreement</a>
                    <a href="#">Joint Venture Agreement</a>
                    </div>

                     <div class="internal3" style="width: 200px;">
                    <p class="head1">Service/Vendor</p>
                    <a href="#"> Service Level Agreement</a>
                    <a href="#"> Master Service Agreement</a>
                    <a href="#">Vendor Agreement</a>
                    </div>


            <li class="dropdown">
              <a href="javascript:void(0)" class="dropbtn">NGO</a>
              <div class="dropdown-content">
                    <div class="internal" style="width: 200px;">
                    <p class="head1">Registration</p>
                    <a href="#"> NGO</a>
                    <a href="#">Section 8</a>
                    <a href="#">Trust Registration</a>
                    <a href="#">Society Registration</a>
                    </div>

                   <div class="internal1" style="width: 200px;">
                    <p class="head1">Maintenance</p>
                     <a href="#">Section 8 Compliance</a>

                   </div>
              </div>


              </li>
             <li class="dropdown">
              <a href="javascript:void(0)" class="dropbtn">Property and Personal</a>
              <div class="dropdown-content">
                    <div class="internal" style="width: 200px;">
                    <p class="head1">Property</p>
                    <a href="#"> Property Title Verification</a>
                    <a href="#">Property Registration</a>
                    <a href="#">Succession Certificate</a>
                    <a href="#">Legal Heir Certificate</a>
                    <a href="#">Will Drafting and Registration</a>
                    </div>

                   <div class="internal1" style="width: 200px;">
                    <p class="head1">Name Change and Other Corrections</p>
                     <a href="#">Name Change</a>
                     <a href="#">Religion Change</a>
                     <a href="#">Gender Change</a>

                   </div>

                   <div class="internal1" style="width: 200px;">
                    <a href="#">
                      Div
                    </a>
              </div>
              </li>
              <li class="registration"><a href="/registration" style="color:white;">Sign up</a></li>
            <li class="login"><a href="/login" style="color:white;">Sign in</a></li>
        </ul>
    </nav>

</div>


</div>

{{{body}}}

 <footer style="display:inline-flex;">
        <ul>
            <li class="h">Popular Services</li>
            <li>Private limited Company Registration</li>
            <li>One Person Company Registration</li>
            <li>Limited Labiality Partnership Registration</li>
            <li>Partnership Frim</li>
            <li>Sole Proprietorship Firm Registration</li>
        </ul>
        <ul>
            <li class="h">Company</li>
            <li><a href="/about" style="color: #808080;">About Us</a></li>
            <li><a href="/blog" style="color: #808080;">Blog</a></li>
            <li><a style="color: #808080;">Partner with us</a></li>
            <li><a href="/contact"  style="color: #808080;">Contact Us</a></li>

            <li><a style="color: #808080;">Sitemap</a></li>
        </ul>
        <ul>
            <li class="h">Terms and Ploicies</li>
            <li>Privacy Policy</li>
            <li>Satisfaction Gauarantees</li>
        </ul>

    </footer>
    <div class="copy">
        Copyright 2020 savetaxs.com
    </div>

    <link rel="stylesheet" href="/dashboard/admin/dist/css/main.css">

    </body>

</html>
