 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> 
  <link rel="stylesheet" href="/dashboard/admin/dist/css/adpage.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/dashboard/admin/dist/css/help.css" />
    <link rel="stylesheet" href="/dashboard/admin/dist/css/chat.css">
        <link rel="stylesheet" href="/dashboard/admin/dist/css/notification.css"> 

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


 
 <style>
   
button {
  border: none;
  padding: 0.8em;
  background: #F96;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  margin: 0 0 1em;
}

button:hover, button:focus {
  cursor: pointer;
  outline: none;
}

#editor {
  padding: 1em;
  background: #E6E6E6;
  border-radius: 3px;
}

#editor:focus {
  background: #FFF;
  border-color: #69c773;
}

[contenteditable="true"] {
  font-family: "Rajdhani";
  color: #C00;
}
.link{
  display: flex;
  flex-direction: row;
}



.content-wrapper {
    display: none;
    margin-top: -450px;
    margin-left: 0px;
}
@media (min-width: 768px){ 
.content-wrapper {
    transition: margin-left .3s ease-in-out;
    margin-left: 250px;
    margin-right: 0px;
}}
 </style>
  <!-- Navbar -->
    <nav1 style="display:flex;background-color:rgba(39, 124, 46, 0.2);justify-content:space-between;width:100%;">
        <div class="hamburger" style="margin:20px;cursor:pointer;">
        <i class="fa fa-bars" style="font-size:28px;" onclick="displayMenu(this)"></i>
        <h2>{{name}}</h2>
        </div>
        <ul class="link">
            <li><i class="fa fa-refresh" style="font-size:28px"></i></li> 
            <li><i class='far fa-bell' style="font-size:28px;"></i></li>
            <li><i class="fa fa-user-o" style="font-size:28px;"></i></li>
        </ul> 
    </nav1>
<aside class="main-sidebar sidebar-dark-primary elevation-4 col-lg-2">

            <!-- Sidebar -->
            <div class="sidebar1">
                <!-- Sidebar user panel (optional) -->
                <!-- <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="/dashboard/admin/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                    </div>
                </div> -->

                <!-- Sidebar Menu -->
                <nav0 class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                        <li class="nav-item has-treeview menu-open">
                            <a id="customerstatus_a" class="nav-link1 active" onclick="toggleDashboardView(this)">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                        Status
                                    <i class="right fas fa-angle-left"></i>
                               
                            </a>
                        </li>

                        <li class="nav-item has-treeview">
                            <a id="customerprofile_a" class="nav-link1" onclick="toggleDashboardView(this)">
                                <i class="fas fa-child"></i>
                                    Profile
                                    <i class="fas fa-angle-left right"></i>
                                
                            </a>
                        <li>

                        <li class="nav-item has-treeview ">
                            <a id="customerVideoConference_a" class="nav-link1" onclick="toggleDashboardView(this)">
                                <i class="fas fa-child"></i>
                                    Video Conferencing
                                    <i class="fas fa-angle-left right"></i>
                                
                            </a>
                        </li>

                        <li class="nav-item has-treeview ">
                            <a id="customerpayment_a" class="nav-link1" onclick="toggleDashboardView(this)">
                                <i class="fas fa-comments"></i>
                                    Payment Gateway
                                    <i class="fas fa-angle-left right"></i>
                                
                            </a>
                        <li>

                        <li class="nav-item has-treeview ">
                            <a id="customerrating_a" class="nav-link1" onclick="toggleDashboardView(this)">
                                <i class="fas fa-columns"></i>
                                    Rating
                                    <i class="fas fa-angle-left right"></i>
                                
                            </a>
                        </li>

                        
                        <li class="nav-item has-treeview ">
                            <a id="customersearch_a" class="nav-link1" onclick="toggleDashboardView(this)">
                                <i class="nav-icon fas fa-tree"></i>
                                    Search
                                    <i class="fas fa-angle-left right"></i>
                               
                            </a>
                        <li>

                            <li class="nav-item has-treeview ">
                                <a id="customerorderH_a" class="nav-link1" onclick="toggleDashboardView(this)">
                                    <i class="nav-icon fas fa-tree"></i>
                                        Order History
                                        <i class="fas fa-angle-left right"></i>
                                   
                                </a>
                            <li>
                                <li class="nav-item has-treeview ">
                                    <a id="customersupport_a" class="nav-link1" onclick="toggleDashboardView(this)">
                                        <i class="nav-icon fas fa-tree"></i>
                                            Customer Support
                                            <i class="fas fa-angle-left right"></i>
                                        
                                    </a>
                                <li>
                                    <li class="nav-item has-treeview ">
                                        <a id="customerchat_a" class="nav-link1" onclick="toggleDashboardView(this)">
                                            <i class="nav-icon fas fa-tree"></i>
                                            Chat
                                                <i class="fas fa-angle-left right"></i>
                                          
                                        </a>
                                    <li>

                                  <li class="nav-item has-treeview ">
                                     <a id="customernotify_a" class="nav-link1" href="#" onclick="toggleDashboardView(this)">
                                     <i class="fas fa-sign-out-alt"></i>
                                       Notifications
                                    <i class="fas fa-angle-left left"></i>
                                
                            </a>
                        <li>                
                            
                                <li class="nav-item has-treeview ">
                                    <a id="customerlogout_a" class="nav-link1" href="#">
                                       <i class="fas fa-sign-out-alt"></i>
                                         Logout
                                       <i class="fas fa-angle-left left"></i>
                                
                                   </a>
                               <li>                                         
                    </ul>
            </nav0>
      </div>
      </aside>
<div id="customerprofile-tab" class="content-wrapper" style="width: 1660px; min-height:1300">
<div class="col-lg-8" >
  
   <div class="wrap">
     
     <form action="/userprofile" method="POST">
     <div class="nested">
         

        <div><img src="/dashboard/admin/images/profilepic.jpg" alt="profile" id="Imgprofile" name="Imagprofile">
           <button id='editBtn' type="submit"  onclick="return showDiv();" value="Submit"> <i class="fas fa-edit"></i> Edit</button>

        </div>
        <div>
            <li><b>NAME</b></li>
            <li><i class="fa fa-phone" aria-hidden="true" style="font-size:24px;"></i></li>
            <li><i class="fas fa-envelope" style="font-size:24px;"></i></li>
            <li><i class="far fa-comment-dots" style="font-size:24px;"></i></li>
        </div>
        <div>
            <li><input type="text" name="name" id="name" value="{{name}} "  style="border: none;" ></li>
            <li><input type="text" name="phone" id="phone"  style="border: none;" ></li>
            <li><input type="text" name="email" id="email" style="border: none;" ></li>
            <li><input type="text" name="about" id="about"  style="border: none;" ></li>

        </div>
        <div>
            <li><i class="fas fa-map-marker-alt"  style="font-size:24px;"></i> </li>
            <li>Age</li>
            <li>Occupation</li>
            <li>Submission:</li>
                 <a href="#" style="margin:5px;"><i class="fab fa-twitter"></i></a>
                 <a href="#" style="margin:5px;"><i class="fab fa-facebook"></i></a>
                 <a href="#" style="margin:5px;"><i class="fab fa-instagram"></i></a>
                 <a href="#" style="margin:5px;"><i class="fab fa-whatsapp"></i></a>
                 <a href="#" style="margin:5px;"><i class="fab fa-linkedin"></i></a>
        </div>
        <div>
            <li><input type="text"  name="location" id="location" style="border: none;" ></li>
            <li><input type="text" name="age" id="age" style="border: none;" ></li>
            <li><input type="text"  name="occupation" id="occupation" style="border: none;" ></li>
            
        </div>
    </div>
    <div class="nested">
        <div>
              <li>Address: </li>
              <li>Country:</li>
              <li>District:</li><br>
              <li>Gender:</li>
        </div>
        <div>
            <li><input type="text"  name="address" id="address" style="border: none;" ></li>
            <li><input type="text"  name="country" id="country" style="border: none;" ></li>
            <li><input type="text"  name="district" id="district" style="border: none;" ></li>
            <li><input type="checkbox" name="gender" id="gender" class="Gender">Female<input class="Gender" name="gender" id="gender"  type="checkbox">Male<input class="Gender" name="gender" id="gender"  type="checkbox">Other</li>
        </div>
      </div>
    </form>
            
  
 </div>
</div>

<div id="div2" style="display: none;" style="float: right; margin-top:300px;">

        <button type="submit" value="Submit" onClick = "this.style.visibility= 'hidden';">Submit</button>
</div>
</div>
<script>
var editBtn = document.getElementById('editBtn');
var editables = document.querySelectorAll('#name, #phone, #address, #email, #location, #gender, #district, #about, #occupation, #Imgprofile, #age, #country');

if (typeof(Storage) !== "undefined") {
  if (localStorage.getItem('name') !== null) {
    editables[0].innerHTML = localStorage.getItem('name');
  }
  if (localStorage.getItem('phone') !== null) {
    editables[1].innerHTML = localStorage.getItem('phone');
  }
  if (localStorage.getItem('address') !== null) {
    editables[2].innerHTML = localStorage.getItem('address');
  }
  if (localStorage.getItem('email') !== null) {
    editables[3].innerHTML = localStorage.getItem('email');
  }
  if (localStorage.getItem('location') !== null) {
    editables[4].innerHTML = localStorage.getItem('location');
  }
  if (localStorage.getItem('gender') !== null) {
    editables[5].innerHTML = localStorage.getItem('gender');
  }
  if (localStorage.getItem('district') !== null) {
    editables[6].innerHTML = localStorage.getItem('district');
  }
  if (localStorage.getItem('about') !== null) {
    editables[7].innerHTML = localStorage.getItem('about');
  }
  if (localStorage.getItem('occupation') !== null) {
    editables[8].innerHTML = localStorage.getItem('occupation');
  }
  if (localStorage.getItem('Imgprofile') !== null) {
    editables[9].innerHTML = localStorage.getItem('Imgprofile');
  }
  if (localStorage.getItem('age') !== null) {
    editables[10].innerHTML = localStorage.getItem('age');
  }
  if (localStorage.getItem('country') !== null) {
    editables[11].innerHTML = localStorage.getItem('country');
  }
}

editBtn.addEventListener('click', function(e) {
  if (!editables[0].isContentEditable) {
    editables[0].contentEditable = 'true';
    editables[1].contentEditable = 'true';
    editables[2].contentEditable = 'true';
    editables[3].contentEditable = 'true';
    editables[4].contentEditable = 'true';
    editables[5].contentEditable = 'true';
    editables[6].contentEditable = 'true';
    editables[7].contentEditable = 'true';
    editables[8].contentEditable = 'true';
    editables[9].contentEditable = 'true';
    editables[10].contentEditable = 'true';
    editables[11].contentEditable = 'true';

    editBtn.innerHTML = 'Save Changes';
    editBtn.style.backgroundColor = '#6F9';
  } else {
    // Disable Editing
    editables[0].contentEditable = 'false';
    editables[1].contentEditable = 'false';
    editables[2].contentEditable = 'false';
    editables[3].contentEditable = 'false';
    editables[4].contentEditable = 'false';
    editables[5].contentEditable = 'false';
    editables[6].contentEditable = 'false';
    editables[7].contentEditable = 'false';
    editables[8].contentEditable = 'false';
    editables[9].contentEditable = 'false';
    editables[10].contentEditable = 'false';
    editables[11].contentEditable = 'false';

    // Change Button Text and Color
    editBtn.innerHTML = 'Edit';
    editBtn.style.backgroundColor = '#F96';
    // Save the data in localStorage 
    for (var i = 0; i < editables.length; i++) {
      localStorage.setItem(editables[i].getAttribute('id'), editables[i].innerHTML);
    }
  }
});

setInterval(function() {
  for (var i = 0; i < editables.length; i++) {
    localStorage.setItem(editables[i].getAttribute('id'), editables[i].innerHTML);
  }
}, 5000);
</script>
 

     <script type="text/javascript">
        function showDiv() {
            document.getElementById('div2').style.display = 'block';
            return false;
        }
    </script>


<div id="customerVideoConference" class="content-wrapper">
       <div class="col-lg-9">
         
                  <h4>My Feed :</h4>
                <div id="me"></div>
                
                <h4>Remote Feeds :</h4>
                <div id="remote-container">
                
                </div>
                <h4>Canvas :</h4>
                <div id="canvas-container">
                
                </div>
               
        </div>


</div>
   <!-- Video-Confrencing-Page SCRIPTS -->
       
        
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
{{!-- help script --}}
            <script src="/dashboard/admin/dist/js/help.js"></script>
             <script>
                var input = document.getElementById("search");
            
                input.addEventListener("awesomplete-selectcomplete", function(e) {
                    window.location.href = e.text.value;
                }, false);
                
                new Awesomplete(input, {
                    container: function (tag) {
                        return ".awesomplete";
                    },
                    autoFirst: true,
                    list: [
                        { label: "How do I enable payment gateway?", 					value: "article.html" },
                        { label: "What happens if I clear cache?", 						value: "article1.html" },
                        { label: "Which payment methods do you offer?", 				value: "article.html" },
                        { label: "How long does it take to propagate DNS settings?", 	value: "article.html" },
                        { label: "How can I force SSL certificate?", 					value: "article.html" }
                    ],
                    replace: function(suggestion) {
                        this.input.value = suggestion.label;
                    }
                });
            </script>
        
        


  <div id="customersupport-tab" class="content-wrapper" style="width: 1660px; min-height:1300">  
     <div class="col-lg-8">
        
 <div class="uk-background-muted" class="content-wrapper">
		<div class="uk-container">
			<div class="uk-margin">
				<form class="uk-search uk-search-default uk-width-1-1 awesomplete">
					<a href="" class="uk-search-icon-flip" data-uk-search-icon></a>
					<input id="search" class="uk-search-input uk-search-default uk-width-1-1 uk-form-large" type="search" placeholder="Search" autocomplete="off" data-minchars="1" data-maxitems="30" >
				</form>
			</div>
		</div>
	</div>

	<div class="uk-section uk-background-muted">
		<div class="uk-container uk-text-center">

			<h1 class="uk-heading-primary uk-margin-medium-bottom" data-uk-scrollspy="cls: uk-animation-slide-bottom-medium;">How can we help?</h1>

			<div class="uk-grid-collapse uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l uk-grid-match uk-text-center" data-uk-grid data-uk-scrollspy="cls: uk-animation-slide-bottom-medium; delay: 80">
				<div>
					<a href="category.html" class="uk-card card-box uk-card-body uk-border-rounded">
						<span data-uk-icon="icon: cog; ratio: 3"></span>
						<p class="uk-margin-medium-top">Getting Started</p>
					</a>
				</div>
				<div>
					<a href="category.html" class="uk-card card-box uk-card-body uk-border-rounded">
						<span data-uk-icon="icon: sign-in; ratio: 3"></span>
						<p class="uk-margin-medium-top">User Login</p>
					</a>
				</div>
				<div>
					<a href="category.html" class="uk-card card-box uk-card-body uk-border-rounded">
						<span data-uk-icon="icon: user; ratio: 3"></span>
						<p class="uk-margin-medium-top">My Account</p>
					</a>
				</div>
				<div>
					<a href="category.html" class="uk-card card-box uk-card-body uk-border-rounded">
						<span data-uk-icon="icon: lock; ratio: 3"></span>
						<p class="uk-margin-medium-top">Security</p>
					</a>
				</div>
				<div>
					<a href="category.html" class="uk-card card-box uk-card-body uk-border-rounded">
						<span data-uk-icon="icon: cart; ratio: 3"></span>
						<p class="uk-margin-medium-top">Ecommerce</p>
					</a>
				</div>
				<div>
					<a href="category.html" class="uk-card card-box uk-card-body uk-border-rounded">
						<span data-uk-icon="icon: comments; ratio: 3"></span>
						<p class="uk-margin-medium-top">Communication</p>
					</a>
				</div>
				<div>
					<a href="category.html" class="uk-card card-box uk-card-body uk-border-rounded">
						<span data-uk-icon="icon: settings; ratio: 3"></span>
						<p class="uk-margin-medium-top">Settings Options</p>
					</a>
				</div>
				<div>
					<a href="category.html" class="uk-card card-box uk-card-body uk-border-rounded">
						<span data-uk-icon="icon: code; ratio: 3"></span>
						<p class="uk-margin-medium-top">Customization</p>
					</a>
				</div>
			</div>

		</div>
	</div>

	<div class="uk-section">
		<div class="uk-container">
			<div class="uk-grid-divider uk-grid-large uk-child-width-1-2@m" data-uk-grid>

				<div>
					<div class="uk-flex uk-flex-middle" data-uk-grid>
						<div class="uk-width-auto uk-text-primary">
							<span data-uk-icon="icon: mail; ratio: 2"></span>
						</div>
						<div class="uk-width-4-5">
							<h5 class="margin-xsmall-bottom">Need more help?</h5>
							<p class="uk-margin-remove uk-link-reset">Get in touch with us, support is provided daily <a class="button-link" href="contact.html">contact us</a></p>
						</div>
					</div>
				</div>

				<div>
					<div class="uk-flex uk-flex-middle" data-uk-grid>
						<div class="uk-width-auto uk-text-primary">
							<span data-uk-icon="icon: receiver; ratio: 2"></span>
						</div>
						<div class="uk-width-4-5">
							<h5 class="margin-xsmall-bottom">Interested in our products?</h5>
							<p class="uk-margin-remove">Our sales representatives can help you chose <a class="button-link" href="contact.html">call us</a></p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

	
                                 
               </div>
            </div>
        

        {{!-- chat section --}}
<div id="customerchat-tab" class="content-wrapper" style="width: 1320px; min-height:1300">        
 <div class="col-lg-10" >
          
    <div class="fullscreen">
                <div class="containerz" style="margin-left: 10px;">
                <h3 class=" text-center">Messaging</h3>
                <div class="messaging">
                      <div class="inbox_msg">
                        <div class="inbox_people">
                          <div class="headind_srch">
                            <div class="recent_heading">
                              <h4>Recent</h4>
                            </div>
                            <div class="srch_bar">
                              <div class="stylish-input-group">
                                <input type="text" class="search-bar"  placeholder="Search" >
                                <span class="input-group-addon">
                                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                                </span> </div>
                            </div>
                          </div>
                          <div class="inbox_chat">
                            <div class="chat_list active_chat">
                              <div class="chat_people">
                                <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                <div class="chat_ib">
                                  <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                                  <p>Test, which is a new approach to have all solutions 
                                    astrology under one roof.</p>
                                </div>
                              </div>
                            </div>
                            <div class="chat_list">
                              <div class="chat_people">
                                <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                <div class="chat_ib">
                                  <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                                  <p>Test, which is a new approach to have all solutions 
                                    astrology under one roof.</p>
                                </div>
                              </div>
                            </div>
                            <div class="chat_list">
                              <div class="chat_people">
                                <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                <div class="chat_ib">
                                  <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                                  <p>Test, which is a new approach to have all solutions 
                                    astrology under one roof.</p>
                                </div>
                              </div>
                            </div>
                            <div class="chat_list">
                              <div class="chat_people">
                                <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                <div class="chat_ib">
                                  <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                                  <p>Test, which is a new approach to have all solutions 
                                    astrology under one roof.</p>
                                </div>
                              </div>
                            </div>
                            <div class="chat_list">
                              <div class="chat_people">
                                <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                <div class="chat_ib">
                                  <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                                  <p>Test, which is a new approach to have all solutions 
                                    astrology under one roof.</p>
                                </div>
                              </div>
                            </div>
                            <div class="chat_list">
                              <div class="chat_people">
                                <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                <div class="chat_ib">
                                  <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                                  <p>Test, which is a new approach to have all solutions 
                                    astrology under one roof.</p>
                                </div>
                              </div>
                            </div>
                            <div class="chat_list">
                              <div class="chat_people">
                                <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                                <div class="chat_ib">
                                  <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                                  <p>Test, which is a new approach to have all solutions 
                                    astrology under one roof.</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="mesgs">
                          <div class="msg_history">
                            <div class="incoming_msg">
                              <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                              <div class="received_msg">
                                <div class="received_withd_msg">
                                  <p>Test which is a new approach to have all
                                    solutions</p>
                                  <span class="time_date"> 11:01 AM    |    June 9</span></div>
                              </div>
                            </div>
                            <div class="outgoing_msg">
                              <div class="sent_msg">
                                <p>Test which is a new approach to have all
                                  solutions</p>
                                <span class="time_date"> 11:01 AM    |    June 9</span> </div>
                            </div>
                            <div class="incoming_msg">
                              <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                              <div class="received_msg">
                                <div class="received_withd_msg">
                                  <p>Test, which is a new approach to have</p>
                                  <span class="time_date"> 11:01 AM    |    Yesterday</span></div>
                              </div>
                            </div>
                            <div class="outgoing_msg">
                              <div class="sent_msg">
                                <p>Apollo University, Delhi, India Test</p>
                                <span class="time_date"> 11:01 AM    |    Today</span> </div>
                            </div>
                            <div class="incoming_msg">
                              <div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                              <div class="received_msg">
                                <div class="received_withd_msg">
                                  <p>We work directly with our designers and suppliers,
                                    and sell direct to you, which means quality, exclusive
                                    products, at a price anyone can afford.</p>
                                  <span class="time_date"> 11:01 AM    |    Today</span></div>
                              </div>
                            </div>
                          </div>
                          <div class="type_msg">
                            <div class="input_msg_write">
                              <input type="text" class="write_msg" placeholder="Type a message" />
                              <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                            </div>
                          </div>
                        </div>
                      </div>
                      </div>
                            
                    </div>
                    </div>
                    </div>     
                              
               </div>
           


<div id="customernotification-tab" class="content-wrapper" style="width: 1660px; min-height:800 margin-bottom:0px;">
<div class="col-lg-8" >
          
        <div id="contentc" class="py-4">
    <div class="containerc">
      <div class="rowc"> 
        <!-- Left Panel
        ============================================= -->
        <aside class="col-lg-3"> 
          
          <!-- Profile Details
          =============================== -->
          <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
            <div class="profile-thumb mt-3 mb-4"> <img class="rounded-circle" src="images/profile-thumb.jpg" alt="">
              <div class="profile-thumb-edit custom-file bg-primary text-white" data-toggle="tooltip" title="" data-original-title="Change Profile Picture"> <i class="fas fa-camera position-absolute"></i>
                <input type="file" class="custom-file-input" id="customFile">
              </div>
            </div>
            <p class="text-3 font-weight-500 mb-2">Hello, Smith Rhodes</p>
            <p class="mb-2"><a href="profile.html" class="text-5 text-light" data-toggle="tooltip" title="" data-original-title="Edit Profile"><i class="fas fa-edit"></i></a></p>
          </div>
          <!-- Profile Details End --> 
          
          <!-- Available Balance
          =============================== -->
          <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
            <div class="text-17 text-light my-3"><i class="fas fa-wallet"></i></div>
            <h3 class="text-9 font-weight-400">$2956.00</h3>
            <p class="mb-2 text-muted opacity-8">Available Balance</p>
            <hr class="mx-n3">
            <div class="d-flex"><a style="text-decoration: none;" href="withdraw-money.html" class="btn-link mr-auto">Withdraw</a> <a style="text-decoration: none;" href="deposit-money.html" class="btn-link ml-auto">Deposit</a></div>
          </div>
          <!-- Available Balance End --> 
          
          <!-- Need Help?
          =============================== -->

     
          <div class="bg-light shadow-sm rounded text-center p-3 mb-4">
            <div class="text-17 text-light my-3"><i class="fas fa-comments"></i></div>
            <h3 class="text-3 font-weight-400 my-4">Need Help?</h3>
            <p class="text-muted opacity-8 mb-4">Have questions or concerns regrading your account?<br>
              Our experts are here to help!.</p>
            <a href="#" style="text-decoration: none;" class="btn btn1-primary btn1-block">Chate with Us</a> </div>
        
          <!-- Need Help? End --> 
          
        </aside>
        <!-- Left Panel End --> 
        
        <!-- Middle Panel
        ============================================= -->
        <div class="col-lg-9">
          
          <!-- Notifications
          ============================================= -->
     
          <div class="bg-light shadow-sm rounded p-4 mb-4">
            <h3 class="text-5 font-weight-400">Notifications</h3>
            <p class="text-muted">Select subscriptions to be delivered to <span class="text-body">smithrhodes1982@gmail.com</span></p>
            <hr class="mx-n4">
            <form id="notifications" method="post">
              <div class="form-check custom-control custom-checkbox">
                <input id="announcements" name="notifications" class="custom-control-input" type="checkbox">
                <label class="custom-control-label text-3" for="announcements">Announcements</label>
                <p class="text-muted line-height-3 mt-2">Be the first to know about new features and other news.</p>
              </div>
              <hr class="mx-n4">
              <div class="form-check custom-control custom-checkbox">
                <input id="sendPayment" name="notifications" class="custom-control-input" type="checkbox">
                <label class="custom-control-label text-3" for="sendPayment">Send payment</label>
                <p class="text-muted line-height-3 mt-2">Send an email when I send a payment.</p>
              </div>
              <hr class="mx-n4">
              <div class="form-check custom-control custom-checkbox">
                <input id="receiveApayment" name="notifications" class="custom-control-input" type="checkbox">
                <label class="custom-control-label text-3" for="receiveApayment">Receive a payment</label>
                <p class="text-muted line-height-3 mt-2">Send me an email when I receive a payment.</p>
              </div>
              <hr class="mx-n4">
              <div class="form-check custom-control custom-checkbox">
                <input id="requestPayment" name="notifications" class="custom-control-input" type="checkbox">
                <label class="custom-control-label text-3" for="requestPayment">Request payment</label>
                <p class="text-muted line-height-3 mt-2">Send me an email when i request payment.</p>
              </div>
              <hr class="mx-n4">
              <div class="form-check custom-control custom-checkbox">
                <input id="problemWithPayment" name="notifications" class="custom-control-input" type="checkbox">
                <label class="custom-control-label text-3" for="problemWithPayment">Have a problem with a payment</label>
                <p class="text-muted line-height-3 mt-2">Send me an email when have a problem with a payment.</p>
              </div>
              <hr class="mx-n4">
              <div class="form-check custom-control custom-checkbox">
                <input id="specialOffers" name="notifications" class="custom-control-input" type="checkbox">
                <label class="custom-control-label text-3" for="specialOffers">Special Offers</label>
                <p class="text-muted line-height-3 mt-2">Receive last-minute offers from us.</p>
              </div>
              <hr class="mx-n4">
              <div class="form-check custom-control custom-checkbox">
                <input id="reviewSurveys" name="notifications" class="custom-control-input" type="checkbox">
                <label class="custom-control-label text-3" for="reviewSurveys">Review Surveys</label>
                <p class="text-muted line-height-3 mt-2">Share your payment experience to better inform users.</p>
              </div>
              <hr class="mx-n4">
              <button class="btn btn1-primary mt-1" type="submit">Save Changes</button>
            </form>
          </div>
          </div>
          <!-- Notifications End --> 
          
        </div>
        <!-- Middle Panel End --> 
      </div>
    </div>
  </div>

</div>
              
           
      

    
        <script>
            var customerstatus_tab = document.getElementById("customerstatus-tab");
            var customerprofile_tab = document.getElementById("customerprofile-tab");
            var customerchat_tab = document.getElementById("customerchat-tab");
            var customersupport_tab = document.getElementById("customersupport-tab");
            var customerVideoConference = document.getElementById("customerVideoConference");
            var customernotification_tab = document.getElementById("customernotification-tab");

           
             customerprofile_tab.style.display = "none";
            customerprofile_tab.style.display = "none";
            customerchat_tab.style.display = "none";
            customersupport_tab.style.display = "none";
            customerVideoConference.style.display = "none";
           customernotification_tab.style.display = "none";




            // document.getElementById("analytics-tab").style.display="none";
            function toggleDashboardView(evt) {
                customerprofile_tab.style.display = "none";
                customerchat_tab.style.display = "none";
                customersupport_tab.style.display = "none";
                customerVideoConference.style.display = "none";
                customernotification_tab.style.display = "none";

                

                var target_element = evt;
                switch (target_element.id) {
                    case "customerstatus_a":
                        customerstatus_tab.style.display = "block";
                        break;
                    case "customerprofile_a":
                        customerprofile_tab.style.display = "block";
                        break;
                    case "customerchat_a":
                        customerchat_tab.style.display = "block";
                        break;
                    case "customersupport_a":
                        customersupport_tab.style.display = "block";
                        break;
                    case "customerVideoConference_a":
                customerVideoConference.style.display = "block";
                        break;
                    case "customernotify_a":
                customernotification_tab.style.display = "block";
                        break;
                    

                }
            }
        </script>
    
          
          
           <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
                
        
          

            
            
         