 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> 
  <link rel="stylesheet" href="/dashboard/admin/dist/css/adpage.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
  <!-- Navbar -->
    <nav1 style="display:flex;background-color:rgba(39, 124, 46, 0.2);justify-content:space-between;width:100%;">
        <div class="brand" style="margin-left:40px;cursor:pointer;">
        <i class="fa fa-bars" style="font-size:28px;" onclick="displayMenu(this)"></i>
        </div>
        <ul class="link">
            <li><i class="fa fa-refresh" style="font-size:28px"></i></li> 
            <li><i class='far fa-bell' style="font-size:28px;"></i></li>
            <li><i class="fa fa-user-o" style="font-size:28px;"></i></li>
        </ul> 
    </nav1>
<div class="row">
  

    <ul class="nav-tabs tabs-left" id="flex"  style="display:none;left:0px;">
        <li class="items">
           <a href="#" data-toggle="tab">Status</a>
        </li><br/>
 
        <li class="items active">
           <a href="#customerprofile" data-toggle="tab">Profile</a>
        </li><br/>

        <li class="items">
           <a href="#customerVideoConference" data-toggle="tab">Video Conferencing</a>
        </li><br/>

        <li class="items">
           <a href="#" data-toggle="tab">Payment Gateway</a>
        </li><br/>

         <li class="items">
             <a href="#" data-toggle="tab">Ratings</a>
         </li><br/>

         <li class="items">
           <a href="#" data-toggle="tab">Search</a>
        </li><br/>

        <li class="items">
           <a href="#" data-toggle="tab">Order History</a>
        </li><br/>

         <li class="items">
           <a href="#" data-toggle="tab">Customer Support</a>
        </li><br/>

        <li class="items">
           <a href="#" data-toggle="tab">Logout</a>
        </li>
        
     </ul>


<div class="col-lg-10">
          <!-- Tab panes -->
      <div class="tab-content" >
            <div class="tab-pane" id="customerprofile">
                <div class="profile-info">
                     <div class="profile-image">                      
                                 <img src="/dashboard/admin/images/profilepic.jpg" alt="profile" id="profileImg">  
                           
                         <div class="flex">
                            <li><b>NAME</b></li><br/>
                            <li>mobileNo.</li>
                            <li>Chat</li>
                            <li>E-mail</li>
                          </div>

                        <div class="flex">
                          <div class="row"> 
                           <div class="col-lg-6" style="padding: 0;"> 
                            <li>Age </li>
                            <li>Location</li>
                            <li>Occupation</li>
                            <li >
                                Submission:</li>
                                <a href="#" style="margin:5px;"><i class="fab fa-twitter"></i></a>
                                <a href="#" style="margin:5px;"><i class="fab fa-facebook"></i></a>
                                <a href="#" style="margin:5px;"><i class="fab fa-instagram"></i></a>
                                <a href="#" style="margin:5px;"><i class="fab fa-whatsapp"></i></a>
                                 <a href="#" style="margin:5px;"><i class="fab fa-linkedin"></i></a>
                           </div>

                           <div class="col-lg-6">
                            <li><input type="text"></li>
                             <li><input type="text"></li>
                              <li><input type="text"></li>
                           </div>
                          </div>
                        </div>
                         
                    </div>
                        <div class="BasicInfo">
                            <div class="subInfo">
                                <li>Address: <input type="text"></li>
                                <li>Country: <input type="text"></li>
                                <li>District: <input type="text"></li>
                                <li class="G">Gender:
                                   <ul>
                                   <li><input type="checkbox">Female</li>
                                   <li><input type="checkbox">Male</li>
                                   <li><input type="checkbox">Other</li>
                                   </ul>
                                </li>

                            </div>

                        </div>
                
                      
                </div>
            </div>

            <div class="tab-pane" id="customerVideoConference">



            </div>
      </div>
 </div>
 <div class="clearfix"></div>
    
</div>

 <script>
     function displayMenu(av){
        document.getElementById('flex').style.display="block";

     }
 </script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>