 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> 
  <link rel="stylesheet" href="/dashboard/admin/dist/css/adpage.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <!-- Navbar -->
    <nav1 style="display:flex;background-color:rgba(39, 124, 46, 0.2);justify-content:space-between;width:100%;">
        <div class="brand" style="margin-left:40px;cursor:pointer;">
        <i class="fa fa-bars" style="font-size:30px;" onclick="displayMenu(this)"></i>
        </div>
        <ul class="link">
            <li><i class="fa fa-refresh" style="font-size:30px"></i></li> 
            <li><i class='far fa-bell' style="font-size:30px;"></i></li>
            <li><i class="fa fa-user-o" style="font-size:30px;"></i></li>
        </ul> 
    </nav1>

    

 <div id="flex" style="display:none;left:0px;">
  <div class="p-3 items">
      <a href="#">Analytics</a>
  </div>
 
  <div class="p-3 items">
      <a href="#">Profile</a>
  </div>
  <div class="p-3 items">
      <a href="#">Video Conferencing</a>
  </div>
  <div class="p-3 items">
      <a href="#">Payment Gateway</a>
  </div>
  <div class="p-3 items">
      <a href="#">Custom Package</a>
  </div>
  <div class="p-3 items">
      <a href="#">Blog</a>
  </div>

   <div class="p-3 items">
       <a href="#">Order History</a>
  </div>
</div>

 <script>
     function displayMenu(av){
        document.getElementById('flex').style.display="block";

     }
 </script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>