<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<style>
   
</style>
 
  
       <div class="action">
           <input type="text" placeholder="Name">
           <input type="number" placeholder="Age">
           <input type="text" placeholder="MobileNo.">
           <input type="text" placeholder="Address">
           <input type="text" placeholder="City">
           <input type="text" placeholder="District">
           <input type="email" placeholder="E-mail">
       </div>
      
    </div>
     
   </div>