    <link rel="stylesheet" href="../dashboard/admin/dist/css/styles/about-us.css">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{{!-- img-data --}}
<div class="img-container">
    <img src="/dashboard/admin/images/png/ABOUT-US.jpg" >

  </div>
  {{!-- about-area --}}
<div class="full-container"> 
  <div class="about_area ">
<div class="container">
<div class="row align-items-center">
<div class="col-xl-6 col-lg-6 col-md-6">
<div class="about_thumbs">
<div class="large_img_1">
<img src="/dashboard/admin/images/png/On.jpg" alt="" style="height: 450px; width:350px;">
</div>
<div class="small_img_1">
<img src="/dashboard/admin/images/png/On.jpg" alt="" style="height: 360px; width:250px;">
</div>
</div>
</div>
<div class="col-xl-4 col-lg-4 col-md-4">
<div class="about_info">
 <div class="section_title mb-20px">
<h3>About Us</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing eliteiusmod tempor incididunt ut labore et dolore magna aliqua. Qpsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Quis ipsum suspendisse ultr.</p>
</div>
<p class="opening_hour">
Opening Hour
<span>10:00 am - 10:00 pm</span>
</p>
<a href="./dashboard/admin/contact.hbs" class="boxed-btn3">Contact Us</a>
</div>
</div>
</div>
</div>
</div>
</div>

