    <link rel="stylesheet" href="../dashboard/admin/dist/css/styles/about-us.css">

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{{!-- img-data --}}
<div class="img-container">
    <img src="/dashboard/admin/images/png/ABOUT-US.jpg" >

  </div>
  {{!-- about-area --}}
<div class="full-container"> 
  <div class="about_area ">
<div class="container">
<div class="row align-items-center">
<div class="col-xl-6 col-lg-6 col-md-6">
<div class="about_thumbs">
<div class="large_img_1">
<img src="/dashboard/admin/images/png/On.jpg" alt="" style="height: 450px; width:350px;">
</div>
<div class="small_img_1">
<img src="/dashboard/admin/images/png/On.jpg" alt="" style="height: 360px; width:250px;">
</div>
</div>
</div>
<div class="col-xl-4 col-lg-4 col-md-4">
<div class="about_info">
 <div class="section_title mb-20px">
<h3>About Us</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing eliteiusmod tempor incididunt ut labore et dolore magna aliqua. Qpsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Quis ipsum suspendisse ultr.</p>
</div>
<p class="opening_hour">
Opening Hour
<span>10:00 am - 10:00 pm</span>
</p>
<a href="./dashboard/admin/contact.hbs" class="boxed-btn3">Contact Us</a>
</div>
</div>
</div>
</div>
</div>
</div>
<section class="fivereasons timeline-flow" style="background-color:white; height:fit-content; ">
   <div class="containers">
      <div class="rowb">
         <div class="col-lg-5 col-md-5 col-sm-12 profile-right">
            <h2>2012</h2> 
            <p>A small team working out of a small space in Chennai starts out ambitiously, offering services like company incorporation, intellectual property and legal documentation, some of which would go on to capture 1% of the Indian market. Strong relations built with chartered accountants, company secretaries and lawyers across India.</p> 
            </div>
             <div class="col-lg-1 col-md-2 timeline">
                <div class="timeline-thumb">

                </div> 
                </div>
                 <div class="col-lg-5 col-md-5 col-sm-12">

                 </div> 
                 </div> 
                 <div class="rowb">
                    <div class="col-lg-5 col-md-5 col-sm-12 border-left">

                    </div>
                     <div class="col-lg-1 col-md-2 timeline">
                       <div class="timeline-thumb">

                       </div>
                        </div>
                         <div class="col-lg-5 col-md-5 col-sm-12 ">
                            <h2>2013</h2>
                             <p>The team size increases three times with all members working aggressively towards launching a Customer Relationship Management System. The number of customers skyrockets to reach 35,000 per year and the satisfaction percentage increases to 90%.</p> 
                             </div>
                              </div>
                               <div class="rowb">
                                  <div class="col-lg-5 col-md-5 col-sm-12 profile-right"> 
                                    <h2>2014</h2> 
                                    <p>Technology is ramped up to deliver a smooth experience to customers. New services like accounting and government filings are introduced. We witness a 300% year-on-year growth for the third consecutive year.</p> 
                                    </div>
                                     <div class="col-lg-1 col-md-2 timeline"> 
                                       <div class="timeline-thumb">

                                       </div>
                                        </div> 
                                        <div class="col-lg-5 col-md-5 col-sm-12">

                                        </div> </div> <div class="rowb"> 
                                          <div class="col-lg-5 col-md-5 col-sm-12 border-left">

                                          </div> <div class="col-lg-1 col-md-2 timeline"> 
                                            <div class="timeline-thumb">

                                            </div> 
                                            </div>
                                             <div class="col-lg-5 col-md-5 col-sm-12 ">
                                                <h2>2015</h2>
                                                 <p>The team is shifted to a new premise in Chennai. Operations begin in Bengaluru and Hyderabad with representatives in Mumbai and Delhi and over 100 affiliates across India. Customer base grows to 120,000 and the team gets geared for simplifying the legal service even further.</p>
                                                  </div> 
                                                  </div> 
                                                  <div class="rowb">
                                                     <div class="col-lg-5 col-md-5 col-sm-12 profile-right">
                                                        <h2>2016</h2> 
                                                        <p>A full-fledged, self-serve online platform is created where customers seek legal advice and add their legal requirements to a cart and pay for them online. The team size grows to 200 and starts delivering services to Tier 2 and Tier III cities. A marketplace is built to connect all the Indian citizens to lawyers and other professionals in their vicinity. A mobile app LIBRA to enable lawyers to manage their practice in a tech-savvy manner is launched.</p> 
                                                        </div> 
                                                        <div class="col-lg-1 col-md-2 timeline"> 
                                                          <div class="timeline-thumb">

                                                          </div> 
                                                          </div> 
                                                          <div class="col-lg-5 col-md-5 col-sm-12">

                                                          </div> 
                                                          </div> 
                                                          <div class="rowb"> 
                                                            <div class="col-lg-5 col-md-5 col-sm-12 border-left">

                                                            </div> 
                                                            <div class="col-lg-1 col-md-2 timeline"> 
                                                              <div class="timeline-thumb">

                                                              </div> 
                                                              </div> 
                                                              <div class="col-lg-5 col-md-5 col-sm-12 ">
                                                                 <h2>2017</h2> 
                                                                 <p>New services are introduced; milestones are crossed; with more than 1.5 lakh happy customers, Vakilsearch gains Forbes recognition.</p> 
                                                                 </div>
                                                                  </div> 
                                                                  <div class="rowb"> 
                                                                    <div class="col-lg-5 col-md-5 col-sm-12 profile-right"> 
                                                                      <h2>2018</h2> 
                                                                      <p>Vakilsearch reaches a monthly revenue of 1 cr+ and successfully launches 
                                                                        <a href="https://mysteno.io" target="_blank">Steno</a>, Virtual stenographer, a web-based application.</p> 
                                                                        </div> 
                                                                        <div class="col-lg-1 col-md-2 timeline">
                                                                           <div class="timeline-thumb">

                                                                           </div>
                                                                            </div>
                                                                             <div class="col-lg-5 col-md-5 col-sm-12">

                                                                             </div>
                                                                              </div> 
                                                                              <div class="rowb"> 
                                                                                <div class="col-lg-5 col-md-5 col-sm-12 border-left">

                  </div> <div class="col-lg-1 col-md-2 timeline"> 
                                          <div class="timeline-thumb"></div>
                                                               </div> 
                                                                <div class="col-lg-5 col-md-5 col-sm-12 "> 
                                                                                     <h2>2019</h>
    <p>India’s largest legal, tax and compliance platform goes mobile with a class-best mobile application.</p>
    
       </div> 
       </div>
        </div>
</section>
