<style>
    .navbar1{
        
    }
</style>

<nav2 class="navbar1" style="background-color: rgb(83, 102, 102);">

  <!-- Links -->
  <ul class="nav1">
    <li class="item1">
      <a class="link1" href="#">Link 1</a>
    </li>
    <li class="item1">
      <a class="link1" href="#">Link 2</a>
    </li>
    <li class="item1">
      <a class="link1" href="#">Link 3</a>
    </li>
  </ul>

</nav2>
