
    <div class="container">
    <div id="medium-feeds" >
     <div id="retainable-rss-embed" data-rss="https://medium.com/feed/LateralX" data-maxcols="2" data-layout="grid" data-poststyle="inline"  data-readmore="Read the rest" data-buttonclass="btn btn-success" data-offset="-200" class="mt-auto " ></div>
    </div>
</div>
    <script src="https://www.retainable.io/assets/retainable/rss-embed/retainable-rss-embed.js"></script>