<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Savetaxs</title>
    <link rel="stylesheet" href="dist\css\main.css">
   
</head>
<body>
    <!-- Navbar -->
    <nav>
        <div class="brand">
            <i>savetaxs</i>
        </div>
            <ul class="links">
                <li>Startup</li>
                <li>TAXS & Compliances</li>
                <li>Trademark & IP</li>
                <li>Fundraising</li>
                <li>Contract</li>
                <li>NGO</li>
                <li>Property & Personal</li>
                <li class="login">Sign in</li>
            </ul>
    </nav>

    <!-- cover -->
    <header>
        <div class="container">
            <div class="content">
                <p class="title">Providing 1 stop solution for all the Startup & Legal Compliances</p>
                 <p class="subtitle">
                     Savetaxs provides you all kind of solution starting from company registration, GST Resitration, Tax Filling, Trademark, Registration and much more..
                 </p>
                 <form action="#">
                     <div class="group">
                        <input type="text" placeholder="Search anything...">
                        <button>Search</button>   
                     </div>
                 </form>
            </div>
            <img src="images/home-img.png" alt="svg">
        </div>
    </header>

    <!-- services -->
    <section>
        <p class="title">Our Services</p>
        <div class="carousel-inner">
            <div class="carousel-item active" >
              <div class="cards">
                     <div class="card">
                      <p class="head" style="font-size: 20px;text-align:left;color: hsl(223, 100%, 14%);">Private Limited Company    Registration</p>
                      <p class="price"><i class="fa fa-rupee" style="font-size:30px;color:white;"></i>rfghj</p>
                      <p class="more">Know more</p>
                 
                  </div>
                  <div class="card">
                      <p class="head">Private Limited Company Registration</p>
                      <p class="price"><i class="fa fa-rupee" style="font-size:30px;color:white;"></i>rfghj</p>
                      <p class="more">Know more</p>
                  </div>
                  <div class="card">
                      <p class="head">Private Limited Company Registration</p>
                      <h6 class="price"><i class="fa fa-rupee" style="font-size:24px"></i>$2999</h6>
                      <p class="more">Know more</p>
                  </div>
                </div>
             </div>

            <div class="carousel-item">
              <div class="cards">
                  <div class="card">
                   <p class="head" >Private Limited Company Registration</p>
                   <p class="price"><i class="fa fa-rupee" style="font-size:30px;color:white;"></i>rfghj</p>
                   <p class="more">Know more</p>
              
               </div>
               <div class="card">
                   <p class="head">Private Limited Company Registration</p>
                   <p class="price"><i class="fa fa-rupee" style="font-size:30px;color:white;"></i>rfghj</p>
                   <p class="more">Know more</p>
               </div>
               <div class="card">
                   <p class="head">Private Limited Company Registration</p>
                   <h6 class="price"><i class="fa fa-rupee" style="font-size:24px"></i>$2999</h6>
                   <p class="more">Know more</p>
               </div>
             </div>
          </div>

            <div class="carousel-item">
              <div class="cards">
                  <div class="card">
                   <p class="head" >Private Limited Company Registration</p>
                   <p class="price"><i class="fa fa-rupee" style="font-size:30px;color:white;"></i>rfghj</p>
                   <p class="more">Know more</p>
              
               </div>
               <div class="card">
                   <p class="head">Private Limited Company Registration</p>
                   <p class="price"><i class="fa fa-rupee" style="font-size:30px;color:white;"></i>rfghj</p>
                   <p class="more">Know more</p>
               </div>
               <div class="card">
                   <p class="head">Private Limited Company Registration</p>
                   <h6 class="price"><i class="fa fa-rupee" style="font-size:24px"></i>$2999</h6>
                   <p class="more">Know more</p>
               </div>
             </div>
           </div>
          </div>
          
          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
        
    </section>

    <!-- consult -->
    <section class="consult">
        <form action="">
            <input type="text" placeholder="Full Name">
            <input type="text" placeholder="Phone Number">
            <input type="text" placeholder="Email">
            <input type="text" placeholder="City">
            <button>Submit</button>
        </form>
        <div class="side">
            <p class="title">Get Free Consultation</p>
            <p>Get a call from our expert and get a free Consultation on any of your requirements</p>
        </div>
    </section>

    <section class="business">
        <p class="title">Business Serverd</p>
        <div class="badges">
            <div class="badge">
                <div class="badgeimg one"></div>
                <p class="count">4,000+</p>
                <p class="sub">Clients Served</p>
            </div>
            <div class="badge">
                <div class="badgeimg two"></div>
                <p class="count">150+</p>
                <p class="sub">Partners</p>
            </div>
            <div class="badge">
                <div class="badgeimg three"></div>
                <p class="count">7000+</p>
                <p class="sub">Happy Customers</p>
            </div>
        </div>
    </section>

    <section class="choose">
        <div class="content">
            <p class="title">Why choose <i><b>savetaxs</b></i>?</p>
            <ul>
                <li>India's <b>best startup's legal service provider</b> company.</li>
                <li><b>Lowest pricing</b> through autmation and technology.</li>
                <li><b>Startup friendly team</b> which gives you service beyond satisfaction</li>
                <li><b>Superb packages</b> which you cant find anywhere.</li>
               <li>After service <b>Lifetime support policy</b> as premium client</li>
               <li><b>Confidential documents policy</b> during the process</li>
               <li><b>Highest credibilty partners</b> from the induastry.</li>
            </ul>
        </div>
    </section>

    <section class="trust">
        <div class="content">
            <p class="title">Trusted by the best</p>

        </div>
    </section>


    <section class="contact">
        <div class="content">
            <p class="title">Contact us</p>
            <div class="group">
                <p class="head">Call us</p>
                <p class="sub">+91-7515795165, +91-8624562452</p>
            </div>
            <div class="group">
                <p class="head">Email us</p>
                <p class="sub">support@savetaxs.com</p>
            </div>
            <div class="group">
                <p class="head">Connect with us</p>
                <ul class="social">
                    <li><img src="images/Contact/fb.png" alt="" srcset=""></li>
                    <li><img src="images/Contact/in.png" alt=""></li>
                    <li><img src="images/Contact/insta.png" alt="" srcset=""></li>
                    <li><img src="images/Contact/tweet.png" alt="" srcset=""></li>
                    <li><img src="images/Contact/you.png" alt="" srcset=""></li>
                </ul>
            </div>
        </div>
    </section>

    <footer>
        <ul>
            <li class="head">Popular Services</li>
            <li>Private limited Company Registration</li>
            <li>One Person Company Registration</li>
            <li>Limited Labiality Partnership Registration</li>
            <li>Partnership Frim</li>
            <li>Sole Proprietorship Firm Registration</li>
        </ul>
        <ul>
            <li class="head">Company</li>
            <li>About us</li>
            <li>Blog</li>
            <li>Partner with us</li>
            <li>Contact us</li>
            <li>Sitemap</li>
        </ul>
        <ul>
            <li class="head">Terms and Ploicies</li>
            <li>Privacy Policy</li>
            <li>Satisfaction Gauarantees</li>
        </ul>
    </footer>
    <div class="copy">
        Copyright 2020 savetaxs.com
    </div>
</body>
</html>