<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css">
      <!-- overlayScrollbars -->
      <link rel="stylesheet" href="plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
      <!-- Theme style -->
      <link rel="stylesheet" href="dist/css/adminlte.min.css">
      <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
   <style>
       .img1{
        z-index:+1;
        position: absolute;
        top: calc( 30vh - 100px );
        left: calc( 23vw - 100px );
        width:200px;
        height:200px;
       }
       .btn-login{
           color:white;
           background-color: #28E096;
           text-align: center;
           border:none;
           width:150px;
           height:40px;
       }
       .container{
           margin-left:0px;
           margin-right:0px;
           border-right:0px;
           
       }
       .logincust{
           margin-left:60px;
           display: none;
       }
       .loginpart{
           margin-left:60px;
           display: none;
       }
   </style>
  </head>
  <body>
     <div class="container" style="width:100vw">
         <div class="row" style="width:100vw">
           <div class="col-lg-6" style="width:100%;height:500px;margin:0px;padding:0px;outline:none;">
            <form class="customer" action="login.html" style="width:100%;height:100%;background-color: #6610f2;">
                
                <img class="img1" src="\images\png\cust-icon.png" alt="Cust-icon image" onclick="loginCust()"> 
            </form>
        
            <form class="logincust" action="login.html"  style="width:100%;height:100%;">
               <img src="\images\png\cust-icon-blue.png" alt="logocust" style="margin-bottom:50px;width:200px;height:80px;">
               
               <h3 style="color:#001445;font-family:open sans;font-weight: bold;font-style: italic;">Login</h3><br/>
               <input type="text" placeholder="Email ID" style="width:60%;height:40px;border:solid grey;margin-bottom:25px;padding-left:10px;"><br/>
               <input type="text" placeholder="Password"style="width:60%;height:40px;border:solid grey;margin-bottom:25px;padding-left:10px;"><br/>
             <div style="margin-bottom:20px;">
                 <a href="" style="text-decoration: underline;color:grey;">Don't remember your password?</a>
             </div>
             <button class="btn-login" >Login</button>
            </form>
        </div>

           
        <div class="col-lg-6" style="height:500px;margin:0px;padding:0px;outline-style:none;">
            <form action="login.html" style="width:100%;height:100%;background-color:#F96554;">
                <img class="img1"  src="\images\png\part-icon.png" alt="Part-icon image"> 
            </form>

            <form class="loginpart" action="login.html"  style="width:100%;height:100%;">
                <img src="\images\png\part-icon-blue.png" alt="logopart" style="margin-bottom:50px;width:200px;height:80px;">
                
                <h3 style="color:#001445;font-family:open sans;font-weight: bold;font-style: italic;">Login</h3><br/>
                <input type="text" placeholder="Email ID" style="width:60%;height:40px;border:solid grey;margin-bottom:25px;padding-left:10px;"><br/>
                <input type="text" placeholder="Password"style="width:60%;height:40px;border:solid grey;margin-bottom:25px;padding-left:10px;"><br/>
              <div style="margin-bottom:20px;">
                  <a href="" style="text-decoration: underline;color:grey;">Don't remember your password?</a>
              </div>
              <button class="btn-login" >Login</button>
             </form>
        </div>
    </div>
 </div>
 <div class="footer" style="background-color: black;color:white;height:30%;">
    <h2>Savetaxs</h2>
    <div class="col-lg-4">
        <b>Popular Services</b><br/>
        Private Limited Company Registration<br/>
        One person Company Registration<br/>


        
    </div>
    <div class="col-lg-4">
        <b>Company</b><br/>
        About Us<br/>
        Blogs<br/>
        Partner with Us <br/>
        Contact Us<br/>
        Sitemap
        
    </div>
    <div class="col-lg-4">
        <b>Terms and Policies</b><br/>
        Privacy Policy<br/>
        Term and Condition<br/>
        Satisfaction Guarantees
    </div>
    

 </div>
 <script>
     function loginCust(){
          
     }
 </script>
    
  </body>
  </html>