


  
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

{{!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous"> --}}


<style>
    .card1{ 
    width: 20rem; 
    background-color:white;
        }

#frm{
    padding-left: 60px;
}
#clr{
    margin-bottom: 50px;
    margin-top: 50px;
    font-family:sans-serif;
}
#c{
    padding: 20px;
    margin-left: 80px;
      margin-right: 100px;

    background-color:#fff;
}
ul,.a{
    list-style-type: none;
    list-style-position: inside;
       padding: 20px;

}

ul li,.a{
  padding: 5px;
  margin-left: 80px;
  margin-right: 100px;
  }
h4, h3, h5,h6 {
   margin-left: 150px;
     margin-right: 70px;

}

p{
      margin-left: 80px;
      margin-right: 70px;

}
h6{

 line-height: 1.25em;
}
</style>
<div id="clr"> 
<section class="bg-default py-5" style="color: #00008b; height:500px"  >
    <div class="container my-5" >
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8 text-light">
                        <h1 class="pt-3 mt-5">FSSAI Registrations</h1>
               <h6 style="margin-left: 0px;">Food Security and Standard Authority of India FSSAI registration is for those who wants to start their business in food sector. FSSAI supervises the business under the regulations listed in FSSAI Act 2006. This Act ensures that food products go under quality check and that no food adulteration happens. </h6>

        </div>
                     <div class="col-md-4">
                        <div class="row">
                <div class="col-md-12" id="frm">
                    <div class="card1 shadow-lg" >
                        <div class="card-body one">
                        <div class="filter-sidebar ">
                            <h3 style="margin-left: 10px;">Order select</h3>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" placeholder="Phone No.">
            </div> 
            <div class="form-group">
                <input type="text" class="form-control" placeholder="City">
            </div>
            <div class="form-group">
                <select class="form-control" id="make1">
                  <option selected>Select City</option>
                  <option>Ford</option>
                  <option>Hyundai</option>
                  <option>Kia</option>
                  <option>Honda</option>
                  <option>Skoda</option>
                </select>
             </div>
            <div class="form-group">
                <select class="form-control" id="make1">
                  <option selected>Language</option>
                  <option>Accord</option>
                  <option>Camry</option>
                  <option>Civic</option>
                  <option>Rapid</option>
                  <option>Octavia</option>
                </select>
             </div>
            <hr>
            <button type="btn" class="btn btn-danger"><a href="/cart" style="color: white; text-decoration:none;">ADD to Cart</a></button>
            <div class="pb-3"></div>
          </div>
	    </div>
	</div>
                        </div>
                    </div>
                </div>
            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="c">
    <h4>Requirements for FSSAI Registration</h4>
    <ul class="a">
        <li>1. Any FBO with an annual turnover of not more than Rs. 12 Lakhs</li>
        <li>2. Petty retailer dealing in food products</li>
        <li>3. Any person who manufactures or sells any food article by himself</li>
        <li>4.Food sale is done by the temporary stall holder</li>
        <li>5. Any individual who distributes food in any religious or social gathering except a caterer</li>
    </ul>


<div>
     <h4>How to Obtain FSSAI Registration</h4>
<ul class="a">
<li>1.	FSSAI registration is initiated by submitting Form A (application) to food and safety department.</li>
<li>2.	This application can be accepted or it may be rejected by the Department within 7 days from the application date and the fact has to be intimated to the applicant in writing</li>
<li>3. If the application is accepted, then the department will grant a registration certificate with the registration number and the photo of the applicant.</li>
<li>4.	FBO should prominently display the certificate of registration at the place of business during the business hours.</li>

</ul>
</div>


<div>
<h4>Documents required for FSSAI Registration</h4>

<ul class="a">
<li>1. Form B – completed and signed</li>
<li>2. Photo Identity of FBO</li>
<li>3. Proof of possession of premises (eg. Rental Agreement )</li>
<li>4. Partnership Deed / Certificate of Incorporation / Articles of Association etc</li>
<li>5. List of food products to be dealt with</li>
<li>6. Food safety management system plan</li>

</ul>
</div><br/>
<div>
<h3>FSSAI License</h3>
<h6 style="font-size:18px;">FSSAI Registration is compulsory for small businesses whose turnover is less than Rs. 12 lakhs per year. However any food business exceeding the turnover limit of Rs.12 lakhs per year, then they require a FSSAI License. </h6>

</div><br/>
<div>
<h4>Documents required for Central License </h4>

<ul class="a">
<li>1. Form B duly completed and signed</li>
<li>2. Plan of the processing unit showing the dimensions and operation-wise area allocation    </li>
<li>3. List of Directors/ Partners/ Proprietor with address, contact details, and photo ID</li>
<li>4. Name and list of equipment and machinery used with the number and installed capacity</li>
<li>5. List of food category to be manufactured</li>
<li>6. Authority letter from manufacturer nominated a responsible person name and address</li>
<li>7.Analysis report of water to be used in the process to confirm the portability</li>
<li>8. Source of raw material for milk, meat etc</li>
<li>9. Recall plan wherever applicable</li>
<li>10. Ministry of Commerce Certificate for 100% EOU</li>
<li>11. NOC/PA document issued by FSSAI</li>
<li>12. IE code document issued by DGFT</li>
<li>13. Form IX</li>
<li>14. Certificate from Ministry of Tourism   </li>
<li>15. Proof of possession of premises</li>
<li>16. Partnership deed/ affidavit of proprietorship</li>
<li>17. NOC and copy of License from the manufacturer</li>
<li>18. Food safety management system plan or certificate</li>
<li>19. NOC from the municipality or local body</li>
<li>20. Supporting document for proof of turnover and transportation</li>
<li>21. Declaration form</li>
</ul>
</div>
<div>
<h4>Documents required for State License</h4>

<ul class="a">
<li>i.	Form B duly completed and signed</li>
<li>2.	Plan of the processing unit showing the dimensions and operation-wise area allocation    </li>
<li>3. List of Directors/ Partners/ Proprietor with address, contact details, and photo ID</li>
<li>4. Name and list of equipment and machinery used with the number and installed capacity</li>
<li>5. List of food category to be manufactured</li>
<li>6. Authority letter from manufacturer nominated a responsible person name and address</li>
<li>7. Analysis report of water to be used in the process to confirm the portability</li>
<li>8. Proof of possession of premises</li>
<li>9.	Partnership deed/ affidavit of proprietorship</li>
<li>10.	NOC and copy of License from the manufacturer</li>
<li>11.	Copy of certificate obtained under Coop Act 1861/Multi state Coop Act 2002</li>
<li>12. Food safety management system plan or certificate</li>

</ul>
</div>

</div>
</div>
