


  
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

{{!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous"> --}}


<style>
    .card1{ 
    width: 20rem; 
    background-color:white;
        }

#frm{
    padding-left: 60px;
}
#clr{
    margin-bottom: 50px;
    margin-top: 50px;
    font-family:sans-serif;
}
#c{
    padding: 20px;
    margin-left: 80px;
      margin-right: 100px;

    background-color:#fff;
}
ul,.a{
    list-style-type: none;
    list-style-position: inside;
       padding: 20px;

}

ul li,.a{
  padding: 5px;
  margin-left: 80px;
  margin-right: 100px;
  }
h4, h3, h5,h6 {
   margin-left: 150px;
     margin-right: 70px;

}

p{
      margin-left: 80px;
      margin-right: 70px;

}
h6{

 line-height: 1.25em;
}
</style>
<div id="clr"> 
<section class="bg-default py-5" style="color: #00008b; height:500px"  >
    <div class="container my-5" >
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8 text-light">
                        <h1 class="pt-3 mt-5">Partnership Firm	</h1>
                        <h6 style="margin-left: 0px;">Partnership firm in India are governed by the Partnership Act, 1932. Section 4 of the Act defines Partnership as - An agreement between persons who have agreed to share profits of the business carried on by all or any one of them acting for all. Therefore, a partnership consists of three essential elements.</h6>
                       <p style="margin-left: 15px;">1. A partnership must be a result of an agreement between two or more individuals.</p>
                       <p style="margin-left: 15px;">2. The agreement must be built to share the profits obtained from the business.</p>
                       <p style="margin-left: 15px;">3. The business must be run by all or any of them representing the rest.</p><br/>
<p style="margin-left: 10px;">All these conditions must coexist before a partnership can come into existence.</p>
                        </div>
                     <div class="col-md-4">
                        <div class="row">
                <div class="col-md-12" id="frm">
                    <div class="card1 shadow-lg" >
                        <div class="card-body one">
                        <div class="filter-sidebar ">
                            <h3 style="margin-left: 10px;">Order select</h3>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" placeholder="Phone No.">
            </div> 
            <div class="form-group">
                <input type="text" class="form-control" placeholder="City">
            </div>
            <div class="form-group">
                <select class="form-control" id="make1">
                  <option selected>Select City</option>
                  <option>Ford</option>
                  <option>Hyundai</option>
                  <option>Kia</option>
                  <option>Honda</option>
                  <option>Skoda</option>
                </select>
             </div>
            <div class="form-group">
                <select class="form-control" id="make1">
                  <option selected>Language</option>
                  <option>Accord</option>
                  <option>Camry</option>
                  <option>Civic</option>
                  <option>Rapid</option>
                  <option>Octavia</option>
                </select>
             </div>
            <hr>
            <button type="btn" class="btn btn-danger"><a href="/cart" style="color: white; text-decoration:none;">ADD to Cart</a></button>
            <div class="pb-3"></div>
          </div>
	    </div>
	</div>
                        </div>
                    </div>
                </div>
            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="c">
    <h4 >Information required in a Partnership Deed</h4>
    <ul class="a">
        <li>1. Name and address of the firm and all the partners</li>
        <li>2. Nature of business</li>
        <li>3. Date of starting of business Capital to be contributed by each partner </li>
        <li>4. Capital to be contributed by each partner</li>
        <li>5. Profit/loss sharing ratio among the partners</li>
    </ul>


<div>
     <h4>Documents required to Register a Partnership Firm</h4>

<ul class="a">
    <li>1. Application for registration of partnership (Form 1)</li>
    <li>2. Specimen of Affidavit</li>
    <li>3. Certified original copy of Partnership Deed</li>
    <li>4. Proof of principal place of business (ownership documents or rental/lease agreement)</li>
</ul>
</div>


<div>
     <h4>Features of a Partnership Firm </h4>

<ul class="a">
    <li>1. A Partnership Firm is a business that require two or more people to manage and operate the functions of the firm in accordance with the law mentioned in the Partnership Deed. Members share their profits and liabilities in the predetermined ratio as mutually decided by them.</li>
    <li>2. It is best suited for small businesses as setting up cost is low and compliance requirements are also minimal.</li>
    <li>3. Ideally a partnership firm must have atleast two members, however in the banking business, it can have upto 10 members and in any other business, it can even have upto 20 members. </li>
    <li>4. Registering a partnership firm is not necessary, however it is advisable to have it registered online. </li>
<li>5. The partnership deed contains names of each partner and their respective addresses, the firm name, the date of commencement, capital invested by each partner, type of partnership, and profit-sharing ratio. </li>
</ul>
</div>
<h4>Why Choose Us for Partnership Registration?</h4>
<div>
<ul class="a">
    <li>1. We will help you get your partnership firm registered within 8 business days and help you get the partnership deed in a smooth processing way.</li>
    <li>2. We will help you with all the paperwork making your government interaction convenient.</li>
</ul>

</div>

</div>
</div>
