


  
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

{{!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous"> --}}


<style>
    .card1{ 
    width: 20rem; 
    background-color:white;
        }

#frm{
    padding-left: 60px;
}
#clr{
    margin-bottom: 50px;
    margin-top: 50px;
    font-family:sans-serif;
}
#c{
    padding: 20px;
    margin-left: 80px;
      margin-right: 100px;

    background-color:#fff;
}
ul,.a{
    list-style-type: none;
    list-style-position: inside;
       padding: 20px;

}

ul li,.a{
  padding: 5px;
  margin-left: 80px;
  margin-right: 100px;
  }
h4, h3, h5,h6 {
   margin-left: 150px;
     margin-right: 70px;

}

p{
      margin-left: 80px;
      margin-right: 70px;

}
h6{

 line-height: 1.25em;
}
</style>
<div id="clr"> 
<section class="bg-default py-5" style="color: #00008b; height:500px"  >
    <div class="container my-5" >
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8 text-light">
                        <h1 class="pt-3 mt-5"> Digital Signature Certificate</h1>
                        <h6 style="margin-left: 0px;">It is issued by a recognised Certifying Authority. It is a secured digital key to validate the identity of the certificate holder. It contains a person’s name, pin code, country, date of issuance of the certificate and date of expiry and the name of the Certifying Authority.   </h6>
                        </div>
                     <div class="col-md-4">
                        <div class="row">
                <div class="col-md-12" id="frm">
                    <div class="card1 shadow-lg" >
                        <div class="card-body one">
                        <div class="filter-sidebar ">
                            <h3 style="margin-left: 10px;">Order select</h3>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" placeholder="Phone No.">
            </div> 
            <div class="form-group">
                <input type="text" class="form-control" placeholder="City">
            </div>
            <div class="form-group">
                <select class="form-control" id="make1">
                  <option selected>Select City</option>
                  <option>Ford</option>
                  <option>Hyundai</option>
                  <option>Kia</option>
                  <option>Honda</option>
                  <option>Skoda</option>
                </select>
             </div>
            <div class="form-group">
                <select class="form-control" id="make1">
                  <option selected>Language</option>
                  <option>Accord</option>
                  <option>Camry</option>
                  <option>Civic</option>
                  <option>Rapid</option>
                  <option>Octavia</option>
                </select>
             </div>
            <hr>
            <button type="btn" class="btn btn-danger"><a href="/cart" style="color: white; text-decoration:none;">ADD to Cart</a></button>
            <div class="pb-3"></div>
          </div>
	    </div>
	</div>
                        </div>
                    </div>
                </div>
            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="c">
    <h4>Benefits of Digital Signature Certificate</h4>
    <ul class="a">
        <li>1. One can digitally sign the PDF files and send it across which reduced a lot of time and cost.</li>
        <li>2. Digitally signed documents cannot be altered or edited after signing. Thus integrity of the data is intact.</li>
        <li>3. Digital signature also gives authenticity of the documents. </li>

    </ul>


<div>
     <h4>Checklist to apply for DSC</h4>
<h6>Indian Individuals Looking to Obtain DSC Must Submit:</h6>
<ul class="a">
    <li>1. ID proof: Passport/Driving license or any Photo Identity issued by the Govt</li>
    <li>2. PAN card</li>
    <li>3. Address proof: Aadhaar card/Voter ID/Driving license/Registration Certificate</li>
    <li>4. Attesting Officer proof</li>
</ul>
<h6>Indian Organizations Looking to Get DSC Must Submit:</h6>
<ul>
    <li>1.	Organizational PAN</li>
    <li>2.	Partnership deed, if applicable</li>
    <li>3.	List of Authorised Signatories which could be the list of Directors, Board resolution, etc.</li>
    <li>4.	Authorised Signatory ID proof</li>
    <li>5.	GST certificate</li>

</ul>
</div>


<div>
     <h4>Why choose us for DSC</h4>

<ul class="a">
    <li>1.	We provide all 3 class of DSC</li>
    <li>2.	Simple and systematic guidance</li>
    <li>3.	We are authorised providers of DSC</li>
    <li>4.	Digital signature with advanced SHA-256 algorithm as mandated by Indian Government. </li>
    <li>5.	Delivery of Digital Signature are compliant with FIPS security standards.</li>


</ul>
</div>

</div>
</div>
