


  
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

{{!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous"> --}}


<style>
    .card1{ 
    width: 20rem; 
    background-color:white;
        }

#frm{
    padding-left: 60px;
}
#clr{
    margin-bottom: 50px;
    margin-top: 50px;
    font-family:sans-serif;
}
#c{
    padding: 20px;
    margin-left: 80px;
      margin-right: 100px;

    background-color:#fff;
}
ul,.a{
    list-style-type: none;
    list-style-position: inside;
       padding: 20px;

}

ul li,.a{
  padding: 5px;
  margin-left: 80px;
  margin-right: 100px;
  }
h4, h3, h5,h6 {
   margin-left: 150px;
     margin-right: 70px;

}

p{
      margin-left: 80px;
      margin-right: 70px;

}
h6{

 line-height: 1.25em;
}
</style>
<div id="clr"> 
<section class="bg-default py-5" style="color: #00008b; height:500px"  >
    <div class="container my-5" >
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8 text-light">
                        <h1 class="pt-3 mt-5"> Producer Company</h1>
                        <h6 style="margin-left: 0px;">A Producer Company in India is governed by the Companies Act 2013 that is legally recognised body of farmers and agriculturists. The Companies Act defines Producer as any person engaged in any activity connected with or relatable to any primary produce. A Producer Company is thus a body corporate having an object that is one or all of the following:</h6>
                        <h6>production, harvesting, procurement, grading, pooling, handling, marketing, selling, export of primary produce of the Members or import of goods or services for their benefit.</h6>
                     <h6>A Producer Company can be formed by either of the following –</h6>
                     <p>i. 10 or more producers, or</p>
                    <p>ii.	2 or more producer institutions, or</p>  
                    <p>iii.	A combination of 10 or more producers and producer institutions</p>               
                                             </div>

                     <div class="col-md-4">
                        <div class="row">
                <div class="col-md-12" id="frm">
                    <div class="card1 shadow-lg" >
                        <div class="card-body one">
                        <div class="filter-sidebar ">
                            <h3 style="margin-left: 10px;">Order select</h3>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" placeholder="Phone No.">
            </div> 
            <div class="form-group">
                <input type="text" class="form-control" placeholder="City">
            </div>
            <div class="form-group">
                <select class="form-control" id="make1">
                  <option selected>Select City</option>
                  <option>Ford</option>
                  <option>Hyundai</option>
                  <option>Kia</option>
                  <option>Honda</option>
                  <option>Skoda</option>
                </select>
             </div>
            <div class="form-group">
                <select class="form-control" id="make1">
                  <option selected>Language</option>
                  <option>Accord</option>
                  <option>Camry</option>
                  <option>Civic</option>
                  <option>Rapid</option>
                  <option>Octavia</option>
                </select>
             </div>
            <hr>
            <button type="btn" class="btn btn-danger"><a href="/cart" style="color: white; text-decoration:none;">ADD to Cart</a></button>
            <div class="pb-3"></div>
          </div>
	    </div>
	</div>
                        </div>
                    </div>
                </div>
            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="c">
    <h4>Checklist for Forming Producer Company</h4>
    <ul class="a">
        <li>1. A minimum capital of Rs. 5 lakhs</li>
        <li>2. A minimum of 5 directors and a maximum of 15 directors are required</li>
        <li>3. It cannot be converted into a public company</li>

    </ul>


<div>
     <h4>Documents required for Registering Producer Company</h4>
<p>For directors and shareholders (All documents must be scanned and attested by atleast one of the directors)</p>
<ul class="a">
    <li>1. PAN Card/ Passport</li>
    <li>2. Voter’s ID/ Driver’s licence / Passport</li>
    <li>3. Latest Bank Statement/ Telephone Bill / Electricity or Gas Bill</li>
    <li>4. Passport size Photograph</li>
    <li>5. Specimen signature on a blank document</li>
</ul>
</div>


<div>
     <h4>For Office</h4>

<ul class="a">
    <li>1. Latest Bank Statement/ Telephone Bill / Electricity or Gas Bill</li>
    <li>2. Notarised Rental Agreement in English </li>
<li>3. No Objection Certificate from property owner</li>
<li>4. Sale Deed / Property Deed in English</li>

</ul>
</div>

<div>
     <h4>Our simple procedure to help you register is as below – </h4>
<ul class="a">
<li>1. Fill your details in our form, scan and submit your documents</li>
<li>2. You will be provided with DSC and DPIN  </li>
<li>3. After verifying all the details, we will file the required documents and applications with the ROC</li>
<li>4.	And once the company is incorporated, we will send you all the documents and DSCs. </li>

</ul>
</div>

</div>
</div>
