


  
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

{{!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous"> --}}


<style>
    .card1{ 
    width: 20rem; 
    background-color:white;
        }

#frm{
    padding-left: 60px;
}
#clr{
    margin-bottom: 50px;
    margin-top: 50px;
    font-family:sans-serif;
}
#c{
    padding: 20px;
    margin-left: 80px;
      margin-right: 100px;

    background-color:#fff;
}
ul,.a{
    list-style-type: none;
    list-style-position: inside;
       padding: 20px;

}

ul li,.a{
  padding: 5px;
  margin-left: 80px;
  margin-right: 100px;
  }
h4, h3, h5,h6 {
   margin-left: 150px;
     margin-right: 70px;

}

p{
      margin-left: 80px;
      margin-right: 70px;

}
h6{

 line-height: 1.25em;
}
</style>
<div id="clr"> 
<section class="bg-default py-5" style="color: #00008b; height:500px"  >
    <div class="container my-5" >
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8 text-light">
                        <h1 class="pt-3 mt-5">Professional Tax Registration </h1>
                        <h6 style="margin-left: 0px;">Professional Tax is the tax levied by the various State Governments of India on salaried individuals working in government or non-government entities, or in practice of any profession, such as CAs, Lawyers, Doctors, etc. or carry out some form of business, are required to pay this professional tax. The rate of Professional Tax is charged based on the income slabs set by the State Government. This tax amount is allowed as deduction under the Income Tax Act. </h6>
                    </div>
                     <div class="col-md-4">
                        <div class="row">
                <div class="col-md-12" id="frm">
                    <div class="card1 shadow-lg" >
                        <div class="card-body one">
                        <div class="filter-sidebar ">
                            <h3 style="margin-left: 10px;">Order select</h3>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" placeholder="Phone No.">
            </div> 
            <div class="form-group">
                <input type="text" class="form-control" placeholder="City">
            </div>
            <div class="form-group">
                <select class="form-control" id="make1">
                  <option selected>Select City</option>
                  <option>Ford</option>
                  <option>Hyundai</option>
                  <option>Kia</option>
                  <option>Honda</option>
                  <option>Skoda</option>
                </select>
             </div>
            <div class="form-group">
                <select class="form-control" id="make1">
                  <option selected>Language</option>
                  <option>Accord</option>
                  <option>Camry</option>
                  <option>Civic</option>
                  <option>Rapid</option>
                  <option>Octavia</option>
                </select>
             </div>
            <hr>
            <button type="btn" class="btn btn-danger"><a href="/cart" style="color: white; text-decoration:none;">ADD to Cart</a></button>
            <div class="pb-3"></div>
          </div>
	    </div>
	</div>
                        </div>
                    </div>
                </div>
            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="c">
    <h4>Procedure to Register</h4>
    <ul class="a">
        <li>1. Fill up the form</li>
        <li>2. Upload scanned copy of the necessary documents</li>
        <li>3. We will help you file the documents with the concerned government office</li>
        <li>4. Government will process and send an acknowledgement</li>


    </ul>



</div>
</div>
