


  
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

{{!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous"> --}}


<style>
    .card1{ 
    width: 20rem; 
    background-color:white;
        }

#frm{
    padding-left: 60px;
}
#clr{
    margin-bottom: 50px;
    margin-top: 50px;
    font-family:sans-serif;
}
#c{
    padding: 20px;
    margin-left: 80px;
      margin-right: 100px;

    background-color:#fff;
}
ul,.a{
    list-style-type: none;
    list-style-position: inside;
       padding: 20px;

}

ul li,.a{
  padding: 5px;
  margin-left: 80px;
  margin-right: 100px;
  }
h4, h3, h5,h6 {
   margin-left: 150px;
     margin-right: 70px;

}

p{
      margin-left: 80px;
      margin-right: 70px;

}
h6{

 line-height: 1.25em;
}
</style>
<div id="clr"> 
<section class="bg-default py-5" style="color: #00008b; height:500px"  >
    <div class="container my-5" >
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8 text-light">
                        <h1 class="pt-3 mt-5">Business Funding</h1>
                        <h3 style="margin-left: 0px;">Business Plan</h3>
                        <h6 style="margin-left: 0px;">A business plan is a document that provides a roadmap for the business. It is a document that communicates a clear and concise message to those that matters. It becomes easy for start ups or any business for that matter, to showcase their potential for success in a way that is easily understood by the investors.  </h6>
                        </div>
                     <div class="col-md-4">
                        <div class="row">
                <div class="col-md-12" id="frm">
                    <div class="card1 shadow-lg" >
                        <div class="card-body one">
                        <div class="filter-sidebar ">
                            <h3 style="margin-left: 10px;">Order select</h3>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" placeholder="Phone No.">
            </div> 
            <div class="form-group">
                <input type="text" class="form-control" placeholder="City">
            </div>
            <div class="form-group">
                <select class="form-control" id="make1">
                  <option selected>Select City</option>
                  <option>Ford</option>
                  <option>Hyundai</option>
                  <option>Kia</option>
                  <option>Honda</option>
                  <option>Skoda</option>
                </select>
             </div>
            <div class="form-group">
                <select class="form-control" id="make1">
                  <option selected>Language</option>
                  <option>Accord</option>
                  <option>Camry</option>
                  <option>Civic</option>
                  <option>Rapid</option>
                  <option>Octavia</option>
                </select>
             </div>
            <hr>
            <button type="btn" class="btn btn-danger"><a href="/cart" style="color: white; text-decoration:none;">ADD to Cart</a></button>
            <div class="pb-3"></div>
          </div>
	    </div>
	</div>
                        </div>
                    </div>
                </div>
            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="c">
    <h4>What is there in a Business Plan?</h4>
    <ul class="a">
        <li>1. A narrative on the concern</li>
        <li>2. Solution to the concern</li>
        <li>3. Competitive and dense analysis of the market</li>
        <li>4. Competitive advantage of your business</li>
        <li>5. Value for the customer</li>
        <li>6. Marketing Strategy</li>
        <li>7. Traction of the business growth</li>
    </ul>


<div>
     <h4> Business Loan (Syndicated Loan)</h4>
<h6>Syndicate loan means a set up between to or more banks to provide financial aid to the business. It is a credit facility for SMEs by way of term loans, loan against property, bank guarantee or working capital facility.</h6>
<ul class="a">
    <p>Benefits of Syndicate Loan</p>
    <li>1. In a syndicate loan, the entrepreneurs get to maintain a 100% ownership, that is backed by any collateral. It helps the business to get the financial aid it needs to grow. </li>
    <li>2. A syndicate loan opens the door to various types of bank loans which fulfils any kind of funding requirement like capital expenditure, working capital, business acquisition, bridge or short term funding etc. </li>

</ul>
</div>


<div>
     <h4>Fundraising</h4>
<h6>Quite often, entrepreneurs do not have enough funds for all their business requirements. Thus, they start to seek funding through venture capitals and accelerators. It aids their incorporation, marketing, advertising etc needs. </h6>
<ul class="a">
    <p style="font-weight: bold; font-size:20px; margin-left:60px">How can we help?</p>
    <li>1.	We help entrepreneurs with quality fundraising services that can help your business to escalate.  </li>
<li>2.Our partnership with prominent Venture capitals and accelerators will help to facilitate smooth deals for you.</li>
<li>3. We also provide support for online fundraising ideas that will help you run your business smoothly.</li>
<li>4. We guide and mentor you from time to time and help you understand any difficult financial terminologies, if any. </li>

</ul>
</div>

</div>
</div>
