


  
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

{{!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous"> --}}


<style>
    .card1{ 
    width: 20rem; 
    background-color:white;
        }

#frm{
    padding-left: 60px;
}
#clr{
    margin-bottom: 50px;
    margin-top: 50px;
    font-family:sans-serif;
}
#c{
    padding: 20px;
    margin-left: 80px;
      margin-right: 100px;

    background-color:#fff;
}
ul,.a{
    list-style-type: none;
    list-style-position: inside;
       padding: 20px;

}

ul li,.a{
  padding: 5px;
  margin-left: 80px;
  margin-right: 100px;
  }
h4, h3, h5,h6 {
   margin-left: 150px;
     margin-right: 70px;

}

p{
      margin-left: 80px;
      margin-right: 70px;

}
h6{

 line-height: 1.25em;
}
</style>
<div id="clr"> 
<section class="bg-default py-5" style="color: #00008b; height:500px"  >
    <div class="container my-5" >
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8 text-light">
                        <h1 class="pt-3 mt-5">Proprietorship Firm</h1>
                        <h6 style="margin-left: 0px;">A sole proprietorship firm is the easiest to form as one person is the owner and is solely liable for all the debts and liabilities of the business. Any person who wants to start a business without getting into complex legal formalities, proprietorship firm is the best way to start. However, the sole proprietor must be a citizen and resident of India. </h6>
                        </div>
                     <div class="col-md-4">
                        <div class="row">
                <div class="col-md-12" id="frm">
                    <div class="card1 shadow-lg" >
                        <div class="card-body one">
                        <div class="filter-sidebar ">
                            <h3 style="margin-left: 10px;">Order select</h3>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" placeholder="Phone No.">
            </div> 
            <div class="form-group">
                <input type="text" class="form-control" placeholder="City">
            </div>
            <div class="form-group">
                <select class="form-control" id="make1">
                  <option selected>Select City</option>
                  <option>Ford</option>
                  <option>Hyundai</option>
                  <option>Kia</option>
                  <option>Honda</option>
                  <option>Skoda</option>
                </select>
             </div>
            <div class="form-group">
                <select class="form-control" id="make1">
                  <option selected>Language</option>
                  <option>Accord</option>
                  <option>Camry</option>
                  <option>Civic</option>
                  <option>Rapid</option>
                  <option>Octavia</option>
                </select>
             </div>
            <hr>
            <button type="btn" class="btn btn-danger"><a href="/cart" style="color: white; text-decoration:none;">ADD to Cart</a></button>
            <div class="pb-3"></div>
          </div>
	    </div>
	</div>
                        </div>
                    </div>
                </div>
            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="c">
    <h4>How to Register a Sole Proprietorship?	</h4>
    <ul class="a">
        <p>To register a sole proprietorship, no specific legal registration is required. But to avoid any complicated legal scenarios, it is advisable to apply for a few licenses under various laws – </p>
        <li>1. Under Shop and Establishment Act </li>
        <li>2. Under MSMED (Micro, Small, Medium Enterprises Development) Act</li>
        <li>3. Under GST (Goods and Service Tax)</li>
        <li>4. Under Trademark</li>
        <li>5. According to the nature of business</li>
    </ul>


<div>
     <h4>Documents Required for Registration</h4>

<ul class="a">
    <li>1. Current Bank Account Statement</li>
    <li>2. Registration certificates or licences from various departments</li>
    <li>3. PAN Card/Passport/Aadhar/Driving License</li>
    <li>4. Address Proof of Sole Proprietor – Electricity Bill/ Gas Bill</li>
</ul>
</div>


<div>
     <h4>Why Choose us for registration?</h4>

<ul class="a">
    <li>i.	Our experts will help you with a smooth registration process be it registration with service tax, sales tax, import/export code, professional tax. </li>
        <li>ii.	We help you connect with established vendor who will help you keep an update on the end-to-end progress. </li>
    <li>iii.	We will help you with quick and hustle free service. </li>

</ul>
</div>

</div>
</div>
