<link rel="stylesheet" href="/dashboard/admin/dist/css/styles/shop&establish.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<div class="container1">
    <div class="row" style="background-color: rgb(3, 3, 82);">
        <div class="col-lg-6" id="top1">
           
            <h1>Accounts</h1>
             
        </div>
        <div class="col-lg-6 p-5" id="top2">
            <div class="card0">
                <h2 style="color:darkblue;"><b>Order Select</b></h2>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Phone Number">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="City">
                </div>
                <div class="form-group">
                    <select class="form-control">
                        <option selected>Select state</option>
                        <option>Madhya Pradesh</option>
                        <option>Goa</option>
                        <option>UttarPradesh</option>
                        <option>Punjab</option>
                        <option>Gujrat</option>
                        <option>Maharastra</option>
                    </select>
                </div>
                 <div class="form-group">
                    <select class="form-control">
                        <option selected>Language</option>
                        <option>Accord</option>
                        <option>Camry</option>
                        <option>Civic</option>
                        <option>English</option>
                        <option>Hindi</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="button" value="Add To Cart">
                </div>
            </div>   
        </div>
        
    </div>
    
    <div class="row p-5">
       <div class="col-lg-3"> 
        
            <div class="menu0"><a href="#m1">Maintaining Accounts</a></div>
            <div class="menu0"><a href="#m2">How we help in Accounting</a></div>
            
      
       </div> 
       <div class="col-lg-8">
         <div class="details">
            <div id="m1">
             <h3>
                Maintaining Accounts
             </h3>
             <p style="padding-left: 22px;">Maintaining books of accounts is extremely important 
                 while running a business as it is required at the time of audit, it might also be needed by the tax 
                 department or the bank or your investors as well. Also, it gives the promoters and shareholders a good sense of how the business
                  is doing and proves eligibility for loans in later years, and even satisfies investors.</p>
             
            </div><br>


            <div id="m2">
                <h3>How we help in Accounting</h3>
                <ul>
                    <li>i.	We have CA and financial experts who can help you with all the financial consultations.</li>
                    <li>ii.	We can help you in bookkeeping and generating financial reports</li>
                    <li>iii.	We can help you in preparing accurate annual financial statements and monthly reports</li>
                    <li>iv.	Assist you in designing invoices</li>
                    <li>v.	Also, to plan your taxes properly</li>
                </ul>
</div><br>
</div>
</div>
</div>
</div>