
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link rel="stylesheet" href="/dashboard/admin/dist/css/styles/shop&establish.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">


<div class="container1">
    <div class="row" style="background-color: rgb(3, 3, 82);">
        <div class="col-lg-6" id="top1">
           
             <h1>Business Loan</h1>
           </div>
             <div class="col-lg-6 p-5" id="top2">
            <div class="card0">
                <h2 style="color:darkblue;"><b>Order Select</b></h2>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Phone Number">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="City">
                </div>
                <div class="form-group">
                    <select class="form-control">
                        <option selected>Select state</option>
                        <option>Madhya Pradesh</option>
                        <option>Goa</option>
                        <option>UttarPradesh</option>
                        <option>Punjab</option>
                        <option>Gujrat</option>
                        <option>Maharastra</option>
                    </select>
                </div>
                 <div class="form-group">
                    <select class="form-control">
                        <option selected>Language</option>
                        <option>Accord</option>
                        <option>Camry</option>
                        <option>Civic</option>
                        <option>English</option>
                        <option>Hindi</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="button" class="btn1" value="Add To Cart">
                </div>
            </div>   
        </div>
        
    </div>
    
    <div class="row p-5" >
<div class="col-lg-3"> 
        
            <div class="menu0"><a href="#m1">Overview</a></div>
            <div class="menu0"><a href="#m2">Benefits of Syndicate Loan</a></div>
            
</div>

<div class="col-lg-8">
<div class="details">
  
<div id="m1">
     <h3> Business Loan (Syndicated Loan)</h3>
    <p style="padding-left: 22px;">Syndicate loan means a set up between to or more banks to provide financial aid to the business. 
    It is a credit facility for SMEs by way of term loans, loan against property, bank guarantee or working capital facility.</p>

</div>

<div class="m2">
    <p style="padding-left:22px;">Benefits of Syndicate Loan</p>

    <ul>
       <li>1. In a syndicate loan, the entrepreneurs get to maintain a 100% ownership, that is backed by any collateral. It helps the business to get the financial aid it needs to grow. </li>
    <li>2. A syndicate loan opens the door to various types of bank loans which fulfils any kind of funding requirement like capital expenditure, working capital, business acquisition, bridge or short term funding etc. </li>

   </ul>
</div>


</div>
    </div>
    </div>

</div>

