
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link rel="stylesheet" href="/dashboard/admin/dist/css/styles/shop&establish.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  


<div class="container1">
    <div class="row" style="background-color: rgb(3, 3, 82);">
        <div class="col-lg-6" id="top1">
           
             <h1>Business Plan</h1>
           </div>
             <div class="col-lg-6 p-5" id="top2">
            <div class="card0">
                <h2 style="color:darkblue;"><b>Order Select</b></h2>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Phone Number">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="City">
                </div>
                <div class="form-group">
                    <select class="form-control">
                        <option selected>Select state</option>
                        <option>Madhya Pradesh</option>
                        <option>Goa</option>
                        <option>UttarPradesh</option>
                        <option>Punjab</option>
                        <option>Gujrat</option>
                        <option>Maharastra</option>
                    </select>
                </div>
                 <div class="form-group">
                    <select class="form-control">
                        <option selected>Language</option>
                        <option>Accord</option>
                        <option>Camry</option>
                        <option>Civic</option>
                        <option>English</option>
                        <option>Hindi</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="button" class="btn1" value="Add To Cart">
                </div>
            </div>   
        </div>
        
    </div>
    
    <div class="row p-5" >
<div class="col-lg-3"> 
        
            <div class="menu0"><a href="#m1">Overview</a></div>
            <div class="menu0"><a href="#m2">What is there in a Business Plan?</a></div>
           
</div>

<div class="col-lg-8">
<div class="details">
    <div id="m1">
         <h3>Business Plan</h3>
        <p style="padding-left: 22px;">A business plan is a document that provides a roadmap for the business.
             It is a document that communicates a clear and concise message to those that matters. 
             It becomes easy for start ups or any business for that matter, to showcase their potential 
             for success in a way that is easily understood by the investors.  </p>
                       
    </div><br/>
<div id="m2">
    <h3>What is there in a Business Plan?</h3>
    <ul>
        <li>1. A narrative on the concern</li>
        <li>2. Solution to the concern</li>
        <li>3. Competitive and dense analysis of the market</li>
        <li>4. Competitive advantage of your business</li>
        <li>5. Value for the customer</li>
        <li>6. Marketing Strategy</li>
        <li>7. Traction of the business growth</li>
    </ul>

    </div>



</div>
    </div>
    </div>

</div>

