<link rel="stylesheet" href="/dashboard/admin/dist/css/styles/shop&establish.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<div class="container1">
    <div class="row" style="background-color: rgb(3, 3, 82);">
        <div class="col-lg-6" id="top1">
           
            <h1>Caste Certificate</h1>
             
        </div>
        <div class="col-lg-6 p-5" id="top2">
            <div class="card0">
                <h2 style="color:darkblue;"><b>Order Select</b></h2>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Phone Number">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="City">
                </div>
                <div class="form-group">
                    <select class="form-control">
                        <option selected>Select City</option>
                        <option>Ford</option>
                        <option>Kia</option>
                        <option>Honda</option>
                    </select>
                </div>
                 <div class="form-group">
                    <select class="form-control">
                        <option selected>Language</option>
                        <option>Accord</option>
                        <option>Camry</option>
                        <option>Civic</option>
                        <option>English</option>
                        <option>Hindi</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="button" value="Add To Cart">
                </div>
            </div>   
        </div>
        
    </div>
    
    <div class="row p-5">
       <div class="col-lg-3"> 
        
            <div class="menu0"><a href="#m1">OverView</a></div>
            <div class="menu0"><a href="#m2">Checklist Required to Apply for A Caste Certificate</a></div>
            <div class="menu0"><a href="#m3">Documents Required for Caste Certificate</a></div>
      
       </div> 
       <div class="col-lg-8">
         <div class="details">
            <div id="m1">
             <h3>
               Caste Certificate
             </h3>
             <p style="padding-left: 22px;">A Caste Certificate is the proof of one's belonging to a particular caste, especially in case one
                  belongs to any of the 'Scheduled Castes', as specified in the Indian Constitution. </p>
               
             
            </div><br>


            <div id="m2">
                <h3>Checklist Required to Apply for A Caste Certificate</h3>
                <ul>
                    <li>i. Personal Details.</li>
                    <li>ii.	Address Details</li>
                    <li>iii.  Contact Details</li>
                    <li>vi. Parents Details</li>'
                    <li>v.	Blood relative’s and their caste certificate details,</li>
                    <li>vi.	Details of local references, etc.</li>
                   
                </ul>
            </div><br>
            
            <div id="m3">
                <h3>Documents Required for Caste Certificate</h3>
                <ul>
                    <li>i. Identity Proof<i class="fa fa-upload" aria-hidden="true"></i></li>
                    <li>ii.	Birth Certificate<i class="fa fa-upload" aria-hidden="true"></i></li>
                    <li>iii.  Declartion<i class="fa fa-upload" aria-hidden="true"></i></li>
                   
                   
                </ul>
            </div><br>
            

         </div>
       </div>


    </div>
</div>