<link rel="stylesheet" href="/dashboard/admin/dist/css/styles/shop&establish.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<div class="container1">
    <div class="row" style="background-color: rgb(3, 3, 82);">
        <div class="col-lg-6" id="top1">
           
            <h1>Caveat Petition</h1>
             
        </div>
        <div class="col-lg-6 p-5" id="top2">
            <div class="card0">
                <h2 style="color:darkblue;"><b>Order Select</b></h2>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Phone Number">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="City">
                </div>
<div class="form-group">
                    <select class="form-control">
                        <option selected>Select state</option>
                        <option>Madhya Pradesh</option>
                        <option>Goa</option>
                        <option>UttarPradesh</option>
                        <option>Punjab</option>
                        <option>Gujrat</option>
                        <option>Maharastra</option>
                    </select>
                </div>
                 <div class="form-group">
                    <select class="form-control">
                        <option selected>Language</option>
                        <option>Accord</option>
                        <option>Camry</option>
                        <option>Civic</option>
                        <option>English</option>
                        <option>Hindi</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="button" value="Add To Cart">
                </div>
            </div>   
        </div>
        
    </div>
    
    <div class="row p-5">
       <div class="col-lg-3"> 
        
            <div class="menu0"><a href="#m1">OverView</a></div>

       </div> 
       <div class="col-lg-8">
         <div class="details">
            <div id="m1">
             <h3>
               Caveat Petition
             </h3>
             <p style="padding-left: 22px;">A caveat petition is filed in the court as a prudent measure which is initiated by people usually when they are having a very strong belief that some case is going to affect their interest in any manner. Caveat means an admonition, caution, or warning. In law, it may be recognized as a notice, especially in probate, 
                 that certain actions may not be taken without informing the person who gave the notice.</p>
                
            </div><br>

         </div>
       </div>


    </div>
</div>