
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<div class="container1">
    <div class="row" style="background-color: rgb(3, 3, 82);">
        <div class="col-lg-6" id="top1">
           
            <h1>Consumer Complaint</h1>
             
        </div>
        <div class="col-lg-6 p-5" id="top2">
            <div class="card0">
                <h2 style="color:darkblue;"><b>Order Select</b></h2>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Phone Number">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="City">
                </div>
                <div class="form-group">
                    <select class="form-control">
                        <option selected>Select state</option>
                        <option>Madhya Pradesh</option>
                        <option>Goa</option>
                        <option>UttarPradesh</option>
                        <option>Punjab</option>
                        <option>Gujrat</option>
                        <option>Maharastra</option>
                    </select>
                </div>
                 <div class="form-group">
                    <select class="form-control">
                        <option selected>Language</option>
                        <option>Accord</option>
                        <option>Camry</option>
                        <option>Civic</option>
                        <option>English</option>
                        <option>Hindi</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="button" value="Add To Cart">
                </div>
            </div>   
        </div>
        
    </div>
    
    <div class="row p-5">
       <div class="col-lg-3"> 
        
            <div class="menu0"><a href="#m1">OverView</a></div>
            <div class="menu0"><a href="#m2">Who Can File A Consumer Complaint In India</a></div>
            <div class="menu0"><a href="#m3">What are Consumer Rights?</a></div>
      
       </div> 
       <div class="col-lg-8">
         <div class="details">
            <div id="m1">
             <h3>
               Consumer Complaint
             </h3>
             <p style="padding-left: 22px;">A Consumer Complaint is a formal complaint against a seller or service provider and is filed before the appropriate consumer forum (also called consumer court).
                  The Complaint is filed when the seller or service provider fails to rectify the problem even after receiving a legal notice.</p>
            
            </div><br>


            <div id="m2">
                <h3>Who Can File A Consumer Complaint In India</h3>
                <p style="padding-left: 22px;">According to the Consumer Protection Act, you can file a Consumer Complaint if you are:-</p>
                <ul>
                    <li>i.	A consumer - i.e. an individual who purchases goods or avails services for his/her personal use (but not for resale or commercial purposes).</li>
                    <li>ii.	Any registered volunteer organization that acts on behalf of consumers (e.g. The Consumer Guidance Society of India).</li>
                    <li>iii.	A group of consumers having a common interest</li>
                    <li>iv.	Legal heirs of a deceased consumer.</li>
                    <li>
                       v.	Relatives of a consumer.
                    </li>
                   <li>vi.	he legal guardian of a consumer, in case the consumer is a minor.</li>
                </ul>
            </div><br>

            <div id="m3">
                <h3>What are Consumer Rights?</h3>
               <ul>
                   <li>i.	Right to safety against any hazardous or potentially dangerous products or services.</li>
                   <li>ii.	The right to information about the products or services you are purchasing.</li>
                   <li>iii.	Right to choose from a variety of products and services at competitive price points</li>
                   <li>iv.	Right to be heard and seek redressal through the various consumer courts in each district.</li>
                   <li>
                       v.	Right against unfair trade practices
                   </li>
               </ul>

         </div>
       </div>


    </div>
</div>
<link rel="stylesheet" href="/dashboard/admin/dist/css/styles/shop&establish.css">