
<link rel="stylesheet" href="/dashboard/admin/dist/css/styles/servicesstyl.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

{{!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous"> --}}


<style>
    .card1{ 
    width: 20rem; 
    background-color:white;
        }

#frm{
    padding-left: 60px;
}
#clr{
    margin-bottom: 50px;
    margin-top: 50px;
    font-family:sans-serif;
}
#c{
    padding: 20px;
    margin-left: 80px;
      margin-right: 100px;

    background-color:#fff;
}
ul,.a{
    list-style-type: none;
    list-style-position: inside;
       padding: 20px;

}

ul li,.a{
  padding: 5px;
  margin-left: 80px;
  margin-right: 100px;
  }
h4, h3, h5,h6 {
   margin-left: 150px;
     margin-right: 70px;

}

p{
      margin-left: 80px;
      margin-right: 70px;

}
h6{

 line-height: 1.25em;
}
</style>
<div id="clr"> 
<section class="bg-default py-5" style="color: #00008b; height:500px"  >
    <div class="container my-5" >
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8 text-light">
                        <h1 class="pt-3 mt-5">ESI Registration</h1>
                                               </div>
                     <div class="col-md-4">
                        <div class="row">
                <div class="col-md-12" id="frm">
                    <div class="card3 shadow-lg" >
                        <div class="card-body one">
                        <div class="filter-sidebar ">
                            <h3 style="margin-left: 10px;">Order select</h3>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" placeholder="Phone No.">
            </div> 
            <div class="form-group">
                <input type="text" class="form-control" placeholder="City">
            </div>
            <div class="form-group">
                <select class="form-control" id="make1">
                  <option selected>Select City</option>
                  <option>Ford</option>
                  <option>Hyundai</option>
                  <option>Kia</option>
                  <option>Honda</option>
                  <option>Skoda</option>
                </select>
             </div>
            <div class="form-group">
                <select class="form-control" id="make1">
                  <option selected>Language</option>
                  <option>Accord</option>
                  <option>Camry</option>
                  <option>Civic</option>
                  <option>Rapid</option>
                  <option>Octavia</option>
                </select>
             </div>
            <hr>
            <button type="btn" class="btn btn-danger"><a href="/cart" style="color: white; text-decoration:none;">ADD to Cart</a></button>
            <div class="pb-3"></div>
          </div>
	    </div>
	</div>
                        </div>
                    </div>
                </div>
            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="c">
    <div class="row p-5" >
<div class="col-lg-3"> 
        
            <div class="menu0"><a href="#m1">Overview</a></div>
            <div class="menu0"><a href="#m2">Requirements for Registration </a></div>
            <div class="menu0"><a href="#m3">Document required</a></div>
                        <div class="menu0"><a href="#m3">Entitys required Registration</a></div>

</div>
<div id="details" style="margin-top: -400px;">
    <div id="m1">
        <h3>ESI Registration</h3>
        <h6>Employee State Insurance Corporation is a self-financing health insurance scheme that provides medical benefits to the employees and their family. Units or Establishments that have 10 or more employees, drawing the wages of up to Rs.15,000 a month are required to be registered for ESIC under the ESI Act 1948.  At present, covered employees contribute 1.75% of the wages to the ESIC and covered employers contribute 4.75% of the wages, payable to their employees. </h6>
                       
    </div>
<div id="m2">
    <h4>ESI Registration Procedure</h4>
    <ul class="a">
        <li>1. Fill up the form and submit your documents</li>
        <li>2. All the documents will be verified</li>
        <li>3. We will help you to fill different application forms </li>
        <li>4. After completion of ESI registration , we will send you the 17 digit identification code number and temporary ID card</li>
    </ul>

    </div>

<div id="m3">
     <h4>Documents required for ESIC registration<i class="material-icons">attachment</i></h4>

<ul class="a">
    <li>1. A registration certificate obtained either under the:</li>
    <p>a. Factories Act</p>
        <p>b. Shops and Establishment Act</p>

    <li>2. Certificate of Registration in case of Company, and Partnership deed in case of a Partnership</li>
    <li>3. Memorandum of Association and Articles of Association of the Company</li>
    <li>4. A list of all the employees working in the Establishment</li>
    <li>5. PAN Card of the Business Entity as well as all the Employees working under the entity</li>
    <li>6. The compensation details of all the employees</li>
        <li>7. A cancelled cheque of the Bank Account of the Company</li>
    <li>8. List of Directors of the Company</li>
    <li>9. List of the Shareholders of the Company</li>
    <li>10. Register containing the attendance of the employees</li>

</ul>
</div>


<div id="m4">
     <h4>Entities covered under ESIC</h4>
<h6>The entities covered are – </h6>
<ul class="a">
    <li>1.	Shops</li>
<li>2.	Movie theatres</li>
<li>3.	Medical institutions</li>
<li>4.	Hotels or restaurants/li>
<li>5.	Newspaper establishments</li>
<li>6.	Private Educational institutions</li>
<li>7.	Roadside motor transport establishments</li>
<li>8.	Cinemas</li>


</ul>
</div>

</div>
</div>
    </div>
    </div>
