

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="container1">
    <div class="row" style="background-color: rgb(3, 3, 82);">
        <div class="col-lg-6" id="top1">
           
             <h1>ESI Registration</h1>
      </div>
         <div class="col-lg-6 p-5" id="top2">
            <div class="card0">
                <h2 style="color:darkblue;"><b>Order Select</b></h2>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Phone Number">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="City">
                </div>
                <div class="form-group">
                  
                    <select class="form-control">
                        <option selected>Select state</option>
                        <option>Andhra Pradesh</option>
                        <option>Arunachal Pradesh </option>
                        <option>Assam</option>
                        <option>Bihar</option>
                         <option>Chhattisgarh</option>
                         <option>Goa</option>
                        <option>Gujarat </option>
                        <option>Haryana </option>
                        <option>Himachal Pradesh</option>
                        <option>Jammu and Kashmir</option>
                        <option>Jharkhand</option>
                        <option>Karnataka</option>
                        <option>Kerala</option>
                         <option>Madhya Pradesh</option>
                         <option>Maharashtra</option>
                         <option>Manipur </option>
                         <option>Meghalaya</option>
                         <option>Mizoram</option> 
                        <option>Nagaland</option>
                        <option>Odisha</option>
                        <option>Punjab</option>
                        <option>Rajasthan</option> 
                        <option>Sikkim</option>
                        <option>Tamil Nadu </option>
                         <option>Telangana</option> 
                        <option>Tripura </option>
                        <option>Uttar Pradesh </option>
                         <option>Uttarakhand</option>
                         <option>West Bengal</option>

                    </select>
                </div>
                 <div class="form-group">
                    <select class="form-control">
                        <option selected>Language</option>
                        <option>English</option>
                        <option>Hindi</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="button" class="btn1" value="Add To Cart">
                </div>
            </div>   
        </div>
        
    </div>
    
    <div class="row p-5" >
         <div class="col-lg-3"> 
        
            <div class="menu0"><a href="#m1">Overview</a></div>
            <div class="menu0"><a href="#m2">Requirements for Registration </a></div>
            <div class="menu0"><a href="#m3">Document required</a></div>
                        <div class="menu0"><a href="#m3">Entitys required Registration</a></div>

            </div>

        <div class="col-lg-8">
          <div class="details">
           <div id="m1">
              <h3>ESI Registration</h3>
                   <p style="padding-left: 22px;">Employee State Insurance Corporation is a self-financing health 
            insurance scheme that provides medical benefits to the employees and their family. Units or 
            Establishments that have 10 or more employees, drawing the wages of up to Rs.15,000 a month are 
            required to be registered for ESIC under the ESI Act 1948.  At present, covered employees
            contribute 1.75% of the wages to the ESIC and covered employers contribute 4.75% of the wages, payable to their employees. </p>
                       
    </div>
<div id="m2">
    <h3>ESI Registration Procedure</h3>
    <ul class="a">
        <li>1. Fill up the form and submit your documents</li>
        <li>2. All the documents will be verified</li>
        <li>3. We will help you to fill different application forms </li>
        <li>4. After completion of ESI registration , we will send you the 17 digit identification code number and temporary ID card</li>
    </ul>

    </div>

<div id="m3">
     <h4>Documents required for ESIC registration<i class="material-icons">attachment</i></h4>

<ul class="a">
    <li>1. A registration certificate obtained either under the:
                     {{#if isAuthenticated}}
                          <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                          </span>
                        {{/if}}
    </li>
    <p>a. Factories Act</p>
        <p>b. Shops and Establishment Act</p>

    <li>2. Certificate of Registration in case of Company, and Partnership deed in case of a Partnership
         {{#if isAuthenticated}}
          <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
        </span>
     {{/if}} 
    </li>
    <li>3. Memorandum of Association and Articles of Association of the Company
         {{#if isAuthenticated}}
           <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
           </span>
        {{/if}} 
    </li>
    <li>4. A list of all the employees working in the Establishment
         {{#if isAuthenticated}}
           <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
           </span>
        {{/if}} 
    </li>
    <li>5. PAN Card of the Business Entity as well as all the Employees working under the entity
         {{#if isAuthenticated}}
           <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
           </span>
        {{/if}} 
    </li>
    <li>6. The compensation details of all the employees
         {{#if isAuthenticated}}
           <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
           </span>
        {{/if}} 
    </li>
        <li>7. A cancelled cheque of the Bank Account of the Company
             {{#if isAuthenticated}}
           <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
           </span>
        {{/if}} 
        </li>
    <li>8. List of Directors of the Company
         {{#if isAuthenticated}}
           <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
           </span>
        {{/if}} 
    </li>
    <li>9. List of the Shareholders of the Company
         {{#if isAuthenticated}}
           <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
           </span>
        {{/if}} 
    </li>
    <li>10. Register containing the attendance of the employees
         {{#if isAuthenticated}}
           <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
           </span>
        {{/if}} 
    </li>

</ul>
{{#if isAuthenticated}}
 <button type="submit" id="btn">Submit</button>
 {{/if}}
</div><br>
<br>


<div id="m4">
     <h4>Entities covered under ESIC</h4>
<h3>The entities covered are – </h3>
<ul class="a">
    <li>1.	Shops</li>
<li>2.	Movie theatres</li>
<li>3.	Medical institutions</li>
<li>4.	Hotels or restaurants/li>
<li>5.	Newspaper establishments</li>
<li>6.	Private Educational institutions</li>
<li>7.	Roadside motor transport establishments</li>
<li>8.	Cinemas</li>


</ul>
</div>

</div>
</div>
    </div>
  </div>
<link rel="stylesheet" href="/dashboard/admin/dist/css/styles/shop&establish.css">