
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<div class="container1">
    <div class="row" style="background-color: rgb(3, 3, 82);">
        <div class="col-lg-6" id="top1">
           
            <h1>Gender Change </h1>
             
        </div>
        <div class="col-lg-6 p-5" id="top2">
            <div class="card0">
                <h2 style="color:darkblue;"><b>Order Select</b></h2>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Phone Number">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="City">
                </div>
                <div class="form-group">
                    <select class="form-control">
                        <option selected>Select state</option>
                        <option>Madhya Pradesh</option>
                        <option>Goa</option>
                        <option>UttarPradesh</option>
                        <option>Punjab</option>
                        <option>Gujrat</option>
                        <option>Maharastra</option>
                    </select>
                </div>
                 <div class="form-group">
                    <select class="form-control">
                        <option selected>Language</option>
                        <option>Accord</option>
                        <option>Camry</option>
                        <option>Civic</option>
                        <option>English</option>
                        <option>Hindi</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="button" value="Add To Cart">
                </div>
            </div>   
        </div>
        
    </div>
    
    <div class="row p-5">
       <div class="col-lg-3"> 
        
            <div class="menu0"><a href="#m1">OverView</a></div>
             <div class="menu0"><a href="#m1">Documents required for gender change application</a></div>
       </div> 
       <div class="col-lg-8">
         <div class="details">
            <div id="m1">
             <h3>
               Gender Change
             </h3>
             <p style="padding-left: 22px;">The freedom to choose one’s gender is a legal right granted to every Indian citizen, irrespective of caste and creed. When an individual feels that his or her identity does not match the birth gender, the person decides to undergo gender reassignment and are called transsexuals. 
                 Gender change has to be officially notified to the weekly Gazette, published by the Department of Publication, Government of India.  </p>
                
            </div><br>

            <div id="m2">
                <h3>Documents required for gender change application</h3>
                <p style="padding-left: 22px;">For preparing an application for change of gender the below-mentioned documents are required:</p>
                <ul>
                    <li>
                      i.	Self-attested identity proof copies (Aadhar/Voter ID/Passport)
                      <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
                    </li>
                    <li>
                        ii.	Two self-attested passport size photographs
                        <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
                    </li>
                    <li>
                       iii.	An original newspaper in which gender change advertisement was given.
                       <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
                    </li>
                    <li>
                        iv.	A specimen proforma as prescribed by the department, duly signed by the applicant and two major witnesses.
                        <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
                    </li>
                    <li>
                        v.	A declaration stating that the contents in the application are true.
                        <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
                    </li>
                    <li>
                        vi.	A request letter together with the registration fee to the authority.
                        <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
                    </li>
                </ul>
                <button type="submit" id="btn">Submit</button>
            </div>
         </div>
       </div>


    </div>
</div>
<link rel="stylesheet" href="/dashboard/admin/dist/css/styles/shop&establish.css">