<link rel="stylesheet" href="/dashboard/admin/dist/css/styles/shop&establish.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<div class="container1">
    <div class="row" style="background-color: rgb(3, 3, 82);">
        <div class="col-lg-6" id="top1">
           
            <h1>ISO Certification</h1>
              
        </div>
        <div class="col-lg-6 p-5" id="top2">
            <div class="card0">
                <h2 style="color:darkblue;"><b>Order Select</b></h2>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Phone Number">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="City">
                </div>
                <div class="form-group">
                    <select class="form-control">
                        <option selected>Select City</option>
                        <option>Ford</option>
                        <option>Kia</option>
                        <option>Honda</option>
                    </select>
                </div>
                 <div class="form-group">
                    <select class="form-control">
                        <option selected>Language</option>
                        <option>Accord</option>
                        <option>Camry</option>
                        <option>Civic</option>
                        <option>English</option>
                        <option>Hindi</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="button" value="Add To Cart">
                </div>
            </div>   
        </div>
        
    </div>
    
    <div class="row p-5">
       <div class="col-lg-3"> 
             
             <div class="menu0"><a href="#m1">OverView</a></div>
            <div class="menu0"><a href="#m2">Types of ISO Certification</a></div>
            <div class="menu0"><a href="#m3">Process of ISO Registration</a></div>
            <div class="menu0"><a href="#m4">Documents required for ISO Registration</a></div>
       </div> 
       <div class="col-lg-8">
         <div class="details">
             <div id="m1">
                <h3>ISO</h3>
                <p style="padding-left: 22px;">International Standards Organization (ISO) is an independent organization that sets the standards for businesses in terms of quality, safety, and efficiency of products. The aim of getting ISO certification is to advance the improvement of standardisation in the technology of an organisation. It also certifies that the management system, manufacturing process, 
                service or the documentation process has fulfilled all the requirements for standardization and quality assurance. </p>
              

             </div>      
      
            <div id="m2">
             <h3>
               Types of ISO Certification
             </h3>
             <ul>
                 <li>
                     	i..	ISO 9001 2008      –     Quality Management
                 </li>
                 <li>
                     	ii..	ISO 14001        –     Environmental Management
                 </li>
                  <li>
                     	iii..	ISO 27001       –      Information security Management
                      </li>
                  <li>
                    	iv..	ISO  22008      –      Food Safety Management 
                 </li>
                
                 
             </ul>
            </div><br>


            <div id="m3">
                <h3>Process of ISO Registration</h3>
                <ul style="list-style: none;">
                    
                    <li>i.	Complete ISO Registration form.</li>
                    <li>ii.	Select the registration form</li>
                    <li>iii.	Submit all your necessary documents</li>
                    <li>iv.	Once we IDO audit on your certificate, we will send it to you via mail. </li>
                   
                </ul>
            </div><br>

            <div id="m4">
                <h3>Documents required for ISO Registration Process</h3>
                <p style="padding-left: 22px;">Proof that the business is registered. This can be done through: </p>
                <ol>
                    <li>Certificate of Incorporation<span><i class="fa fa-upload" aria-hidden="true"></i></span></li>
                    <li>GST Certificate<span><i class="fa fa-upload" aria-hidden="true"></i></span></li>
                    <li>MSME Certificate<span><i class="fa fa-upload" aria-hidden="true"></i></span></li>
                    <li>A letterhead or visiting card of the business.<span><i class="fa fa-upload" aria-hidden="true"></i></span></li>
                </ol>    

                <p style="padding-left: 22px;">	The details of an invoice that includes:</p>
                <ol>
                    <li>	Sale Invoice<span><i class="fa fa-upload" aria-hidden="true"></i></span></li>
                    <li>	Purchase Invoice<span><i class="fa fa-upload" aria-hidden="true"></i></span></li>
                </ol>
            </div><br>

         </div>
       </div>


    </div>
</div>