

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="/dashboard/admin/dist/css/styles/servicesstyl.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

{{!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous"> --}}



<div id="clr"> 
<section class="bg-default py-5" style="color: #00008b; height:500px"  >
    <div class="container my-5" >
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8 text-light">
                        <h1 class="pt-3 mt-5">Income Tax Return	</h1>
                       
                        </div>
                     <div class="col-md-4">
                        <div class="row">
                <div class="col-md-12" id="frm">
                    <div class="card3 shadow-lg" >
                        <div class="card-body one">
                        <div class="filter-sidebar ">
                            <h3 style="margin-left: 10px;">Order select</h3>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" placeholder="Phone No.">
            </div> 
            <div class="form-group">
                <input type="text" class="form-control" placeholder="City">
            </div>
            <div class="form-group">
                <select class="form-control" id="make1">
                  <option selected>Select City</option>
                  <option>Ford</option>
                  <option>Hyundai</option>
                  <option>Kia</option>
                  <option>Honda</option>
                  <option>Skoda</option>
                </select>
             </div>
            <div class="form-group">
                <select class="form-control" id="make1">
                  <option selected>Language</option>
                  <option>Accord</option>
                  <option>Camry</option>
                  <option>Civic</option>
                  <option>Rapid</option>
                  <option>Octavia</option>
                </select>
             </div>
            <hr>
            <button type="btn" class="btn btn-danger"><a href="/cart" style="color: white; text-decoration:none;">ADD to Cart</a></button>
            <div class="pb-3"></div>
          </div>
	    </div>
	</div>
                        </div>
                    </div>
                </div>
            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="c">
    <div class="row p-5" >
<div class="col-lg-3"> 
        
            <div class="menu0"><a href="#m1">Overview</a></div>
            <div class="menu0"><a href="#m2">Procedure to file ITR</a></div>
            <div class="menu0"><a href="#m3">acknowledgment</a></div>
                        <div class="menu0"><a href="#m4">Who should file</a></div>

            <div class="menu0"><a href="#m5">Document required</a></div>
</div>
<div id="details">
    <div id="m1">
         <h3>Income Tax Return	</h3>
                        <h6>An income tax return is a document that helps a taxpayer to declare his income, expenses, tax deductions, investments, etc. Under Income Tax Act 1961, under various scenarios, it is mandatory for a tax payer to file a return. he tax returns have to be filed by a specific date depending on the type of assesses:</h6>
                        <p>• 31st July without tax audit</p>
                        <p>• 30th September with the tax audit</p>
                       
    </div>
<div id="m2">
    <h4>Procedure to file ITR</h4>
    <ul class="a">
        <li>1. Calculation of Income and Tax</li>
        <li>2. Tax Deducted at Source (TDS) certificates and Form 26AS</li>
        <li>3. Choose the right Income Tax Form</li>
        <li>4. Download ITR utility from income tax portal</li>
        <li>5. Fill in your details in the downloaded file</li>
        <li>6. Validate the information entered</li>
        <li>7. Convert the file to XML format</li>
        <li>8. Upload the XML file on the income tax portal and filing</li>

    </ul>
    </div>
<div id="m3">
<h4>Income Tax Return acknowledgment</h4>
<h6 style="font-size:18px;">Once ITR is filed, an acknowledgment slip in duplicate is issued. It consists of details like:</h6>
<ul class="a">
    <li>1. Name</li>
    <li>2. Address </li>
    <li>3. Status</li>
    <li>4. Permanent Account Number </li>
    <li>5. A brief statement of taxable income</li>
    <li>6. Deductions</li>
    <li>7. Tax paid</li>
    <li>8. Verification</li>

</ul>
</div>


<div id="m4">
     <h4>Who should file income tax return?</h4>
    <h6>IAs per the Income Tax Department the entities required to file IT returns annually are:</h6>

<ul class="a">
    <li>1. Every company, be it Private limited, LLP or partnership irrespective of the income or loss must file IT returns</li>
    <li>2. Individuals enjoying income from mutual funds, bonds, stocks, fixed deposits, income from interest, house property,etc</li>
    <li>3. Individuals receiving income from property under charitable trusts, religious trusts or income from voluntary contributions</li>
    <li>4. Individuals or companies who want to claim tax refunds</li>
    <li>5. Salaried persons whose gross income before deductions under section 80C to 80U exceeding the exemption limit</li>
    <li>6. All individuals with foreign income, foreign assets, NRI’s and tech professionals on onsite deputation.</li>
    <li>7 People who have opted for one job from another are also eligible.</li>


</ul>
</div>
<div id="m5">
     <h4>Documents required for Income Tax Filing in India<i class="material-icons">attachment</i></h4>

<ul class="a">
    <li>1.	Bank statements</li>
    <li>2. Proof of investments</li>
    <li>3. T.D.S. Certificates in Form 16 or 16A as applicable</li>
    <li>4. Documents on purchase and sale of investments/assets</li>
    <li>5. Challan of tax paid such as advance tax or self-assessment tax</li>
    <li>6. If PAN is applied but not received, a copy of filed PAN application and its acknowledgment</li>
    <li>7. In case not applied for PAN, a PAN application form duly filled in and two passport size photographs</li>
    <li>8. For businesses - a copy each of the audit report, balance sheet, trading, profit and loss account, personal account of proprietor or partners</li>
    <li>9. Statement of receipts and payments when no regular books are maintained</li>
    <li>10. Receipts of payment of insurance premium, provident purchase of NSCs, new equity shares, mutual fund, NSS, donations, etc. to support claimed deductions</li>



</ul>
</div>

</div>
</div>
    </div>
    </div>
