

<link rel="stylesheet" href="/dashboard/admin/dist/css/styles/servicesstyl.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

{{!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous"> --}}


<div id="clr"> 
<section class="bg-default py-5" style="color: #00008b; height:500px"  >
    <div class="container my-5" >
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8 text-light">
                        <h1 class="pt-3 mt-5">Legal Notice</h1>
                        
                        </div>
                     <div class="col-md-4">
                        <div class="row">
                <div class="col-md-12" id="frm">
                    <div class="card3 shadow-lg" >
                        <div class="card-body one">
                        <div class="filter-sidebar ">
                            <h3 style="margin-left: 10px;">Order select</h3>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" placeholder="Phone No.">
            </div> 
            <div class="form-group">
                <input type="text" class="form-control" placeholder="City">
            </div>
            <div class="form-group">
                <select class="form-control" id="make1">
                  <option selected>Select City</option>
                  <option>Ford</option>
                  <option>Hyundai</option>
                  <option>Kia</option>
                  <option>Honda</option>
                  <option>Skoda</option>
                </select>
             </div>
            <div class="form-group">
                <select class="form-control" id="make1">
                  <option selected>Language</option>
                  <option>Accord</option>
                  <option>Camry</option>
                  <option>Civic</option>
                  <option>Rapid</option>
                  <option>Octavia</option>
                </select>
             </div>
            <hr>
            <button type="btn" class="btn btn-danger"><a href="/cart" style="color: white; text-decoration:none;">ADD to Cart</a></button>
            <div class="pb-3"></div>
          </div>
	    </div>
	</div>
                        </div>
                    </div>
                </div>
            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="c">

    <div class="row p-5" >
<div class="col-lg-3"> 
        
            <div class="menu0"><a href="#m1">Overview</a></div>
            <div class="menu0"><a href="#m2">Checklist</a></div>
            <div class="menu0"><a href="#m5">content of ligela notice </a></div>
                        <div class="menu0"><a href="#m5">Check bounce </a></div>
                                    <div class="menu0"><a href="#m4">Document required</a></div>


</div>
<div id="details" style="margin-top: -400px;">
    <div id="m1">

<h3>Legal Notice</h3>
<h6>A legal notice is an official communication to take legal action against the offender and warn him of his intentions when a specified condition was not complied upon as agreed. We help you draft and send a legal notice. </h6>
                        
    </div><br>
<div id="m2">
    <h4>Checklist for Issuing A Legal Notice	</h4>
    <ul class="a">
        <li>1. Legitimate rights to the property are denied.</li>
        <li>2. A bounced cheque.</li>
        <li>3. Personal disputes i.e divorce, maintenance and custody of children.</li>
        <li>4. To execute a specific performance of the contract.</li>
        <li>5. If the intellectual property of the rightful owner has been infringed.</li>
        <li>6. When employees of any organization are subject to sexual harassment, cruelty and other violation of labor laws.</li>
                <li>7. Unlawful termination from employment.</li>
        <li>8. Payment dispute between the company and its employees or laborers.</li>
        <li>9. Breach of contract by the signatory.</li>

    </ul>

</div>
<div id="m3">
     <h4>Contents of A Legal Notice</h4>

<ul class="a">
    <li>i.	The legal notice contains the basic averment of the affected party.</li>
        <li>ii.	The aggrieved party will make his allegation on the person addressed or receiver.</li>
    <li>iii.	The aggrieved party will state his solution to the dispute.</li>
    <li>iv.	It contains the claim of the aggrieved party to remedy the current issue.</li>
    <li>v.	It will enumerate the civil and penal consequences if the rights and claims of the aggrieved party were not fulfilled.</li>

</ul>
</div>
<div id="m4">
     <h4>Cheque Bounce</h4>
     <p>A cheque bounce is governed by the Section 138 of the Negotiable instruments Act, 1881.A cheque bounces when a bank doesn’t honour a payment. A few of the reason are wrong signature, mismatch of figures written on the cheque (in words and figures) and overwriting. </p>
</div>


<div id="m5">
     <h4>Documents Required for Registration<i class="material-icons">attachment</i></h4>

<ul class="a">
    <li>1. Current Bank Account Statement</li>
    <li>2. Registration certificates or licences from various departments</li>
    <li>3. PAN Card/Passport/Aadhar/Driving License</li>
    <li>4. Address Proof of Sole Proprietor – Electricity Bill/ Gas Bill</li>
</ul>
</div>



</div>
</div>
</div>
</div>

