
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<div class="container1">
    <div class="row" style="background-color: rgb(3, 3, 82);">
        <div class="col-lg-6" id="top1">
           
            <h1>SSI/MSME Registration</h1>
              
        </div>
        <div class="col-lg-6 p-5" id="top2">
            <div class="card0">
                <h2 style="color:darkblue;"><b>Order Select</b></h2>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Phone Number">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="City">
                </div>
                <div class="form-group">
                    <select class="form-control">
                        <option selected>Select state</option>
                        <option>Madhya Pradesh</option>
                        <option>Goa</option>
                        <option>UttarPradesh</option>
                        <option>Punjab</option>
                        <option>Gujrat</option>
                        <option>Maharastra</option>
                    </select>
                </div>
                 <div class="form-group">
                    <select class="form-control">
                        <option selected>Language</option>
                        <option>Accord</option>
                        <option>Camry</option>
                        <option>Civic</option>
                        <option>English</option>
                        <option>Hindi</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="button" value="Add To Cart">
                </div>
            </div>   
        </div>
        
    </div>
    
    <div class="row p-5">
       <div class="col-lg-3"> 
        
            <div class="menu0"><a href="#m2">What are MSME Enterprises?</a></div>
            <div class="menu0"><a href="#m3">Documents Required for registration</a></div>
            <div class="menu0"><a href="#m1">OverView</a></div>
      
       </div> 
       <div class="col-lg-8">
         <div class="details">
             <div id="m1">
                 <h3>
                     SSI/MSME
                 </h3>
                 <p style="padding-left: 22px;">For promoting entrepreneurship, the government provides special benefits to the small businesses in the form of subsidies and incentives. Also, banks give loans at concessional rates to set up these businesses.
                 For availing those, the small businesses need to register under Micro, Small and Medium Enterprises (MSMEs) act. </p>
              

             </div>      <br/>
     
           <div id="m2">
             <h3>
                 What are MSME Enterprises?
             </h3>
             <p style="padding-left: 22px;">MSME enterprises of manufacturing sector can be categorized on the basis of amount invested in plant and machinery –</p>
             <ol>
                 <li>
                     Micro enterprises– Entities investing less than ₹ 25 lakhs in plant and machinery
                 </li>
                 <li>
                     Small enterprises– Entities investing between ₹ 25 lakhs and ₹ 5 crores in plant and machinery
                 </li>
                 <li>
                    Medium enterprises– Entities investing between ₹ 5 crores and ₹ 10 crores in plant and machinery
                 </li>
             </ol>

             <p style="padding-left: 22px;">MSME enterprises in the service sector can be categorized on the basis of amount invested in equipment-</p>
             <ol>
                 <li>
                    Micro enterprises– Entities investing less than ₹ 10 lakhs
                 </li>
                 <li>
                    Small enterprises– Entities investing more than ₹ 10 lakhs but less than ₹ 2 crores
                 </li>
                 <li>
                   Medium enterprises– Entities investing ₹ 2 crores but less than ₹ 5 crores
                 </li>
             </ol>

            </div><br>


            <div id="m3">
                <h3>Documents Required for registration</h3>
                <ol>
                    <li>Business address proof
                        <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
                    </li>
                    <li>Copies of the sale bill and purchase bill
                        <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
                    </li>
                    <li>Partnership deed/ MoA and AoA
                        <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
                        </li>
                    <li>Copy of Licenses
                        <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
                    </li>
                    <li>Bills of Machinery Purchased
                        <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
                        </li>
                </ol>

                <button type="submit" id="btn">Submit</button>
                
            </div><br><br/>

            

         </div>
       </div>


    </div>
</div>
<link rel="stylesheet" href="/dashboard/admin/dist/css/styles/shop&establish.css">