<link rel="stylesheet" href="/dashboard/admin/dist/css/styles/shop&establish.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<div class="container1">
    <div class="row" style="background-color: rgb(3, 3, 82);">
        <div class="col-lg-6" id="top1">
           
            <h1>Name Change</h1>
           
        </div>
        <div class="col-lg-6 p-5" id="top2">
            <div class="card0">
                <h2 style="color:darkblue;"><b>Order Select</b></h2>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Phone Number">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="City">
                </div>
                <div class="form-group">
                    <select class="form-control">
                        <option selected>Select City</option>
                        <option>Ford</option>
                        <option>Kia</option>
                        <option>Honda</option>
                    </select>
                </div>
                 <div class="form-group">
                    <select class="form-control">
                        <option selected>Language</option>
                        <option>Accord</option>
                        <option>Camry</option>
                        <option>Civic</option>
                        <option>English</option>
                        <option>Hindi</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="button" value="Add To Cart">
                </div>
            </div>   
        </div>
        
    </div>
    
    <div class="row p-5">
       <div class="col-lg-3"> 
           <div class="menu0"><a href="#m1">OverView</a></div>
            <div class="menu0"><a href="#m2">Procedure of Name Changer</a></div>
            <div class="menu0"><a href="#m3">Documents required for Online Name Change Application</a></div>
            
      
       </div> 
       <div class="col-lg-8">
         <div class="details">
            <div id="m1">
                <h3>Name Change</h3>
                 <p style="padding-left: 22px;">A name change can be done owing to multiple reasons as per either one’s belief or compulsion.
                 However, whatsoever the reason maybe, name change involves legal processes which have to adhered to. </p>
             

            </div>

            <div id="m2">
             <h3>
               Procedure of Name Change
             </h3>
             <ul>
                 <li>
                     i.	Select or look for a new name before making a Name changing affidavit on a stamp paper. 
                 </li>
                 <li>
                     ii.	An advertisement has to be placed in the national newspaper. Married women changing their name after marriage should write in their husband's name and address in the notification.
                 </li>
                 <li>
                     iii.	Name has to be published in the National Gazette
                 </li>
             </ul>
            </div><br>


            <div id="m3">
                <h3>Documents required for Online Name Change Application</h3>
                <ul>
                    <li>i.	An affidavit on a stamp paper, minimum value should be Rs.10. 
                        <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
                    </li>
                    <li>ii.	The original newspaper cutting of the name change advertisement. A prescribed perform 
                        in printed format duly signed by the applicant and two witnesses.
                        <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
                    </li>
                    <li>
                         iii.	Two passport size photographs.
                         <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
                    </li>
                   <li>
                       iv.	Photocopies of valid ID proof ( PAN card, Aadhar card or passport)
                       <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
                   </li>
                   <li>
                       v.	A CD with a soft copy of the application in .docx format duly filled.
                       <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
                   </li>
                   <li>vi.	A letter stating that the content in the hard and soft copy of the application is true.
                       <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
                   </li>
                   <li>vii.	A request letter along with the registration fee to the authority.
                       <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
                   </li>
                </ul>
            </div><br>

            

         </div>
       </div>


    </div>
</div>