<link rel="stylesheet" href="/dashboard/admin/dist/css/styles/shop&establish.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<div class="container1">
    <div class="row" style="background-color: rgb(3, 3, 82);">
        <div class="col-lg-6" id="top1">
           
            <h1> NGO Registrations</h1>
         
        </div>
        <div class="col-lg-6 p-5" id="top2">
            <div class="card0">
                <h2 style="color:darkblue;"><b>Order Select</b></h2>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Phone Number">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="City">
                </div>
                <div class="form-group">
                    <select class="form-control">
                        <option selected>Select City</option>
                        <option>Ford</option>
                        <option>Kia</option>
                        <option>Honda</option>
                    </select>
                </div>
                 <div class="form-group">
                    <select class="form-control">
                        <option selected>Language</option>
                        <option>Accord</option>
                        <option>Camry</option>
                        <option>Civic</option>
                        <option>English</option>
                        <option>Hindi</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="button" value="Add To Cart">
                </div>
            </div>   
        </div>
        
    </div>
    
    <div class="row p-5">
       <div class="col-lg-3"> 
            
            <div class="menu0"><a href="#m1">OverView</a></div>
            <div class="menu0"><a href="#m2">Acts governing NGO registration process</a></div>
            <div class="menu0"><a href="#m3">Documents required for Trust Registration</a></div>
            <div class="menu0"><a href="#m4">Documents Required for Society registration and Section 8 company</a></div>
      
       </div> 
       <div class="col-lg-9">
         <div class="details">
           
             <div id="m1">
                 <h3>NGO</h3>
                      <p style="padding-left: 22px;">NGO registration is regulated under three acts: Indian Trust Act, Indian Societies Act, and Companies Act. As NGOs are non profit organisation, it is not supposed to distribute its profit to its members
                 as dividend. Instead, the profits are supposed to be reinvested for the social cause the NGO is helping in.  </p>
                
             </div>

            <div id="m2">
             <h3>
                Acts governing NGO registration process
             </h3>
             <p style="padding-left: 22px;">The national authority in India allows for online registration of an NGO under three laws:</p>
             <ul>
                 <li>
                     •	Trust under Public Trusts Act of each state.
                 </li>
                 <li>
                      •	Society under the Societies Registration Act 1860
                 </li>
                 <li>
                    •	Section 8 Company under the Companies Act, 2013
                 </li>
             </ul>
            </div><br>


            <div id="m3">
                <h3>Documents required for Trust Registration</h3>
                <ul>
                    <li>1.	Address proof – Electricity/Gas bill
                        <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
                    </li>
                    <li>2.	ID proof (at least two members of the company) – Voter ID/Driving License/ Passport/Aadhar Card
                        <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
                    </li>
                <p>It takes about 8-10 days for online registration to take place after the payment has been made. </p>
                    
                </ul>
            </div><br>

            <div id="m4">
                <h3>Documents Required for Society registration and Section 8 company</h3>
                <ul>
                    <li>i.	The name of the society
                        <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
                    </li>
                    <li>ii.	Address proof of the office
                        <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
                    </li>
                    <li>iii.	ID Proof - Voter ID/Driving License/ Passport/Aadhar Card
                        <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
                    </li>
                    <li>iv.	Two copies of MoA and By-laws of the society
                        <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
                    </li>
                <p>It takes about 8 to 10 days for drafting the MoA and By-laws of the Society. Thereafter it takes 21 to 30 days for the Society to be registered.</p>   
                </ul>
            </div><br>

           

         </div>
       </div>


    </div>
</div>