
<link rel="stylesheet" href="/dashboard/admin/dist/css/styles/shop&establish.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">



<div class="container1">
    <div class="row" style="background-color: rgb(3, 3, 82);">
        <div class="col-lg-6" id="top1">
       
                        <h1>Nidhi Company</h1>
                        
           </div>
             <div class="col-lg-6 p-5" id="top2">
            <div class="card0">
                <h2 style="color:darkblue;"><b>Order Select</b></h2>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Phone Number">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="City">
                </div>
                <div class="form-group">
                    <select class="form-control">
                        <option selected>Select City</option>
                        <option>Ford</option>
                        <option>Kia</option>
                        <option>Honda</option>
                    </select>
                </div>
                 <div class="form-group">
                    <select class="form-control">
                        <option selected>Language</option>
                        <option>Accord</option>
                        <option>Camry</option>
                        <option>Civic</option>
                        <option>English</option>
                        <option>Hindi</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="button" class="btn1" value="Add To Cart">
                </div>
            </div>   
        </div>
        
    </div>
    
    <div class="row p-5" >
<div class="col-lg-3"> 
        
            <div class="menu0"><a href="#m1">Overview</a></div>
            <div class="menu0"><a href="#m2">Requirements for Registration </a></div>
            <div class="menu0"><a href="#m3">Document required</a></div>
            <div class="menu0"><a href="#m4">Why Choose Us</a></div>
</div>
<div class="col-lg-3">

<div class="details" >
    <div id="m1">
     <h3>Nidhi Company</h3>
      <p style="padding-left: 22px;">A Nidhi Company is recognised under section 406 of the companies act 2013 
          and belongs to the non-banking finance sector in India. They are regulated by
           the Ministry of Corporate Affairs and their core business is borrowing and lending money between their members... </p>
                        
    </div>
   <div id="m2">
    <h3>Requirements to register a Nidhi Company</h3>
    <ul class="a">
        <li>1. A minimum paid-up equity share capital of Rs.5 lakhs is required with sole objective of lending and borrowing within the members.</li>
        <li>2. Company must have Nidhi Ltd after their unique name.</li>
        <li>3. Company should have a minimum of 200 members with a Net Owned Funds of Rs.10 lakhs or more that includes equity share capital and free reserves and excludes accumulated losses and intangible assets. </li>
        <li>4. Term deposits must be 10% or higher of the outstanding deposits.</li>
        <li>5. Maximum ratio of Net owned Funds to deposit must be 1:20 where 10% of the total deposits must be in fixed deposit account of a nationalised bank. </li>
    </ul>
    </div>
<div id="m3">
     <h3>Documents required to register a Nidhi Company<i class="material-icons">attachment</i></h3>
     <p style="padding-left: 22px;">Below are the documents required to be submitted by all the directors – </p>

<ul class="a">
    <li>1. Passport (Foreign Nationals and NRIs)
      <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
                    </li>
      
    </li>
    <li>2. Passport/Voter’s ID/Driver’s Licence
        <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
                    </li>
    </li>
    <li>3. Current Bank Account Statement/Phone Bill/ Electricity or Gas Bill
        <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
                    </li>
    </li>
    <li>4. Passport Sized Photograph
        <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
                    </li>
    </li>
</ul>
</div>


<div id="m4">
     <h3>Why Choose Us? 	</h3>

<ul class="a">
     <li>i.	We help you in reserving your name with the MCA</li>
<li>ii.	We help you in getting 3 DINs and 1 DSC</li>
<li>iii.	We help you from end-to-end registration process. </li>
</ul>
</div>

    </div>
</div>
    </div>
  </div>