
<link rel="stylesheet" href="/dashboard/admin/dist/css/styles/servicesstyl.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

{{!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous"> --}}



ul li,
<div id="clr"> 
<section class="bg-default py-5" style="color: #00008b; height:500px"  >
    <div class="container my-5" >
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8 text-light">
                        <h1 class="pt-3 mt-5">Nidhi Company</h1>
                        
                        </div>
                     <div class="col-md-4">
                        <div class="row">
                <div class="col-md-12" id="frm">
                    <div class="card3 shadow-lg" >
                        <div class="card-body one">
                        <div class="filter-sidebar ">
                            <h3 style="margin-left: 10px;">Order select</h3>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" placeholder="Phone No.">
            </div> 
            <div class="form-group">
                <input type="text" class="form-control" placeholder="City">
            </div>
            <div class="form-group">
                <select class="form-control" id="make1">
                  <option selected>Select City</option>
                  <option>Ford</option>
                  <option>Hyundai</option>
                  <option>Kia</option>
                  <option>Honda</option>
                  <option>Skoda</option>
                </select>
             </div>
            <div class="form-group">
                <select class="form-control" id="make1">
                  <option selected>Language</option>
                  <option>Accord</option>
                  <option>Camry</option>
                  <option>Civic</option>
                  <option>Rapid</option>
                  <option>Octavia</option>
                </select>
             </div>
            <hr>
            <button type="btn" class="btn btn-danger"><a href="/cart" style="color: white; text-decoration:none;">ADD to Cart</a></button>
            <div class="pb-3"></div>
          </div>
	    </div>
	</div>
                        </div>
                    </div>
                </div>
            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="c">
    <div class="row p-5" >
<div class="col-lg-3"> 
        
            <div class="menu0"><a href="#m1">Overview</a></div>
            <div class="menu0"><a href="#m2">Requirements for Registration </a></div>
            <div class="menu0"><a href="#m3">Document required</a></div>
            <div class="menu0"><a href="#m4">Why Choose Us</a></div>
</div>
<div id="details" style="margin-top: -400px;">
    <div id="m1">
 <h3>Nidhi Company</h3>
 <h6>A Nidhi Company is recognised under section 406 of the companies act 2013 and belongs to the non-banking finance sector in India. They are regulated by the Ministry of Corporate Affairs and their core business is borrowing and lending money between their members. . </h6>
                        
    </div>
<div id="m2">
    <h4>Requirements to register a Nidhi Company</h4>
    <ul class="a">
        <li>1. A minimum paid-up equity share capital of Rs.5 lakhs is required with sole objective of lending and borrowing within the members.</li>
        <li>2. Company must have Nidhi Ltd after their unique name.</li>
        <li>3. Company should have a minimum of 200 members with a Net Owned Funds of Rs.10 lakhs or more that includes equity share capital and free reserves and excludes accumulated losses and intangible assets. </li>
        <li>4. Term deposits must be 10% or higher of the outstanding deposits.</li>
        <li>5. Maximum ratio of Net owned Funds to deposit must be 1:20 where 10% of the total deposits must be in fixed deposit account of a nationalised bank. </li>
    </ul>
    </div>
<div id="m3">
     <h4>Documents required to register a Nidhi Company<i class="material-icons">attachment</i></h4>
     <p>Below are the documents required to be submitted by all the directors – </p>

<ul class="a">
    <li>1. Passport (Foreign Nationals and NRIs)</li>
    <li>2. Passport/Voter’s ID/Driver’s Licence</li>
    <li>3. Current Bank Account Statement/Phone Bill/ Electricity or Gas Bill</li>
    <li>4. Passport Sized Photograph</li>
</ul>
</div>


<div id="m4">
     <h4>Why Choose Us? 	</h4>

<ul class="a">
     <li>i.	We help you in reserving your name with the MCA</li>
<li>ii.	We help you in getting 3 DINs and 1 DSC</li>
<li>iii.	We help you from end-to-end registration process. </li>
</ul>
</div>

    </div>
</div>
    </div>
    </div>
