

<link rel="stylesheet" href="/dashboard/admin/dist/css/styles/servicesstyl.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

{{!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous"> --}}
<div id="clr"> 
<section class="bg-default py-5" style="color: #00008b; height:500px"  >
    <div class="container my-5" >
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8 text-light">
                        <h1 class="pt-3 mt-5">One Person Company</h1>
                        </div>
                     <div class="col-md-4">
                        <div class="row">
                <div class="col-md-12" id="frm">
                    <div class="card3 shadow-lg" >
                        <div class="card-body one">
                        <div class="filter-sidebar ">
                            <h3 style="margin-left: 10px;">Order select</h3>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" placeholder="Phone No.">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="City">
            </div>
            <div class="form-group">
                <select class="form-control" id="make1">
                  <option selected>Select City</option>
                  <option>Ford</option>
                  <option>Hyundai</option>
                  <option>Kia</option>
                  <option>Honda</option>
                  <option>Skoda</option>
                </select>
             </div>
            <div class="form-group">
                <select class="form-control" id="make1">
                  <option selected>Language</option>
                  <option>Accord</option>
                  <option>Camry</option>
                  <option>Civic</option>
                  <option>Rapid</option>
                  <option>Octavia</option>
                </select>
             </div>
            <hr>
            <button type="btn" class="btn btn-danger"><a href="/cart" style="color: white; text-decoration:none;">ADD to Cart</a></button>
            <div class="pb-3"></div>
          </div>
	    </div>
	</div>
                        </div>
                    </div>
                </div>
            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="c">
    <div class="row p-5" >
<div class="col-lg-3"> 
        
            <div class="menu0"><a href="#m1">Overview</a></div>
            <div class="menu0"><a href="#m2">Registeration </a></div>
            <div class="menu0"><a href="#m3">Why Choose Us</a></div>
</div>
<div id="details" style="margin-top: -300px;">
<div id="m1">
     <h3>One Person Company</h3>
<h6>As per the new concept introduced in the section 2(62) of the Companies Act 2013, a company can be formed with just 1 director and member and where the compliance requirement is lesser than that of a company. It is beneficial to those entrepreneurs who are in the earlier stages of their business and do not want to register as a sole proprietor business because of unique advantages that One Person Company offers. </h6>

    <h5>Documents Required for OPC Registration (all documents must be scanned and uploaded)<i class="material-icons">attachment</i>
</h5>
    <h5>For Director (all documents must be self-attested before uploading</h5>
    <ul class="a">
        <li>1. Passport (Foreign Nationals and NRIs)</li>
        <li>2. Passport/Voter’s ID/Driver’s Licence</li>
        <li>3. Current Bank Account Statement/Phone Bill/ Electricity or Gas Bill</li>
        <li>4. Passport Sized Photograph</li>
        <li>5. Specimen signature or impression</li>


    </ul>
    </div>
    <div id="m2">
<h4>For Registered Office</h4>
<ul class="a">
    <li>1. Current Bank Account Statement/Phone Bill/ Electricity or Gas Bill</li>
    <li>2. Rental Agreement in English</li>
    <li>3. No Objection Certificate from property owner</li>
    <li>4. Property Deed/Sale Deed in English</li>
</ul>
</div>

<div id="m3">
<h4>Why Choose Us for OPC registration</h4>

<ul class="a">
    <li>1. We make the entire process smooth and quick for you – that is be rest assured that you will have the certificate of incorporation within 15 business working days. </li>
    <li>2. We will help you with all the paperwork making your government interaction convenient.</li>

</ul>

</div>

</div>
</div>
</div>
</div>