

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="/dashboard/admin/dist/css/styles/servicesstyl.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

{{!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous"> --}}



<div id="clr"> 
<section class="bg-default py-5" style="color: #00008b; height:500px"  >
    <div class="container my-5" >
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8 text-light">
                        <h1 class="pt-3 mt-5">Other Service Providers (OSP) License</h1>
                        
                        </div>
                     <div class="col-md-4">
                        <div class="row">
                <div class="col-md-12" id="frm">
                    <div class="card3 shadow-lg" >
                        <div class="card-body one">
                        <div class="filter-sidebar ">
                            <h3 style="margin-left: 10px;">Order select</h3>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" placeholder="Phone No.">
            </div> 
            <div class="form-group">
                <input type="text" class="form-control" placeholder="City">
            </div>
            <div class="form-group">
                <select class="form-control" id="make1">
                  <option selected>Select City</option>
                  <option>Ford</option>
                  <option>Hyundai</option>
                  <option>Kia</option>
                  <option>Honda</option>
                  <option>Skoda</option>
                </select>
             </div>
            <div class="form-group">
                <select class="form-control" id="make1">
                  <option selected>Language</option>
                  <option>Accord</option>
                  <option>Camry</option>
                  <option>Civic</option>
                  <option>Rapid</option>
                  <option>Octavia</option>
                </select>
             </div>
            <hr>
            <button type="btn" class="btn btn-danger"><a href="/cart" style="color: white; text-decoration:none;">ADD to Cart</a></button>
            <div class="pb-3"></div>
          </div>
	    </div>
	</div>
                        </div>
                    </div>
                </div>
            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="c">
    <div class="row p-5" >
<div class="col-lg-3"> 
        
            <div class="menu0"><a href="#m1">Overview</a></div>
            <div class="menu0"><a href="#m2">Document required</a></div>
            <div class="menu0"><a href="#m3">Why Choose Us</a></div>
</div>
<div id="details" style="margin-top: -300px;">
    <div id="m1">
        <h3>Other Service Providers (OSP) License</h3>
<h6>It refers to the services provided in the telecommunication industry like E commerce, tele-medicine, BPO/call centres, Tele-education, telebanking and other IT services. As per the Department of Telecommunication under the Telecom Policy 1999 has made it a mandate to obtain licence for OSP.</h6>
                        
    </div><br/>
<div id="m2">
    <h4>Documents Required for Registration (all documents must be scanned and attested)<i class="material-icons">attachment</i></h4>
    <ul class="a">
        <li>1. Certificate of Incorporation issued by the registrar of Company</li>
        <li>2. MOA and AOA</li>
        <li>3. Board Resolution or POA authorizing the Authorized Signatory</li>
        <li>4. A note on the nature of Business</li>
        <li>5. List of the Directors of the Company</li>
        <li>6.	List of the Shareholders of the Company</li>
    </ul>
    </div>

<div id="m3">
     <h4>Why Choose us for registration?</h4>

<ul class="a">
    <li>1. After giving us your details, we will process your application in 3 working days.</li>
    <li>2. We will help you with all the paperwork making your government interaction convenient.</li>
    <li>3. Our expert and experienced experts will ensure to guide you at every step of the procedure.</li>

</ul>
</div>

</div>
</div>
</div>
</div>
