
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">


<div class="container1">
    <div class="row" style="background-color: rgb(3, 3, 82);">
        <div class="col-lg-6" id="top1">
           
                        <h1>Patent</h1>
                        
         </div>
          <div class="col-lg-6 p-5" id="top2">
            <div class="card0">
                <h2 style="color:darkblue;"><b>Order Select</b></h2>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Phone Number">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="City">
                </div>
               <div class="form-group">
                    
                    <select class="form-control">
                        <option selected>Select state</option>
                        <option>Andhra Pradesh</option>
                        <option>Arunachal Pradesh </option>
                        <option>Assam</option>
                        <option>Bihar</option>
                         <option>Chhattisgarh</option>
                         <option>Goa</option>
                        <option>Gujarat </option>
                        <option>Haryana </option>
                        <option>Himachal Pradesh</option>
                        <option>Jammu and Kashmir</option>
                        <option>Jharkhand</option>
                        <option>Karnataka</option>
                        <option>Kerala</option>
                         <option>Madhya Pradesh</option>
                         <option>Maharashtra</option>
                         <option>Manipur </option>
                         <option>Meghalaya</option>
                         <option>Mizoram</option> 
                        <option>Nagaland</option>
                        <option>Odisha</option>
                        <option>Punjab</option>
                        <option>Rajasthan</option> 
                        <option>Sikkim</option>
                        <option>Tamil Nadu </option>
                         <option>Telangana</option> 
                        <option>Tripura </option>
                        <option>Uttar Pradesh </option>
                         <option>Uttarakhand</option>
                         <option>West Bengal</option>

                    </select>
                </div>
                 <div class="form-group">
                    <select class="form-control">
                        <option selected>Language</option>
                        <option>English</option>
                        <option>Hindi</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="button" class="btn1" value="Add To Cart">
                </div>
            </div>   
        </div>
        
    </div>
    

    <div class="row p-5" >
<div class="col-lg-3"> 
        
            <div class="menu0"><a href="#m1">Overview</a></div>
            <div class="menu0"><a href="#m2"> Procedure for Registration </a></div>
            <div class="menu0"><a href="#m3">Document required</a></div>
</div>
<div id="details" style="margin-top: -300px;">
    <div id="m1">

<h3>Patent</h3>
<p style="padding-left: 22px;">A patent gives its owner the right to prevent others from making, using, importing or selling his/her
     invention without approval.  It involves a search of the intellectual property regulator of India’s database, to check whether there
      exists an object or invention that is the same as or similar to the applicant's invention.  </p>
                        
    </div><br>
<div id="m2">
    <p style="padding-left: 22px;">Procedure of Patent Application	</p>
    <ul class="a">
        <li>1.	Fill in the form and submit your necessary documents</li>
        <li>2.	After receiving documents we will conduct a patentability search for you</li>
        <li>3. We will then draft your patent application</li>
        <li>4. After the final review, we will file the Patent application with Indian Patent office</li>
        <li>5. After submitting all the documents and Patent application, we will mail you the acknowledgement regarding same.</li>
    </ul>

</div>
<div id="m3">
     <p style="padding-left: 22px;">Documents required for filing a Patent in India<i class="material-icons">attachment</i></p>

<ul class="a">
    <li>1. Complete specification (in English)
        {{#if isAuthenticated}}
                          <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                          </span>
                         {{/if}}
    </li>
    <li>2. Drawing(s)
        {{#if isAuthenticated}}
                          <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                          </span>
                         {{/if}}
    </li>
    <li>3. Name, address, and nationality of inventors
         {{#if isAuthenticated}}
                          <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                          </span>
                         {{/if}}

    </li>
    <li>4. Name, address, and nationality of applicants
        {{#if isAuthenticated}}
                          <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                          </span>
                         {{/if}}
    </li>
    <li>5.	Power of Attorney (To be filed in case the application is filed by a patent agent)
        {{#if isAuthenticated}}
                          <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                          </span>
                         {{/if}}
    </li>
        <li>6.	Assignment Deed or Application Form endorsed by the inventor (if the inventors are not the applicants)
            {{#if isAuthenticated}}
                          <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                          </span>
                         {{/if}}
        </li>
    <li>7.	Details of correspond­ing applications filed in other countries (Infor­mation and undertaking under Section 8)
        {{#if isAuthenticated}}
                          <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                          </span>
                         {{/if}}
    </li>
    <li>8.	Verified English translation of the priority application (required for convention applications).
        {{#if isAuthenticated}}
                          <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                          </span>
                         {{/if}}
    </li>
    <li>9.	Verified English translation of the PCT application (required only for national phase applications)
         Agent can verify the English translation of PCT application on behalf of the applicant.
         {{#if isAuthenticated}}
                          <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                          </span>
                         {{/if}}
         
         </li>
    <li>10.	Certified copy of the priority application, if requested by the Controller (required usually for convention 
        applications, but may also be requested for national phase application in case the priority document was not 
        submitted with the International Bureau)
        {{#if isAuthenticated}}
                          <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                          </span>
                         {{/if}}
        </li>
    <li>11.	Sequence listing in computer-readable text format (if any) (no print form is required to be submitted)
        {{#if isAuthenticated}}
                          <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                          </span>
                         {{/if}}
    </li>
    <li>12.	Permission from National Biodiversity Authority (in case any Biological material used in the invention is from India).
        {{#if isAuthenticated}}
                          <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                          </span>
                         {{/if}}
    </li>

</ul>
{{#if isAuthenticated}}
<button type="submit" id="btn">Submit</button>
{{/if}}
</div><br/>

</div>

</div>
</div>
</div>

<link rel="stylesheet" href="/dashboard/admin/dist/css/styles/shop&establish.css">
