

<link rel="stylesheet" href="/dashboard/admin/dist/css/styles/servicesstyl.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

{{!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous"> --}}


<div id="clr"> 
<section class="bg-default py-5" style="color: #00008b; height:500px"  >
    <div class="container my-5" >
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8 text-light">
                        <h1 class="pt-3 mt-5">Patent</h1>
                        
                        </div>
                     <div class="col-md-4">
                        <div class="row">
                <div class="col-md-12" id="frm">
                    <div class="card3 shadow-lg" >
                        <div class="card-body one">
                        <div class="filter-sidebar ">
                            <h3 style="margin-left: 10px;">Order select</h3>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" placeholder="Phone No.">
            </div> 
            <div class="form-group">
                <input type="text" class="form-control" placeholder="City">
            </div>
            <div class="form-group">
                <select class="form-control" id="make1">
                  <option selected>Select City</option>
                  <option>Ford</option>
                  <option>Hyundai</option>
                  <option>Kia</option>
                  <option>Honda</option>
                  <option>Skoda</option>
                </select>
             </div>
            <div class="form-group">
                <select class="form-control" id="make1">
                  <option selected>Language</option>
                  <option>Accord</option>
                  <option>Camry</option>
                  <option>Civic</option>
                  <option>Rapid</option>
                  <option>Octavia</option>
                </select>
             </div>
            <hr>
            <button type="btn" class="btn btn-danger"><a href="/cart" style="color: white; text-decoration:none;">ADD to Cart</a></button>
            <div class="pb-3"></div>
          </div>
	    </div>
	</div>
                        </div>
                    </div>
                </div>
            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="c">

    <div class="row p-5" >
<div class="col-lg-3"> 
        
            <div class="menu0"><a href="#m1">Overview</a></div>
            <div class="menu0"><a href="#m2"> Procedure for Registration </a></div>
            <div class="menu0"><a href="#m3">Document required</a></div>
</div>
<div id="details" style="margin-top: -300px;">
    <div id="m1">

<h3>Patent</h3>
<h6>A patent gives its owner the right to prevent others from making, using, importing or selling his/her invention without approval.  It involves a search of the intellectual property regulator of India’s database, to check whether there exists an object or invention that is the same as or similar to the applicant's invention.  </h6>
                        
    </div><br>
<div id="m2">
    <h4>Procedure of Patent Application	</h4>
    <ul class="a">
        <li>1.	Fill in the form and submit your necessary documents</li>
        <li>2.	After receiving documents we will conduct a patentability search for you</li>
        <li>3. We will then draft your patent application</li>
        <li>4. After the final review, we will file the Patent application with Indian Patent office</li>
        <li>5. After submitting all the documents and Patent application, we will mail you the acknowledgement regarding same.</li>
    </ul>

</div>
<div id="m3">
     <h4>Documents required for filing a Patent in India<i class="material-icons">attachment</i></h4>

<ul class="a">
    <li>1. Complete specification (in English)</li>
    <li>2. Drawing(s)</li>
    <li>3. Name, address, and nationality of inventors</li>
    <li>4. Name, address, and nationality of applicants</li>
    <li>5.	Power of Attorney (To be filed in case the application is filed by a patent agent)</li>
        <li>6.	Assignment Deed or Application Form endorsed by the inventor (if the inventors are not the applicants)</li>
    <li>7.	Details of correspond­ing applications filed in other countries (Infor­mation and undertaking under Section 8)</li>
    <li>8.	Verified English translation of the priority application (required for convention applications).</li>
    <li>9.	Verified English translation of the PCT application (required only for national phase applications) Agent can verify the English translation of PCT application on behalf of the applicant.</li>
    <li>10.	Certified copy of the priority application, if requested by the Controller (required usually for convention applications, but may also be requested for national phase application in case the priority document was not submitted with the International Bureau)</li>
    <li>11.	Sequence listing in computer-readable text format (if any) (no print form is required to be submitted)</li>
    <li>12.	Permission from National Biodiversity Authority (in case any Biological material used in the invention is from India).</li>

</ul>
</div>



</div>
</div>
</div>
</div>

