
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link rel="stylesheet" href="/dashboard/admin/dist/css/styles/servicesstyl.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

{{!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous"> --}}

<div id="clr"> 
<section class="bg-default py-5" style="color: #00008b; height:500px"  >
    <div class="container my-5" >
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8 text-light">
                        <h1 class="pt-3 mt-5">PF Registration</h1>
                       
                        </div>
                     <div class="col-md-4">
                        <div class="row">
                <div class="col-md-12" id="frm">
                    <div class="card3 shadow-lg" >
                        <div class="card-body one">
                        <div class="filter-sidebar ">
                            <h3 style="margin-left: 10px;">Order select</h3>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" placeholder="Phone No.">
            </div> 
            <div class="form-group">
                <input type="text" class="form-control" placeholder="City">
            </div>
            <div class="form-group">
                <select class="form-control" id="make1">
                  <option selected>Select City</option>
                  <option>Ford</option>
                  <option>Hyundai</option>
                  <option>Kia</option>
                  <option>Honda</option>
                  <option>Skoda</option>
                </select>
             </div>
            <div class="form-group">
                <select class="form-control" id="make1">
                  <option selected>Language</option>
                  <option>Accord</option>
                  <option>Camry</option>
                  <option>Civic</option>
                  <option>Rapid</option>
                  <option>Octavia</option>
                </select>
             </div>
            <hr>
            <button type="btn" class="btn btn-danger"><a href="/cart" style="color: white; text-decoration:none;">ADD to Cart</a></button>
            <div class="pb-3"></div>
          </div>
	    </div>
	</div>
                        </div>
                    </div>
                </div>
            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="c">
    <div class="row p-5" >
<div class="col-lg-3"> 
        
            <div class="menu0"><a href="#m1">Overview</a></div>
            <div class="menu0"><a href="#m2">Requirements for Registration </a></div>
            <div class="menu0"><a href="#m3">Document required</a></div>
                        <div class="menu0"><a href="#m4">Socity trust</a></div>

            <div class="menu0"><a href="#m5">Partnership frim</a></div>
            <div class="menu0"><a href="#m6">LLP company</a></div>
            <div class="menu0"><a href="#m7">Employee </a></div>
            <div class="menu0"><a href="#m8">Others</a></div>
            <div class="menu0"><a href="#m9">Why Choose Us</a></div>

</div>
<div id="details" style="margin-top: -880px;">
    <div id="m1">
        <h3>PF Registration</h3>
    <h6>Employees Provident Fund [EPF] is a scheme under the Employees’ Provident Funds and Miscellaneous Provisions Act, 1952. It is regulated under the purview of Employees’ Provident Fund Organisation (EPFO). Estabishment Registration with Employers Provident Fund Organisation (EPFO) is mandatory if the number of employees exceeds 20 and may be obtained voluntarily if the employee's number is less than 20. </h6>
                       
    </div>
<div id="m2">
    <h4>Who has to Register for EPF</h4>
    <h6>To be eligible for PF Registration, an organization has to fulfill the following criteria:</h6>
    <ul class="a">
        <li>1.i.	A factory with the total employee strength of 20 or more.</li>
        <li>2.ii.	An establishment that employs more than 20 persons. Here, the Central Government defines the class of such firms.</li>
        <li>3.iii.	An establishment that has less than 20 workers and has been notified of compulsory registration for not less than 2 months.</li>
<li>iv.	Companies with less than 20 employees (Note: Such companies must issue a notice to the Employees’ Provident Fund Organization in 2 months or less than that)</li>
<li>v.	The employer and the employees of an establishment must mutually agree to apply for PF to the Central PF Commissioner. A notification has to be sent to the Official Gazette from the date of the agreement.</li>


    </ul>
    </div>


<div id="m3">
     <h4>Documents Required for EPF Registration<i class="material-icons">attachment</i></h4>
<h6>1. Proprietorship Firm</h6>
<ul class="a">
<li>1. Name</li>
<li>2. PAN Card</li>
<li>3. ID Proof – Driving License / Passport / Voter Card</li>
<li>4. Address Proof for the premises</li>
<li>5. Residential address proof</li>
<li>6. Telephone number</li>



</ul>
</div>

<div id="m4">
     <h6>2. Society/Trust</h6>
<ul class="a">
    <li>1.	Certification of Incorporation</li>
<li>2.	MOA and By-laws</li>
<li>3.	Pan Card number</li>
<li>4.	Address proof</li>
<li>5.	ID proof</li>


</ul>
</div>

<div id="m5">
<h6>3. Partnership Firms</h6>
<ul class="a">
    <li>1. Certificate of Registration Firms</li>
<li>2. Partnership Deed</li>
<li>3.  ID Proof – Driving License / Passport / Voter Card</li>
<li>4. List of all partners with address proof</li>
<li>5. ID proof of all partners</li>

</ul>
</div>
<div id="m6">
<h6 > 4. LLP/Company</h6>
<ul class="a">
    <li>1. Incorporation Certificate</li>
<li>2.	proof of directors</li>
<li>3.	DSC of directors</li>
<li>4.	List of all directors with address proof </li>
<li>5.	ID proof</li>


</ul>
</div>
<div id="m7">
<h6 >5. Employees</h6>
<ul class="a">
    <li>1.	Name</li>
<li>2.	Date of Joining</li>
<li>3.	Date of birth</li>
<li>4.	Mobile number</li>
<li>5.	Postal address</li>
<li>6. Name of Nominee</li>
<li>7.	Grade</li>
<li>8.	Salary</li>
<li>9.	Designation</li>
<li>10. ID Proof – Driving License / Passport / Voter Card</li>
<li>11. Bank account number with IFSC code</li>
<li>12. Voluntary application</li>
<li>13. Employee details</li>
<li>14. Signature</li>
<li>15. Date of agreement</li>

</ul>
</div>

<div id="m8">
<h6>6. Other Entities</h6>
<ul class="a">
    <li>1. First sale bill.</li>
<li>2. First purchase bill of raw material and machinery.</li>
<li>3. GST Registration Certificate, if registered</li>
<li>4. Bankers details- name, address, branch, IFSC code</li>
<li>5. Record of a monthly strength of the number of employees.</li>
<li>6. Register of salary and wages, all vouchers, all balance sheets from day one to current date of provisional coverage.</li>
<li>7. Salary and PF Statement.</li>
<li>8. Cross cancelled cheque.</li>


</ul>
</div>
<div id="m9">
<h4>Why choose us?</h4>
<ul class="a">
    <li>1. We help you save time in going through the legal complexities of registering PF.</li>
<li>2. Our experts will help you submit the documents to the concerned authority on time..</li>
<li>3. After all the documents have been verified, we help you get you the PF number at the earliest.</li>


</ul>
</div>
</div>
</div>
    </div>
    </div>
