
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link rel="stylesheet" href="/dashboard/admin/dist/css/styles/shop&establish.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">


<div class="container1">
    <div class="row" style="background-color: rgb(3, 3, 82);">
        <div class="col-lg-6" id="top1">
           
                        <h1>PF Registration</h1>
                       
       </div>
         <div class="col-lg-6 p-5" id="top2">
            <div class="card0">
                <h2 style="color:darkblue;"><b>Order Select</b></h2>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Phone Number">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="City">
                </div>
                <div class="form-group">
                    <select class="form-control">
                        <option selected>Select state</option>
                        <option>Madhya Pradesh</option>
                        <option>Goa</option>
                        <option>UttarPradesh</option>
                        <option>Punjab</option>
                        <option>Gujrat</option>
                        <option>Maharastra</option>
                    </select>
                </div>
                 <div class="form-group">
                    <select class="form-control">
                        <option selected>Language</option>
                        <option>Accord</option>
                        <option>Camry</option>
                        <option>Civic</option>
                        <option>English</option>
                        <option>Hindi</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="button" class="btn1" value="Add To Cart">
                </div>
            </div>   
        </div>
        
    </div>
    
    <div class="row p-5" >
         <div class="col-lg-3"> 
        
            <div class="menu0"><a href="#m1">Overview</a></div>
            <div class="menu0"><a href="#m2">Who has to Register for EPF </a></div>
            <div class="menu0"><a href="#m3">Document required</a></div>
              
            <div class="menu0"><a href="#m4">Why Choose Us</a></div>

          </div>

          <div class="col-lg-8">
  <div class ="details" >
    <div id="m1">
        <h3>PF Registration</h3>
    <p style="padding-left: 22px;">Employees Provident Fund [EPF] is a scheme under the Employees’ 
        Provident Funds and Miscellaneous Provisions Act, 1952. It is regulated
         under the purview of Employees’ Provident Fund Organisation (EPFO).
          Estabishment Registration with Employers Provident Fund Organisation (EPFO)
           is mandatory if the number of employees exceeds 20 and may be obtained voluntarily 
           if the employee's number is less than 20. </p>
                       
    </div><br>

    
<div id="m2">
    <h3>Who has to Register for EPF</h3>
    <p style="padding-left: 22px;">To be eligible for PF Registration, an organization has to fulfill the following criteria:</h6>
    <ul class="a">
        <li>i.	A factory with the total employee strength of 20 or more.</li>
        <li>ii.	An establishment that employs more than 20 persons. Here, the Central Government defines the class of such firms.</li>
        <li>iii.	An establishment that has less than 20 workers and has been notified of compulsory registration for not less than 2 months.</li>
<li>iv.	Companies with less than 20 employees (Note: Such companies must issue a notice to the Employees’ Provident Fund Organization in 2 months or less than that)</li>
<li>v.	The employer and the employees of an establishment must mutually agree to apply for PF to the Central PF Commissioner. A notification has to be sent to the Official Gazette from the date of the agreement.</li>


    </ul>
    </div><br>


<div id="m3">
     <h3>Documents Required for EPF Registration<i class="material-icons">attachment</i></h3>
<p style="padding-left: 22px;">1. Proprietorship Firm</p>
<ul class="a">
<li>1. Name
    <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
</li>
<li>2. PAN Card
    <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
</li>
<li>3. ID Proof – Driving License / Passport / Voter Card
    <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
</li>
<li>4. Address Proof for the premises
    <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
</li>
<li>5. Residential address proof
    <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
</li>
<li>6. Telephone number
    <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
</li>



</ul>



         <p style="padding-left: 22px;">2. Society/Trust</p>
               <ul class="a">
                   <li>1.	Certification of Incorporation
                       <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
                   </li>
                   <li>2.	MOA and By-laws
                       <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
                   </li>
                   <li>3.	Pan Card number
                       <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
                   </li>
                  <li>4.	Address proof
                      <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
                  </li>
                   <li>5.	ID proof
                       <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
                   </li>


              </ul>



               <p style="padding-left: 22px;">3. Partnership Firms</p>
                 <ul class="a">
                 <li>1. Certificate of Registration Firms
                     <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
                 </li>
                  <li>2. Partnership Deed
                      <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
                  </li>
                 <li>3.  ID Proof – Driving License / Passport / Voter Card
                     <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
                 </li>
                 <li>4. List of all partners with address proof
                     <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
                 </li>
                 <li>5. ID proof of all partners
                     <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
                 </li>

               </ul>

                <p style="padding-left: 22px;"> 4. LLP/Company</p>
                     <ul class="a">
                         <li>1. Incorporation Certificate
                             <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
                         </li>
                         <li>2.	proof of directors
                             <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
                         </li>
                        <li>3.	DSC of directors
                            <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
                        </li>
                         <li>4.	List of all directors with address proof
                             <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
                              </li>
                         <li>5.	ID proof
                             <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
                         </li>


                    </ul>

               <p style="padding-left: 22px;">5. Employees</p>
                  <ul class="a">
                      <li>1.	Name</li>
                      <li>2.	Date of Joining</li>
                      <li>3.	Date of birth</li>
                      <li>4.	Mobile number</li>
                       <li>5.	Postal address</li>
                      <li>6. Name of Nominee</li>
                      <li>7.	Grade</li>
                        <li>8.	Salary</li>
                       <li>9.	Designation</li>
                       <li>10. ID Proof – Driving License / Passport / Voter Card
                           <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
                       </li>
                        <li>11. Bank account number with IFSC code</li>
                          <li>12. Voluntary application
                              <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
                          </li>
                        <li>13. Employee details</li>
                       <li>14. Signature
                           <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
                       </li>
                       <li>15. Date of agreement</li>

                   </ul>

                <p style="padding-left: 22px;">6. Other Entities</p>
                    <ul class="a">
                        <li>1. First sale bill.
                            <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
                        </li>
                         <li>2. First purchase bill of raw material and machinery.
                             <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
                         </li>
                        <li>3. GST Registration Certificate, if registered
                            <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
                        </li>
                        <li>4. Bankers details- name, address, branch, IFSC code
                            <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
                        </li>
                        <li>5. Record of a monthly strength of the number of employees.
                            <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
                        </li>
                        <li>6. Register of salary and wages, all vouchers, 
                            all balance sheets from day one to current date of provisional coverage.
                            <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
                            </li>
                        <li>7. Salary and PF Statement.
                            <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
                        </li>
                        <li>8. Cross cancelled cheque.
                            <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
                        </li>


                  </ul>
                  <button type="submit" id="btn">Submit</button>

</div><br>
<br>

       <div id="m4">
             <h3>Why choose us?</h3>
                <ul class="a">
                  <li>1. We help you save time in going through the legal complexities of registering PF.</li>
                   <li>2. Our experts will help you submit the documents to the concerned authority on time..</li>
                  <li>3. After all the documents have been verified, we help you get you the PF number at the earliest.</li>


             </ul>
          </div>
    </div>
</div>
</div>
</div>
