

<link rel="stylesheet" href="/dashboard/admin/dist/css/styles/servicesstyl.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{{!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous"> --}}



<div id="clr"> 
<section class="bg-default py-5" style="color: #00008b; height:500px"  >
    <div class="container one my-5" >
        <div class="row one">
            <div class="col-md-12">
                <div class="row " >
                    <div class="col-md-8 text-light">
                        <h1 class="pt-3 mt-5">Private Limited Company.</h1>

                        
                    </div>
                     <div class="col-md-4">
                        <div class="row">
                <div class="col-md-12" id="frm">
                    <div class="card3 shadow-lg" >
                        <div class="card-body one">
                        <div class="filter-sidebar ">
                            <h3 style="margin-left: 0px;">Order select</h3>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" placeholder="Phone No.">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="City">
            </div>
            <div class="form-group">
                <select class="form-control" id="make1">
                  <option selected>Select City</option>
                  <option>Ford</option>
                  <option>Hyundai</option>
                  <option>Kia</option>
                  <option>Honda</option>
                  <option>Skoda</option>
                </select>
             </div>
            <div class="form-group">
                <select class="form-control" id="make1">
                  <option selected>Language</option>
                  <option>Accord</option>
                  <option>Camry</option>
                  <option>Civic</option>
                  <option>Rapid</option>
                  <option>Octavia</option>
                </select>
             </div>
            <hr>
            <button type="btn" class="btn btn-danger"><a href="/cart" style="color: white; text-decoration:none;">ADD to Cart</a></button>
            <div class="pb-3"></div>
          </div>
	    </div>
	</div>
                        </div>
                    </div>
                </div>
            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="c">
<div class="row p-5" >
<div class="col-lg-3"> 
        
            <div class="menu0"><a href="#m1">Overview</a></div>
            <div class="menu0"><a href="#m2">Requirements for Registration </a></div>
            <div class="menu0"><a href="#m3">Process for Registration</a></div>
            <div class="menu0"><a href="#m4">Document required</a></div>
            <div class="menu0"><a href="#m5">Why Choose Us</a></div>
</div>
<div id="details">
<div id="m1">
           <h3>Private Limited Company</h3>
    <h6>If you are looking to start a business, then a Private Limited Company is the highly recommended way to start in India. Registered under the Companies Act, 2003, it is a company that is privately held for small businesses. It is owned by a small group of members called the shareholders and the objectives are also pre defined. Section 2(68) of the Companies Act defines Private Limited Company as – </h6>
    <h5 >A company having a minimum paid-up share capital as may be prescribed, and which by its articles, - </h5>
    <ul class="a">
                            <li>1. Restricts the right to transfer its shares</li>
                            <li>2. Except in case of One Person Company, limits of the number of its members to two hundred</li>
                            <li>3. Prohibits any invitation to the public to subscribe for any securities of the company</li>
                    </ul>
</div>
<div id="m2">
<h4>Requirements for Registration</h4>
<h6>According to the Companies Act 2003, below are the requirements for any company to be registered in India</h6>
<ul class="a">
    <li><b>Members</b> – Before the registration of the company, a minimum of 2 members and a maximum of 200 members or shareholders are required as per the companies act.</li>
    <li><b>Name</b> – The name of the business should be unique and should not match with the existing registered companies. Also, it is necessary that companies use the word Private Limited Company at the end of the name. </li>
    <li><b>Directors</b> – To register the company, a minimum of two directors are required. They must have their Director Identification Number (DIN) which is given to them by the Ministry of Corporate Affairs (MCA). Also, one of the directors must be a resident of India. </li>
    <li><b>Registered Office</b> – Until the company is registered, the owner should provide temporary address of the company. And after it is registered, the permanent address of its registered office should be suited with the registrar of the company. </li>
    <li><b>Digital Signature Certificate</b> – In today’s fast and technological world, everything is done electronically. Thus to submit all your documents online, every company must obtain a digital signature certificate which is used to authenticate the documents. </li>
</ul>
</div>
<div id="m3">
<h4>Process to Register a Company Online</h3>
<h6>Below are the rules and regulations governed by the Ministry of Corporate Affairs to register a company online – </h6>
<ul class="a">
    <li><b>Step 1:</b> Application for DSC (Digital Signature Certificate).</li>
    <li><b>Step 2:</b> Apply for the DIN (Director Identification Number)</li>
    <li><b> Step3:</b> Application for the name availability.</li>
    <li><b>Step 4:</b> Filing of the EMoa and EAOA to register private limited company</li>
    <li><b>Step 5:</b> Apply for the PAN and TAN of the company</li>
    <li><b>Step 6:</b> Issued certificate of incorporation by RoC with PAN and TAN</li>
    <li><b>Step 7:</b> Opening a current bank account on company name</li>
</ul>
</div>
<div id="m4">
<h4>Documents required for online registration<i class="material-icons">attachment</i></h4>

<h5>Mentioned below are the documents needed and accepted by MCA for online registration – </h6><div>
<ul class="a">
    <li>Scanned copy of PAN Card or Passport (Foreign Nationals & NRIs)</li>
    <li>Scanned copy of Voter’s ID/Passport/Driver’s License</li>
    <li>Scanned copy of the latest bank statement/telephone or mobile bill/electricity or gas bill</li>
    <li>Scanned passport-sized photograph specimen signature (blank document with signature [directors only])</li>
</ul>
<h6>For the foreign nationals, apostilled or notarized copy of the passport has to be submitted mandatorily. All documents submitted should be valid. The residence proof documents like the bank statement or the electricity bill must be less than 2 months old.</h6>
</div><br/>
<div id="m5">
<h4>Why Choose Us?</h4>
<h6>Well, the biggest advantage for choosing us is that you do not have to run here and there to register your business, as we take care of that online while you are seated at your home. The entire process of Company Registration can be done within 14 days which includes</h6>
<ul class="a">
    <li>Register your directors with the MCA (Ministry of Corporate Affairs)</li>
    <li>Get guidance to choose the right company name</li>
    <li>Draft your company's constitution (MoA and AoA)</li>
    <li>iv.	A Certificate of Incorporation (CoI), along with PAN and TAN can be received post approval of the company registration process</li>
</ul>
<h5>Our affordable package is inclusive of the following fee – </h6>
<ul class="a">
    <li>DIN and DSC for two Directors</li>
    <li>Drafting of MoA & AoA</li>
    <li>Registration fees and stamp duty</li>
    <li>Company Incorporation Certificate</li>
    <li>Company PAN and TAN</li>
</ul>
</div>
</div>
</div>
</div>
</div>
