
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<div class="container1">
    <div class="row" style="background-color: rgb(3, 3, 82);">
        <div class="col-lg-6" id="top1">
           
                        <h1>Proprietorship Firm</h1>
                        
         </div>
                 <div class="col-lg-6 p-5" id="top2">
            <div class="card0">
                <h2 style="color:darkblue;"><b>Order Select</b></h2>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Phone Number">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="City">
                </div>
                <div class="form-group">
                    <select class="form-control">
                        <option selected>Select state</option>
                        <option>Madhya Pradesh</option>
                        <option>Goa</option>
                        <option>UttarPradesh</option>
                        <option>Punjab</option>
                        <option>Gujrat</option>
                        <option>Maharastra</option>
                    </select>
                </div>
                 <div class="form-group">
                    <select class="form-control">
                        <option selected>Language</option>
                        <option>Accord</option>
                        <option>Camry</option>
                        <option>Civic</option>
                        <option>English</option>
                        <option>Hindi</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="button" class="btn1" value="Add To Cart">
                </div>
            </div>   
        </div>
        
    </div>
    

    <div class="row p-5" >
        <div class="col-lg-3"> 
        
            <div class="menu0"><a href="#m1">Overview</a></div>
            <div class="menu0"><a href="#m2"> Registration </a></div>
            <div class="menu0"><a href="#m3">Document required</a></div>
            <div class="menu0"><a href="#m4">Why Choose Us</a></div>
</div>

<div class="col-lg-8">
<div class="details" >
    <div id="m1">

<h3>Proprietorship Firm</h3>
<p style="padding-left: 22px;">A sole proprietorship firm is the easiest to form as one person is the owner and is solely liable 
    for all the debts and liabilities of the business. Any person who wants to start a business without
     getting into complex legal formalities, proprietorship firm is the best way to start. However,
      the sole proprietor must be a citizen and resident of India. </p>
                        
    </div>
<div id="m2">
    <h3>How to Register a Sole Proprietorship?	</h3>
    <ul class="a">
        <p style="margin-left: 70px;">To register a sole proprietorship, no specific legal registration is required. But to avoid any complicated legal scenarios, it is advisable to apply for a few licenses under various laws – </p>
        <li>1. Under Shop and Establishment Act </li>
        <li>2. Under MSMED (Micro, Small, Medium Enterprises Development) Act</li>
        <li>3. Under GST (Goods and Service Tax)</li>
        <li>4. Under Trademark</li>
        <li>5. According to the nature of business</li>
    </ul>

</div>
<div id="m3">
     <h3>Documents Required for Registration<i class="material-icons">attachment</i></h3>

<ul class="a">
    <li>1. Current Bank Account Statement
        <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
    </li>
    <li>2. Registration certificates or licences from various departments
        <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
    </li>
    <li>3. PAN Card/Passport/Aadhar/Driving License
        <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
    </li>
    <li>4. Address Proof of Sole Proprietor – Electricity Bill/ Gas Bill
        <span>
                            <div class="upload-btn-wrapper">
                            <button class="btn"><i class="fa fa-upload" aria-hidden="true"></i></button>
                            <input type="file" name="myfile" />
                            </div>
                        </span>
    </li>
</ul>

<button type="submit" id="btn">Submit</button>

</div><br><br>


<div id="m4">
     <h3>Why Choose us for registration?</h3>

<ul class="a">
    <li>i.	Our experts will help you with a smooth registration process be it registration with service tax, sales tax, import/export code, professional tax. </li>
        <li>ii.	We help you connect with established vendor who will help you keep an update on the end-to-end progress. </li>
    <li>iii.	We will help you with quick and hustle free service. </li>

</ul>
</div>

</div>
</div>
</div>
</div>

<link rel="stylesheet" href="/dashboard/admin/dist/css/styles/shop&establish.css">