<link rel="stylesheet" href="/dashboard/admin/dist/css/styles/shop&establish.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<div class="container1">
    <div class="row" style="background-color: rgb(3, 3, 82);">
        <div class="col-lg-6" id="top1">
           
            <h1>Relinquishment deed</h1>
             
        </div>
        <div class="col-lg-6 p-5" id="top2">
            <div class="card0">
                <h2 style="color:darkblue;"><b>Order Select</b></h2>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Phone Number">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="City">
                </div>
                <div class="form-group">
                    <select class="form-control">
                        <option selected>Select City</option>
                        <option>Ford</option>
                        <option>Kia</option>
                        <option>Honda</option>
                    </select>
                </div>
                 <div class="form-group">
                    <select class="form-control">
                        <option selected>Language</option>
                        <option>Accord</option>
                        <option>Camry</option>
                        <option>Civic</option>
                        <option>English</option>
                        <option>Hindi</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="button" value="Add To Cart">
                </div>
            </div>   
        </div>
        
    </div>
    
    <div class="row p-5">
       <div class="col-lg-3"> 
        
            <div class="menu0"><a href="#m1">OverView</a></div>
            <div class="menu0"><a href="#m2">Documents Required to Create A Relinquishment Deed </a></div>
            
      
       </div> 
       <div class="col-lg-8">
         <div class="details">
            <div id="m1">
             <h3>
               Relinquishment deed
             </h3>
             <p style="padding-left: 22px;">Relinquishment deed is a legal document/instrument where a person legally or
                  formally gives up or releases his legal rights of the said property being relinquished in the
                   name of some other person. This is one of the modes of transferring rights of an immovable property. However,
                  in order for the transfer to be a release or relinquishment, the parties involved must be co-owners of the property.</p>
              
            </div><br>


            <div id="m2">
                <h3>Documents Required to Create A Relinquishment Deed </h3>
                <ul>
                    <li>i.	Particulars required for a Release Deed<span><i class="fa fa-upload" aria-hidden="true"></i></span></li>
                    <li>ii.	Name of the Releasor, Age, Address<span><i class="fa fa-upload" aria-hidden="true"></i></span></li>
                    <li>iii.	Name of the Releasee, Age, Address<span><i class="fa fa-upload" aria-hidden="true"></i></span></li>
                    <li>iv.	Property description<span><i class="fa fa-upload" aria-hidden="true"></i></span></li>
                    <li>
                        v.	If release on payment of consideration, then Details on consideration<span><i class="fa fa-upload" aria-hidden="true"></i></span>
                    </li>
                   
                </ul>
            </div><br>

            

         </div>
       </div>


    </div>
</div>