<link rel="stylesheet" href="/dashboard/admin/dist/css/styles/shop&establish.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<div class="container1">
    <div class="row" style="background-color: rgb(3, 3, 82);">
        <div class="col-lg-6" id="top1">
           
            <h1>Shops & Establishment Registrations</h1>
           
        </div>
        <div class="col-lg-6 p-5" id="top2">
            <div class="card0">
                <h2 style="color:darkblue;"><b>Order Select</b></h2>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Phone Number">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="City">
                </div>
                <div class="form-group">
                    <select class="form-control">
                        <option selected>Select City</option>
                        <option>Ford</option>
                        <option>Kia</option>
                        <option>Honda</option>
                    </select>
                </div>
                 <div class="form-group">
                    <select class="form-control">
                        <option selected>Language</option>
                        <option>Accord</option>
                        <option>Camry</option>
                        <option>Civic</option>
                        <option>English</option>
                        <option>Hindi</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="button" value="Add To Cart">
                </div>
            </div>   
        </div>
        
    </div>
    
    <div class="row p-5">
       <div class="col-lg-3"> 
             
             <div class="menu0"><a href="#m0">OverView</a></div>
            <div class="menu0"><a href="#m1">Who should register?</a></div>
            <div class="menu0"><a href="#m2">Documents required to register</a></div>
            <div class="menu0"><a href="#m3">Information required </a></div>
            <div class="menu0"><a href="#m4">Procedure to Register</a></div>
      
       </div> 
       <div class="col-lg-9">
         <div class="details">
             <div id="m0">
                 <h3>Shop And Establishment</h3>
                  <p style="padding-left: 22px;">When an entity employs people who may be casual workers,
                 full time employees, contract based etc, to regulate the work conditions and ensure the workers’ rights 
                 are protected, it is mandatory to get registered under the Shops and Establishments Act, informally called Shop Licence. </p>
                
             </div>
            <div id="m1">
             <h3>
                 Who should register?
             </h3>
             <ol>
                 <li>
                     	Individuals running a shop or having an office or place where they are carrying out business activity
                 </li>
                 <li>
                      	All entities having an office (and/or branch) where any commercial activity is being carried out
                 </li>
             </ol>
            </div><br>


            <div id="m2">
                <h3>Documents required to register</h3>
                <ol>
                    <li>Passport size photo of the applicant.<span><i class="fa fa-upload" aria-hidden="true"></i></span></li>
                    <li>Photo of the shop along with the owner.<span><i class="fa fa-upload" aria-hidden="true"></i></span></li>
                    <li>	List of management employees and directors, if applicable.<span><i class="fa fa-upload" aria-hidden="true"></i></span></li>
                    <li>Details of employees, their wage rates and the company.<span><i class="fa fa-upload" aria-hidden="true"></i></span></li>
                    <li>Address proof of establishment.<span><i class="fa fa-upload" aria-hidden="true"></i></span></li>
                    <li>	Affidavit to be shared with the applicant.<span><i class="fa fa-upload" aria-hidden="true"></i></span></li>
                </ol>
            </div><br>

            <div id="m3">
                <h3>Information required before Shop & Establishment license</h3>
                <ol>
                    <li>Employer’s name and manager name.</li>
                    <li>	Postal address of the establishment.</li>
                    <li>	Name of the establishment.</li>
                    <li>	Establishment category of the restaurant, amusement park, hotel etc.</li>
                    <li>	The number of employees.</li>
                </ol>
            </div><br>

            <div id="m4">
                <h3>Procedure to Register</h3>
                <ol>
                    <li>Fill in the form</li>
                    <li>Submit the necessary documents</li>
                    <li>We will create your application and file them with concerned authorities</li>
                    <li>Once the certificate is issued we will send it through courier</li>
                </ol>
            </div><br>

         </div>
       </div>


    </div>
</div>