

<link rel="stylesheet" href="/dashboard/admin/dist/css/styles/servicesstyl.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

{{!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous"> --}}



<div id="clr"> 
<section class="bg-default py-5" style="color: #00008b; height:500px"  >
    <div class="container my-5" >
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8 text-light">
                        <h1 class="pt-3 mt-5">Tax Registrations</h1>
                                        </div>
                     <div class="col-md-4">
                        <div class="row">
                <div class="col-md-12" id="frm">
                    <div class="card3 shadow-lg" >
                        <div class="card-body one">
                        <div class="filter-sidebar ">
                            <h3 style="margin-left: 10px;">Order select</h3>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
                <input type="number" class="form-control" placeholder="Phone No.">
            </div> 
            <div class="form-group">
                <input type="text" class="form-control" placeholder="City">
            </div>
            <div class="form-group">
                <select class="form-control" id="make1">
                  <option selected>Select City</option>
                  <option>Ford</option>
                  <option>Hyundai</option>
                  <option>Kia</option>
                  <option>Honda</option>
                  <option>Skoda</option>
                </select>
             </div>
            <div class="form-group">
                <select class="form-control" id="make1">
                  <option selected>Language</option>
                  <option>Accord</option>
                  <option>Camry</option>
                  <option>Civic</option>
                  <option>Rapid</option>
                  <option>Octavia</option>
                </select>
             </div>
            <hr>
            <button type="btn" class="btn btn-danger"><a href="/cart" style="color: white; text-decoration:none;">ADD to Cart</a></button>
            <div class="pb-3"></div>
          </div>
	    </div>
	</div>
                        </div>
                    </div>
                </div>
            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="c">
    <div class="row p-5" >
<div class="col-lg-3"> 
        
            <div class="menu0"><a href="#m1">Overview</a></div>
            <div class="menu0"><a href="#m2">GST tax rated </a></div>
            <div class="menu0"><a href="#m3">GSTIN</a></div>
            <div class="menu0"><a href="#m4">Document required</a></div>
            <div class="menu0"><a href="#m5">Panelty for GST</a></div>
            <div class="menu0"><a href="#m6">Online registration</a></div>

</div>
<div id="details" style="margin-top: -600px;">
    <div id="m1">

        <h3>1. Goods & Service Tax Registration	</h3>
     <h6>Introduced in India from the year July 2017, Goods & Service Tax (GST) registration is mandatory if the annual turnover exceeds more than Rs. 40 lakhs (10 lakhs for NE & Hill states) as per the latest amendment from 1st April 2019. However, for some specific business, even if the turnover does not exceed the said limit, they still have to register. GST is charged at every stage of the supply chain with full set-off benefits available. </h6>
                
    </div>
<div id="m2">
    <h4>What are the GST tax rates?</h4>
    <ul class="a">
        <li>1. i.	Items that are considered basic necessities come under exempt list i.e. they are not taxed.</li>
        <li>2. ii.	Household necessities and life-saving drugs etc. are taxed at 5%.</li>
        <li>3. iii.	Products like computers and processed food are taxed at 12%.</li>
        <li>4. iv.	Hair oil, toothpaste and soaps, capital goods, industrial intermediaries and services are taxed at 18%.</li>
        <li>5. v.	Luxury items are taxed at 28%.</li>
    </ul>
        <p>You can see the tax rates for all the products here: https://cbec-gst.gov.in/gst-goods-services-rates.html</p>
    </div>


<div id="m3">
     <h4>What is GSTIN?</h4>
<h6 style="font-size:18px;">GSTIN is a unique identification number given to each GST taxpayer. To verify a GSTIN number a person who has a GST number can log onto the GST portal.</h6>
</div>
<div id="m4">
    <h4>Documents Required for GST Registration<i class="material-icons">attachment</i></h4>
<ul class="a">
    <li>1. PAN of the Applicant</li>
    <li>2. Aadhaar card</li>
    <li>3. Proof of business registration or Incorporation certificate</li>
    <li>4. Identity and Address proof of Promoters/Director with Photographs</li>
    <li>5. Address proof of the place of business</li>
    <li>6. Bank Account statement/Cancelled cheque</li>
    <li>7. Digital Signature</li>
    <li>8. Letter of Authorization/Board Resolution for Authorized Signatory</li>

</ul>
</div>


<div id="m5">
     <h4>Penalty for not registering GST</h4>
    <h6>When an offender is making short payment or not paying taxes (genuine reasons), a penalty of 10% of the total taxes due or Rs. 10000 whichever is higher is imposed. However if the offender deliberately evades paying the taxes, penalty will be 100% of the tax amount. </h6>
</div>
<div id="m6">
    <h4>GST Online Registration Process</h4>
<ul class="a">
    <li>1.i.	Filing of Application for GST Registration</li>
    <li>ii.	Secure GST Identification Number</li>
<li>iii.	Dedicated manager to process your GST registration end to end.</li>

</ul>
</div>


</div>
</div>
    </div>
    </div>

