
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<div class="container1">
    <div class="row" style="background-color: rgb(3, 3, 82);">
        <div class="col-lg-6" id="top1">
           
            <h1>Web-or-app Related</h1>
             
        </div>
        <div class="col-lg-6 p-5" id="top2">
            <div class="card0">
                <h2 style="color:darkblue;"><b>Order Select</b></h2>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Phone Number">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="City">
                </div>
               <div class="form-group">
                    <select class="form-control">
                        <option selected>Select state</option>
                        <option>Madhya Pradesh</option>
                        <option>Goa</option>
                        <option>UttarPradesh</option>
                        <option>Punjab</option>
                        <option>Gujrat</option>
                        <option>Maharastra</option>
                    </select>
                </div>
                 <div class="form-group">
                    <select class="form-control">
                        <option selected>Language</option>
                        <option>Accord</option>
                        <option>Camry</option>
                        <option>Civic</option>
                        <option>English</option>
                        <option>Hindi</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="button" value="Add To Cart">
                </div>
            </div>   
        </div>
        
    </div>
    
    <div class="row p-5">
       <div class="col-lg-3"> 
        
            <div class="menu0"><a href="#m1">Terms of Service, Privacy Policy and Disclaimer</a></div>
            <div class="menu0"><a href="#m2">How can we help?</a></div>
            
      
       </div> 
       <div class="col-lg-8">
         <div class="details">
            <div id="m1">
             <h3>
               Terms of Service, Privacy Policy and Disclaimer
             </h3>
             <p style="padding-left: 22px;">Every online business needs to specify a detail description of their terms and conditions and the privacy policy eminently featured on their online site. It is a legal relationship 
                 with everyone who visits your website, regardless of whether they buy anything or even identify themselves.</p>
                 <p style="padding-left: 22px;">A disclaimer is a declaration communicated to the buyer of any merchandise or service, of the likely consequences of purchasing and using a particular product. 
                     It is specifically defined and showcased on products which raises a concern for safety or ambiguity.</p>
             
            </div><br>


            <div id="m2">
                <h3>How can we help?</h3>
                <ul>
                    <li>i.	We will help you with verified lawyers who can render a professional service at all cost.</li>
                    <li>ii.	We help in smooth movement of the legal process</li>
                    <li>iii.	Our experts are always there to help in case of any queries</li>
                   
                </ul>
            </div><br>

            

         </div>
       </div>


    </div>
</div>
<link rel="stylesheet" href="/dashboard/admin/dist/css/styles/shop&establish.css">