<link rel="stylesheet" href="/dashboard/admin/dist/css/styles/shop&establish.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<div class="container1">
    <div class="row" style="background-color: rgb(3, 3, 82);">
        <div class="col-lg-6" id="top1">
           
            <h1>Will Probate</h1>
            
        </div>
        <div class="col-lg-6 p-5" id="top2">
            <div class="card0">
                <h2 style="color:darkblue;"><b>Order Select</b></h2>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Phone Number">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="City">
                </div>
                <div class="form-group">
                    <select class="form-control">
                        <option selected>Select City</option>
                        <option>Ford</option>
                        <option>Kia</option>
                        <option>Honda</option>
                    </select>
                </div>
                 <div class="form-group">
                    <select class="form-control">
                        <option selected>Language</option>
                        <option>Accord</option>
                        <option>Camry</option>
                        <option>Civic</option>
                        <option>English</option>
                        <option>Hindi</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="button" value="Add To Cart">
                </div>
            </div>   
        </div>
        
    </div>
    
    <div class="row p-5">
       <div class="col-lg-3"> 
        
            <div class="menu0"><a href="#m1">OverView</a></div>
            <div class="menu0"><a href="#m2">Documents Required For A Probate?</a></div>
            
      
       </div> 
       <div class="col-lg-8">
         <div class="details">
            <div id="m1">
             <h3>
               Will Probate
             </h3>
             <p style="padding-left: 22px;">In legal terms, probate is the legal process by which a will is validated by the court as the last will of a deceased testator.</p>
            </div><br>


            <div id="m2">
                <h3>Documents Required For A Probate?</h3>
                <ul>
                    <li>i.	A copy of the will, if one was created.<span><i class="fa fa-upload" aria-hidden="true"></i></span></li>
                    <li>ii.	The municipal death certificate of the testator.<span><i class="fa fa-upload" aria-hidden="true"></i></span></li>
                    <li>
                        iii.	A letter stating that the testator was of sound mind when preparing the final will.<span><i class="fa fa-upload" aria-hidden="true"></i></span>
                    </li>
                   <li>
                       iv.	Proof that the will has been executed by the testator.<span><i class="fa fa-upload" aria-hidden="true"></i></span>
                   </li>
                  
                </ul>
            </div><br>

            

         </div>
       </div>


    </div>
</div>